[2019-01-31 18:55] #317 closed

[2019-01-31 19:03] martje127 commented on #285
the agents are removed if there health is below zero

[2019-01-31 19:03] #285 closed

[2019-01-31 19:22] Joshua260403 commented on #246
Let's free @EllyJet of this issue, time to move on!

[2019-01-31 20:01] Joshua260403 opened #347 "Right clicking a tile must remove it"
You must be able to delete a tile by right clicking it.

Should be simple....

[2019-01-31 20:18] Joshua260403 opened #348 "Add whale agent"
Add a whale to live in the water

[2019-01-31 20:18] Joshua260403 opened #349 "Add octopus agent"
Add octopus to live in the water

[2019-01-31 20:20] Joshua260403 opened #350 "fish die on land"
A fish must die when it isn't on a water tile

[2019-01-31 20:27] Joshua260403 opened #351 "Vote on the new Team Octane logo (for the absent)"
It is time, the highest time, to create a new Team Octane logo! May the best logo win!

### Rules:
* Copyright free
* Made by yourself
* No inappropriate content
* Relevant to the team in any way
* File format: PNG (transparent) or JPEG (i'll make it transparent if it gets chosen)

To participate either attach the file to your comment or upload it to a hosting site and embed the image like this: `

[2019-01-31 20:36] richelbilderbeek commented on #318
Moved to here, as the Travis build fails. A medior will know what to do here :+1:

[2019-01-31 20:38] richelbilderbeek commented on #323
Moved to here, as the Travis build fails. A medior will know what to do here :+1:

Set it to high priority, as for a medior doing this fast is important.

[2019-01-31 20:48] Joshua260403 commented on #318
The tiles at the top are very nice, but i would like the original tiles to 1. not overlap and 2. have the agents on them (the cows are on the top tiles)

Saying this, why don't you reorder all of the tiles (and the agents too).

[2019-01-31 20:55] richelbilderbeek opened #352 "Grass must have more randomness in their health"
**Is your feature request related to a problem? Please describe.**

Currently, all grasses duplicate at the same moment. It would be more realistic if these would do so more gradually

**Describe the solution you'd like**

 * The initial grasses must have a random health
 * When grasses divide, do not give both agents an exactly equal amount of health, but use a random percentage between e.g. 50-4

[2019-02-01 14:52] richelbilderbeek commented on #246
You did it @martje127! It's even already merged to develop!

Closing this Issue...

[2019-02-01 16:22] richelbilderbeek commented on #325
Moved to here, as the Travis build fails. A medior will know what to do here :+1:

Set it to high priority, as for a medior doing this fast is important.

[2019-02-01 16:31] richelbilderbeek opened #354 "Add tile type 'desert'"
**Is your feature request related to a problem? Please describe.**

There is no `tile_type` called `desert` yet.

**Describe the solution you'd like**

Add `desert` to the `enum class`.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-02-01 16:33] richelbilderbeek opened #355 "Rename 'dessert' to 'desert'"
**Is your feature request related to a problem? Please describe.**

The barren land type the Sahara consists of is called a desert. Some commented-out tests, however, use the word 'dessert', which is a part of a meal.

**Describe the solution you'd like**

Rename all uses of the tile type 'dessert' to 'desert'.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-02-01 16:38] richelbilderbeek opened #356 "Simplify 'get_all_tile_types'"
**Is your feature request related to a problem? Please describe.**

Currently, `get_all_tile_types` is straightforward, yet clumsy:

[code]

A superior way is to use an (implicit) initializer list.

**Describe the solution you'd like**

Rewrite the function to:

[code]

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-02-01 16:42] richelbilderbeek opened #357 "Use '&&' instead of 'and'"
**Is your feature request related to a problem? Please describe.**

Currently, this function uses `and` instead of `&&`. Although they do the same, using `&&` is the standard.

[code]

**Describe the solution you'd like**

Replace the `and`s by `&&`s.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-02-01 16:49] richelbilderbeek opened #358 "More expressive tests for 'can_eat'"
**Is your feature request related to a problem? Please describe.**

Currently, `can_eat` is tested as such:

[code]

It tests that `can_eat` 'does something'.

It would be superior if it actually tests the food web.

**Describe the solution you'd like**

Replace the test by a multiple simple food web tests:

Something like this:

[code]

Yup, this will not compile, as one cannot use `{` and `}` in

[2019-02-01 16:53] richelbilderbeek commented on #300
Hmmm, the test does not pass. Please make it so :+1:

[2019-02-01 16:59] richelbilderbeek commented on #244
When Issues #353 and #354 are closed, uncomment the tests in

[code]

[2019-02-01 18:23] Joshua260403 opened #359 "Create int to string function for AppVeyor"
AppVeyor fails because of std::tostring(int)

Create an alternative

[2019-02-01 18:37] richelbilderbeek commented on #359
I implemented a local solutiion using the might std::stringstring. Read and enjoy :+1:

[2019-02-01 18:37] #359 closed

[2019-02-01 18:42] Joshua260403 commented on #318
close for now, will get back to this once all merges can be done

[2019-02-01 18:42] #318 closed

[2019-02-01 18:49] robkruger commented on #302
I changed the test, because prev_score was given the decreased value because the line was after the call to process_events() and thus kill_agents().

[2019-02-01 19:26] Joshua260403 opened #360 "Tiles move too far."
When moving a tile next to another one, you will see that it is misplaced. Fix this. I believe tiles should move 115 pixels.

This is a high priority Issue, as the merging of tiles depends on this.

[2019-02-01 19:33] robkruger opened #361 "Game crashes when deleting a selected tile"
### Issue Description
Describe here what the issue is

Currently, the tiles can get removed by right-clicking them. It works, but if the tile is selected and you right-click the tile, the game crashes. The error is:  `terminate called after throwing an instance of 'std::runtime_error'
  what():  ID not found`

Fix that.

[2019-02-01 19:43] Joshua260403 commented on #354
Duplicate of #355

[2019-02-01 19:43] Joshua260403 commented on #355
Redundant

[2019-02-01 19:44] #355 closed

[2019-02-01 20:26] richelbilderbeek opened #362 "Display mouse speed in top-left of the screen"
**Is your feature request related to a problem? Please describe.**

The game is called 'Nature Zen', so it should be Zen to play. Mouse speed should thus be Zen as well. First step: display the mouse speed in the top-left of the screen, under the number of ticks.

**Describe the solution you'd like**

Display the mouse speed in the top-left of the screen, under the number of ticks, something like

[2019-02-01 20:48] #344 closed

[2019-02-01 20:55] richelbilderbeek opened #363 "Grass is damaged when is grass is nearby"
**Is your feature request related to a problem? Please describe.**

Grass grows. And we let that be. But it should grow slower when there is too much grass.

Instead of letting grass grow conditionally, we let grass damage each other. Later, you'll see why :+1:

**Describe the solution you'd like**

Grass should grow normally as usual. But adjacent grass should hurt one another.

Write a test as u

[2019-02-02 16:43] richelbilderbeek commented on #360
I predict this is due to, for tiles to merge, they needs to be at *exactly* the same location, i.e. `x1 == x2`.

I predict this can be fixed that, for tiles to merge, distance needs to be less than 0.5.

[2019-02-02 17:03] Joshua260403 commented on #360
No they visibly move to far.

Op za 2 feb. 2019 17:43 schreef Richel Bilderbeek <notifications@github.com:

[2019-02-04 08:16] richelbilderbeek commented on #302
@robkruger: good thinking to change that test!

[2019-02-05 18:20] robkruger commented on #326
The test passes local on my laptop, but fails on Travis. Why?

[2019-02-07 15:09] richelbilderbeek commented on #331
OK, I've merged your work with develop and will open up this Issue for a Team Octane member of tonight. :+1:

[2019-02-07 15:10] richelbilderbeek commented on #363
I will free up this Issue for tonight :rainbow:

[2019-02-07 15:11] richelbilderbeek commented on #314
I will free up this Issue for the devs of tonight :rainbow:

[2019-02-07 15:12] richelbilderbeek commented on #358
I will open up this Issue for the devs of tonight :rainbow:

[2019-02-07 15:15] richelbilderbeek opened #364 "Agents do not have a dx and dy"
**Is your feature request related to a problem? Please describe.**

Currently, agents have a `dx` and `dy`, which code for velocities in an X-Y 2D plane. I think these are used for the agents to move along with tiles, but this is a bit of a hack: if a tile is moving, it should simply take its agents with it.

**Describe the solution you'd like**

Remove the member variables `agent::m_dx` and `agen

[2019-02-07 15:18] richelbilderbeek opened #365 "Use spider in default agents"
**Is your feature request related to a problem? Please describe.**

Currently, the spider is not shown when the game starts.

**Describe the solution you'd like**

Get the spider te be shown in the game again. The easiest way, is to add it to the `get_default_agents` function.

Move to 'To be tested by humans` to make the tester close this Issue.

If the spider is already added, create a new Issue

[2019-02-07 15:25] richelbilderbeek opened #366 "Crododiles eat cows"
**Is your feature request related to a problem? Please describe.**

Crocodiles eat cows. This damages the cow, but increases the health of the crocodile.

**Describe the solution you'd like**

Write a test to do so.
Then make that test come true.

**Describe alternatives you've considered**

None.

**Additional context**

You can use the test to see that grass is eaten by a cow.

[2019-02-07 15:26] richelbilderbeek opened #367 "Birds eat spiders"
**Is your feature request related to a problem? Please describe.**

Birds eat spiders. This damages the spider, but increases the health of the bird.

**Describe the solution you'd like**

Write a test to do so.
Then make that test come true.

**Describe alternatives you've considered**

None.

**Additional context**

You can use the test to see that grass is eaten by a cow.

[2019-02-07 15:29] richelbilderbeek opened #368 "Cows reproduce"
**Is your feature request related to a problem? Please describe.**

Currently, cows can increase in health by eating grass, but they do not multiply when this health is high enough.

We assume cows multiply like bacteria for now :grin:, we can add a more complex system later.

**Describe the solution you'd like**

  1. Write a test to test that a cow reproduces when its health is high enough.
  2.

[2019-02-07 15:35] richelbilderbeek commented on #348
Sure, there is a whale picture, but I cannot see it anywhere. I will open up this Issue for the devs of tonight.

[2019-02-07 15:37] richelbilderbeek commented on #326
Merged :shipit:

[2019-02-07 15:37] robkruger commented on #366
A crocodile already does that?

[2019-02-07 15:41] robkruger commented on #326
It's only this test, but again, the test works on my laptop

[2019-02-07 15:43] robkruger opened #369 "Fix the test for #326"
Currently, cows walk to grass. It works and I created a test. The test works on my laptop, but fails on Travis.
Find what is causing that and fix it.

[2019-02-07 17:18] Joshua260403 commented on #348
I don't really see a reason to unassign @Tomstuivenga, he was almost done.

[2019-02-07 17:57] Joshua260403 opened #370 "Im made of sugar"
It's raining and I'm still a bit sick so I won't be coming

[2019-02-07 18:24] martje127 commented on #302
the 302 test is away and the code seem to works becasue de picture on the top is going left

[2019-02-07 18:24] #302 closed

[2019-02-07 19:20] martje127 commented on #349
the octopus is added to the game

[2019-02-07 19:21] richelbilderbeek commented on #370
OK, get well soon!

[2019-02-07 19:21] #370 closed

[2019-02-07 19:22] martje127 opened #371 "octopus dies instantly"
Depends on

 * [x] #349

After that, the octopus dies instantly

[2019-02-07 19:24] richelbilderbeek opened #372 "Vote: should tiles be connected? Before Thursday 14th 18:00"
**Is your feature request related to a problem? Please describe.**

Currently, animals fall off the tiles when they attempt to cross from one tile to the other. Should the tiles be connected, or should this be part of a feature (e.g. the player must lift the animals)?

**Describe the solution you'd like**

Vote for: should the tiles be connected? That is, should agents be able to move from one til

[2019-02-07 19:25] martje127 commented on #372
yes

[2019-02-07 19:37] robkruger commented on #372
Yes

[2019-02-07 19:37] richelbilderbeek opened #373 "Add function to count agents of a specific type"
**Is your feature request related to a problem? Please describe.**

For #368 we need to count the number of cows and grasses. There is no function to easily count these.

**Describe the solution you'd like**

Add a function to count the number of agents of a specific type:

[code]

Write a test to assure it works.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-02-07 19:59] Rijk-van-Putten commented on #372
Yes

[2019-02-07 20:02] martje127 commented on #343
did it

[2019-02-07 20:24] richelbilderbeek opened #374 "Trees should produce trees, instead of grass"
**Is your feature request related to a problem? Please describe.**

Currently, trees produce grasses. In reality, trees produce trees.

**Describe the solution you'd like**

If trees reproduce, make it so that there is a new tree (instead of a grass) created.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-02-07 20:27] richelbilderbeek commented on #371
Tip: with how much health it is created?

[2019-02-07 20:29] janderkkotlarski commented on #363
Done.
:sunflower:

[2019-02-07 20:46] janderkkotlarski opened #375 "Grass damage increases relative to distance"
**What is the problem?**

Currently grass damages grass with a fixed amount within the maximum nearby distance, which is a tad too brutish.

**What to do?**

Devise a simple distance based (linear) formula for the damage fall-off that has the full effect when both grasses have total overlap and is zero at maximum nearby distance.
Note that there is the x-axis and the y-axis to consider, maybe shuf

[2019-02-08 11:40] Joshua260403 commented on #372
I'd say there should be a gap of 1 or 2 pixels that still counts as on the tile.

[2019-02-08 11:41] Joshua260403 commented on #372
That means yes but not visibly

[2019-02-08 11:43] Joshua260403 commented on #367
Pretty sure this is done already, will check it out tonight

[2019-02-08 11:45] Joshua260403 commented on #366
That commit needs to be reverted as this was already the case.

[2019-02-08 11:45] Joshua260403 commented on #366
Now it's duplicate

[2019-02-08 11:48] Joshua260403 commented on #365
@richelbilderbeek I think create default tiles and agents got messed up by the arrange tiles issu, we could just redo them completely

[2019-02-08 11:49] Joshua260403 commented on #366
Like @robkruger said :+1:, in the future people should look at the comments on the issue they are doing

[2019-02-08 12:53] Joshua260403 commented on #371
Tip: where is it created

[2019-02-08 13:00] Joshua260403 commented on #348
@richelbilderbeek please redo rijks commit as it contains both mistakes and content that wasn't assigned to him, reassign @Tomstuivenga afterwards for he was almost done and knows what to do here

[2019-02-08 13:07] Joshua260403 commented on #360
Not sure if it is fixed, the solution seems a bit odd. Will have to check it out tonight.

[2019-02-08 13:15] Joshua260403 commented on #367
Duplicate of #289, it was already added there, just like #366

[2019-02-08 13:15] #367 closed

[2019-02-08 13:19] Joshua260403 opened #376 "Codecov isn't working"
I think it might be because we run with --version first on travis, but it could be anything. We need to know asap because oclint might also not be working.

[2019-02-08 13:22] Joshua260403 commented on #300
So do i merge rob into develop? Please don't unassign after doing an issue.

[2019-02-08 13:24] Joshua260403 commented on #300
@robkruger @richelbilderbeek Rob's branch is the same as develop! What went wrong?

[2019-02-08 13:24] robkruger commented on #300
I didn't change anything, that's why I unassigned

[2019-02-08 13:26] Joshua260403 commented on #300
Ok so this is on jan's branch

[2019-02-08 13:27] Joshua260403 commented on #361
@richelbilderbeek @robkruger Rob's branch i equal to Develop! What happend, is his work on develop already?

[2019-02-08 13:28] Joshua260403 commented on #371
The octopus isn't even on develop yet....
How would you have closed #349 if it isn't there on your own branch....

[2019-02-08 13:30] robkruger commented on #361
I think so, because @richelbilderbeek merged #326 with develop and I did that issue after this one.

[2019-02-08 13:31] Joshua260403 commented on #361
Ah, so Richel did it?

Op vr 8 feb. 2019 14:31 schreef Rob Krüger <notifications@github.com:

[2019-02-08 13:33] robkruger commented on #361
Yes

[2019-02-08 13:33] robkruger commented on #372
@josh

Yeah, I meant that aswell

[2019-02-08 16:16] richelbilderbeek commented on #366
Dumb me! Thanks team :1st_place_medal:

[2019-02-08 16:16] #366 closed

[2019-02-08 16:19] richelbilderbeek commented on #376
I see at [the Travis CI log of my latest build](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/490591138#L1888), that everything works fine.

I decrease priority to medium, as perhaps I misunderstand something. Lemme know if, else close the Issue :+1:

[2019-02-08 16:24] richelbilderbeek opened #379 "Vote: what will Nature Zen be? Before February 28th 19:00"
**Is your feature request related to a problem? Please describe.**

Currently, we have a well-trained team that can solve any random Issue I create.

Now we need direction.

What will Nature Zen be? What is the goal of the game (again)? What will the complete ecosystem be like? Which must we do to finish the game before June?

**Describe the solution you'd like**

Vote by using this table:

Name|V

[2019-02-08 16:37] richelbilderbeek commented on #361
Yes, I definitely did that. @robkruger fixed #326, so it should be merged. I do not think that Issue had anything to do with this Issue. I think @robkruger simply detected it after fixing this unrelated Issue.

[2019-02-08 16:42] richelbilderbeek commented on #343
Build does not pass, due to OCLint. Will assign a Friday team member to fix that and get this merged :+1:

[2019-02-08 16:59] richelbilderbeek opened #380 "Change bacterium to plankton"
**Is your feature request related to a problem? Please describe.**

Currently, we have a bacterium that is unused. I do like its sprite a lot, so I want to make it a plankton, to be eaten by the fishes and whales.

**Describe the solution you'd like**

 * Rename `bacterium` to `plankton`
 * Place it at a water tile

**Describe alternatives you've considered**

None.

**Additional context**

When t

[2019-02-08 17:05] richelbilderbeek commented on #348
Will do. Note to self:

[code]

[2019-02-08 17:07] richelbilderbeek commented on #348
Did so. Whale is there!

![2019-02-08-180724_1722x910_scrot](https://user-images.githubusercontent.com/2098230/52493688-68052080-2bcc-11e9-9997-7fb4c1c96add.png)

[2019-02-08 17:09] richelbilderbeek commented on #348
It's on the `richel` branch, must yet be merged to `develop`.

[2019-02-08 17:24] richelbilderbeek commented on #348
All tests pass, except OCLint, as can be seen in [the OCLint build log](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/490645624#L1887).

@Tomstuivenga: even though it may not have been you who causes the OCLint mistakes, I think it would be cool if you'd fix them, so you can finish the Issue in full glory :+1:

[2019-02-08 19:20] same-drenth commented on #372
Same same

[2019-02-08 19:27] Joshua260403 commented on #379
The goal of the game should, as chosen before, to keep the zen. The zen is the balance in nature, a balance between life and death, carnivores and herbivores (and omnivores), plants and animals, or to be more clear: The zen is determined by the amount of agents relative to the amount of tiles. If there is under population the zen goes to one side, and when there is over population, the zen goes to

[2019-02-08 19:38] Enzo9 commented on #365
Spider is already there but dies immidiantly

[2019-02-08 19:38] #365 closed

[2019-02-08 19:39] RafayelGardishyan commented on #379
Nature zen is af fight between the nature and a perfectionist, the human. The game was originally based to make a perfect world, where everywhere is harmony. The rules of Darwins theory work and the fittest will survive but what if only one animal type is over? Can the world survive? No!
Your task is to keep the world in balance with all the animals, plants and other creatures living in peace and

[2019-02-08 19:45] Enzo9 opened #382 "spider dies immediantly"
The spider already exists, but it dies immediantly.

it needs more health.

[2019-02-08 19:52] richelbilderbeek commented on #328
Works on my computer :rainbow:

[2019-02-08 19:52] #328 closed

[2019-02-09 01:14] Joshua260403 commented on #376
It says 0% everywhere.
Also, check my profile :)

[2019-02-09 10:14] RafayelGardishyan commented on #351
Here's my logo, the best logo of all:
[![Team-Octane.png](https://i.postimg.cc/26J5CrDh/Team-Octane.png)](https://postimg.cc/34XhBMWx)

[2019-02-09 10:24] RafayelGardishyan commented on #338
Here we go! I had a reference image and made "pixerlart arctic texture"

https://i.postimg.cc/K4twsSFn/Arctic-texture.png
https://i.postimg.cc/5XKRFfqM/download-1.png

[2019-02-09 11:22] Joshua260403 commented on #338
Laying and standing, so two textures arw needed. And of the right size. All
the rules are found on the projects page.

Op za 9 feb. 2019 11:24 schreef Rafayel Gardishyan <notifications@github.com
:

[2019-02-09 20:43] Joshua260403 commented on #351
![logo](https://snag.gy/Z6Bf3C.jpg)

[2019-02-09 20:50] Joshua260403 commented on #351
I don't really see how @RafayelGardishyan's logo relates to our team

[2019-02-11 18:17] Rijk-van-Putten commented on #351
What about this?

I was thinking about an octopus. It has 8 arms.
![logo](https://i.postimg.cc/BQk5NWFj/team-octance-3-edit.png)
Made with Blender 2.8

[2019-02-11 18:25] Joshua260403 commented on #351
Only the team name will still be team octane :laughing:

Op ma 11 feb. 2019 19:17 schreef Rijk van Putten <notifications@github.com:

[2019-02-13 17:02] RafayelGardishyan commented on #338
It's the right size bro

[2019-02-13 17:04] RafayelGardishyan commented on #351
Octane is fuel -> Fire
 8 -> Octagone
TItle -> Team Octane

[2019-02-13 17:11] Joshua260403 commented on #338
Still there has to be a standing one, i was just saying to make sure you
know

Op wo 13 feb. 2019 18:02 schreef Rafayel Gardishyan <
notifications@github.com:

[2019-02-14 17:40] robkruger commented on #379
The goal would be to keep the nature in balance, as the others said. You have to make sure a certain species won't take over and try not to get any species become extinct. But you have to make sure the tiles, the climates, are also balanced. For example, if you put a desert and an arctic tile next to each other, they will affect each other and their climates change. The arctic will melt and transf

[2019-02-14 18:17] janderkkotlarski commented on #372
Yes

[2019-02-14 18:51] robkruger commented on #364
What's wrong?

[2019-02-14 19:24] Joshua260403 opened #383 "Add worm agent"
Add a worm agent:

* Add the agent type
* Add a sprite for the worm
* Add a worm to default agents (somewhere on grassland)
* Make birds eat worms

[2019-02-14 19:30] janderkkotlarski commented on #372
Yes

[2019-02-14 19:32] Joshua260403 commented on #372
Deadline struck, There is going to be a visible gap, we just need the gaps to not count

[2019-02-14 19:32] #372 closed

[2019-02-14 19:56] #363 closed

[2019-02-14 19:56] #356 closed

[2019-02-14 19:56] #357 closed

[2019-02-14 19:57] #380 closed

[2019-02-14 19:57] #325 closed

[2019-02-14 19:59] #343 closed

[2019-02-14 20:00] #371 closed

[2019-02-14 20:01] #300 closed

[2019-02-14 20:01] #362 closed

[2019-02-14 20:02] janderkkotlarski commented on #379
A more technical view on the game:

Game goal: Develop a self-sustaining eco-system from the starting configuration

Tiles are discrete habitats that can be directly manipulated by the player and agents are living organisms that cannot be directly manipulated by the player and can only be influenced by manipulating the tiles they reside on.

Tiles can be: Deleted
Duplicated
Merged
Moved
Rotated

A

[2019-02-14 20:03] #314 closed

[2019-02-14 20:06] Joshua260403 opened #384 "Add snake agent"
Add a snake agent:

* Add the red cobra logo (from djog nanos) as sprite for the snek
* Add `snake` agent type
* Add snake to can eat so it eats a bird

[2019-02-14 20:39] janderkkotlarski commented on #364
Removing `agent::m_dx` and `agent::m_dy` and all associated functions.

[2019-02-14 20:41] Joshua260403 opened #385 "Game over conditions"
When there isn't enough balance, you should go to the game over screen:

* Make the game go to the game over screen when the zen indicator (yingyang thingy) reaches either the left or the right side of the zen bar (the purple thing under the zen indicator)

[2019-02-14 20:49] richelbilderbeek opened #386 "Working together comes first"
@robkruger: I am sorry to make this impopular decision, but the Team observed

 * that you did a lot of work on your own branch (which is cool :+1:)
 * that you assigned yourself a lot of Issues (sorry, not a good idea)
 * that you did not merge `develop` to your branch, ultimately re-doing the work already done, causing useless merge conflicts

I enjoy the enthusiasm and I see and hear from other

[2019-02-14 20:59] richelbilderbeek commented on #384
Here it is:

![red_cobra](https://user-images.githubusercontent.com/2098230/52817341-d7cf4b80-30a3-11e9-8efa-6b354ed87f22.png)

[2019-02-14 21:00] #383 closed

[2019-02-15 08:28] robkruger commented on #386
That's weird, because I checked multiple times if I was up to date with develop, even yesterday around 18:00. On the assign thing, I assigned myself a new issue when I was done with the other, so I don't see a problem with that?

(Btw if I do `git checkout develop` and after that `git pull` and it says already up to date, it means that i'm up to date with develop and don't have to merge right?)

[2019-02-15 08:53] richelbilderbeek commented on #386
Weird. Perhaps you use GitHub Desktop? We know that it can cause problems. Or perhaps something else is wrong. I suggest I take a look tonight :+1:

@Joshua260403: I suggest I check Rob's setup tonight, so we can find out why this went sideways

[2019-02-15 11:45] Joshua260403 opened #387 "Make agents move between tiles"
Agents should be able to move from one tile to another:

* Make the gap between tiles 2 pixels
* Make it so the agent doesn't fall into the void when standing in between two tiles

Hint:
Edit the is on tile functions

[2019-02-15 13:02] Joshua260403 opened #388 "Add squirrel agent"
Add a squirrel agent:

* add a squirrel sprite
* add squirrel agent type
* add a squirrel to the forest tile
* make squirrel eat tree
* make snake eat squirrel (dependent of #384)

[2019-02-15 13:05] Joshua260403 opened #389 "Add lion agent"
Add a lion agent:

* add a lion sprite
* add lion agent type
* add lion to savannah tile
* make lion eat cow

[2019-02-15 13:12] Joshua260403 opened #390 "Add giraffe agent"
Add a giraffe agent (spelled: "giraffe"):

* add a giraffe sprite
* add giraffe agent type
* add giraffe to a savannah tile (away from the lion from #389)
* make giraffe eat tree
* make lion and crocodile eat giraffe (dependent of #389)

[2019-02-15 13:25] Joshua260403 commented on #386
The problem was mainly the other way, Rob had too many additions on his branch that the rest wasn't up to date with. Also some issues Rob did weren't done correctly, causing issues for others who didn't have his changes and well, being incorrect. And one last thing, Rob did quite alot of issues, leaving no issues for other (which is part of the reason for the stress for me yesterday).

[2019-02-15 17:26] robkruger opened #391 "I won't be there tonight"
I can't come tonight.

Is DJOG closed next week?

[2019-02-15 17:29] robkruger commented on #386
OK! I'll do less issue's. I didn't have much to do this week, so that's why I did many this week. Which issue's weren't done correctly?

[2019-02-15 18:24] #360 closed

[2019-02-15 18:28] richelbilderbeek commented on #386
Well, it is more nuanced than that: you did the Issues correctly, but did not merge your work to develop (spoiler: we will promote you to medior next week, so you can do that!), which caused the Issues to be done twice and merging would result in a lot of merge conflicts.

Your branch is now corrected, so you can do any Issue you like. We'll merge to develop next week together :+1:

Enjoy :rainbow

[2019-02-15 18:29] richelbilderbeek commented on #391
We'll miss you, but enjoy :rainbow:

On 15 February 2019 at 18:27:00 +01:00, Rob Krüger <notifications@github.com> wrote:

[2019-02-15 18:29] richelbilderbeek commented on #391
DJO is open next week :+1:

On 15 February 2019 at 18:26:44 +01:00, Rob Krüger <notifications@github.com> wrote:

[2019-02-15 18:38] robkruger commented on #391
Ok👍

[2019-02-15 18:43] richelbilderbeek commented on #352
I see when running the code (exposed by my recent commit):

100.007 -> 45.4576 and 4.76222
100.009 -> 41.6703 and 4.00035
100.002 -> 47.62 and 4.00008
100.009 -> 41.6704 and 4.16704
100.002 -> 50.0012 and 4.16677
100.019 -> 43.4867 and 4.16747
100.006 -> 43.4808 and 5.00029

I think the division can be widened more, say, the kid gets health from 5-20 health.

On 14 February 2019 at 21:02:01 +01:00

[2019-02-15 18:48] Joshua260403 opened #392 "Plants grow on a tile"
When grass duplicates, it mostly falls in the void. This decreases the score.

Make it so grass can only spawn on a tile (so not even on the edges)

Same goes for trees.

[2019-02-15 18:51] Joshua260403 opened #393 "Create function `is_plant()`"
Currently there is no function to tell if an agent is a plant or not.

Create a free function called `is_plant` in the same files as the agent class.

Make it return `true` if the agent is a plant and `false` if not.

Use this function everywhere it should be, for example to decide if an agent can move.

[2019-02-15 19:00] richelbilderbeek commented on #352
New values:

100.012 -> 22.2659 and 52.2696
100.019 -> 17.0585 and 47.0641
100.009 -> 24.9969 and 54.9996
100.009 -> 29.8504 and 59.8532
100.004 -> 25.1954 and 55.1965

Cool! Well done @richelbilderbeek :+1:

On 14 February 2019 at 21:02:01 +01:00, DynCoder <notifications@github.com> wrote:

[2019-02-15 19:19] #346 closed

[2019-02-15 19:43] richelbilderbeek commented on #352
@Joshua260403 : go ahead and merge this work of art :shipit:

On 14 February 2019 at 21:02:01 +01:00, DynCoder <notifications@github.com> wrote:

[2019-02-15 19:49] Joshua260403 commented on #349
Texture not added correctly

[2019-02-15 20:25] richelbilderbeek commented on #361
I have caused a crash in 1 out of 50 attempts. Perhaps @martje127 would enjoy toying around with this error :+1:

On 14 February 2019 at 21:01:53 +01:00, DynCoder <notifications@github.com> wrote:

[2019-02-15 21:10] Joshua260403 opened #394 "Volunteer at DJO Open Dag, March 9th, somewhere 10:00-16:00"
Saturday, March 9th, from 10:00-16:00 DJO has an Open Day. With Team Octane (and probably Team Red Cobra), we will teach how to work with git by writing a fairytale together. For that, we need volunteers! If it's just for one hour :+1:, for longer: :+1::+1::+1:. Also, we'll probably present our work every ?hour.

Let me know if and when you'll be there :rainbow:, @richelbilderbeek

[2019-02-16 09:08] robkruger commented on #394
I'll come around 12:00.👍

[2019-02-16 14:55] RafayelGardishyan commented on #394
I will be there the whooooooooole day

[2019-02-17 15:23] robkruger commented on #392
What about spawning on a water tile?

[2019-02-17 23:34] Joshua260403 commented on #392
You should make it so plants only spawn on land tiles, which means not in
the void and not on water

Op zo 17 feb. 2019 16:23 schreef Rob Krüger <notifications@github.com:

[2019-02-21 17:20] Joshua260403 opened #395 "Won't be there"
@richelbilderbeek can take over my task today :)

[2019-02-21 18:35] janderkkotlarski commented on #379
Name|Vote yes/no
---|---
Jan|Yes
Joshua|Yes
Rafayel|No
Rob|No

[2019-02-21 18:36] Rijk-van-Putten commented on #379
Name|Vote yes/no
---|---
Jan|Yes
Joshua|Yes
Rafayel|No
Rob|No

[2019-02-21 18:58] janderkkotlarski opened #396 "There are at least two whale agent types"
Problem

An assert statement throws an exception and the compiler warning complains about there being multiple agent types of the whale type.

Solution

Make it so that there is only one whale agent type left.
The other agent types must be left alone and all the tests need to stay functioning.

[2019-02-21 19:00] Rijk-van-Putten commented on #373
its already done

[2019-02-21 19:06] robkruger commented on #379
Name|Vote yes/no
---|---
Jan| No
Joshua| No
Rafayel| Yes
Rob| Yes

[2019-02-21 19:15] Joshua260403 commented on #379
Name|Vote yes/no
---|---
Jan| N
Joshua| Y
Rafayel| N
Rob| N

[2019-02-22 05:51] richelbilderbeek commented on #379
Name|Vote yes/no
---|---
Jan| Y
Joshua| Y
Rafayel| Y
Rob| Y

[2019-02-22 05:54] richelbilderbeek commented on #395
Done :+1:

[2019-02-22 05:54] #395 closed

[2019-02-22 11:38] richelbilderbeek commented on #396
This is fixed by me and put on `develop`. Merge it into your branch and you're good to go :+1:

[2019-02-22 11:50] richelbilderbeek opened #397 "Join Studium Generale lecture on Wednesday 6th 20:00-?21:00"
**Is your feature request related to a problem? Please describe.**

Instead of the expert lectures, Richel chose to got to Studium Generale lectures instead. But which one?

[Here](http://sggroningen.nl/en/programma) is the program, here is my favorite selection:

Title|Topic|Date and time
---|---|---
Normalisering van drugs in het uitgaansleven|The normalcy of drugs when going out (pun not intend

[2019-02-22 12:57] richelbilderbeek opened #398 "Join for Pi Day?"
**Is your feature request related to a problem? Please describe.**

![Pi Day](http://richelbilderbeek.nl/RC_PiDay2015.htm) needs to be celebrated every year.

We do so each year, my meeting at March 13th 23:57 (pi minutes before Pi Day) at bus stop P at the Central Station Groningen. We leave at 0:03 (pi minutes past midnight) at March 14th by foot. Then we use street chalk to paint pi symbols on

[2019-02-22 16:14] JolienGay commented on #379
Name|Vote yes/no
---|---
Jan| Y
Joshua| Y
Rafayel| Y/N
Rob| Y

Joshua: The updates idea sounds great!

Rafayel: A little bit of 'N' for this reason:
I love the underworld idea, however, I think it would be more suitable in another type of game. From my perspective, it seems like you guys want to convey to players the importance of a healthy ecosystem for all creatures, including humans. Since this

[2019-02-22 16:48] JolienGay commented on #397
Topic|Interested yes/no
---|---
Normalisering van drugs in het uitgaansleven| N (can't attend that day)
Behandel haar met respect| Y
Wat we van het weer verwachten| Y

**Describe alternatives you've considered**
End of Daylight Saving Time and Then?
This might sound boring and insignificant (1h, what is the big deal?) but, as Arjen Lubach has pointed out is one of his sunday shows, many people do

[2019-02-22 18:11] RafayelGardishyan commented on #379
Name|Vote yes/no
---|---
Jan|No
Joshua|Yes
Rafayel|Yes
Rob|No

[2019-02-22 18:14] RafayelGardishyan commented on #397
Topic|Interested yes/no
---|---
Normalisering van drugs in het uitgaansleven| N (can't attend that day)
Behandel haar met respect| Y
Wat we van het weer verwachten| N (can't attend that day)

[2019-02-22 18:15] RafayelGardishyan commented on #398
I want to attend to Pi day celebration

[2019-02-22 18:22] robkruger opened #399 "Fix tile movement"
### Issue Description
Describe here what the issue is

Currently, something is wrong with the tile movement. They move too far and too fast. This need to be fixed.

[2019-02-22 18:22] Joshua260403 commented on #396
So I'm assuming this has to be closed?

[2019-02-22 18:22] #396 closed

[2019-02-22 18:23] Joshua260403 commented on #399
Approved :+1:

[2019-02-22 18:33] #373 closed

[2019-02-22 18:33] robkruger commented on #374
This is not fixed

[2019-02-22 18:43] Joshua260403 opened #400 "Add maximum and minimum depth"
Agents must have a maximum and minimum depth:

* Add functions get_min_depth and get_max_depth with argument agent_type
* Add a switch statement within the function determining the agent_type
NOTE: if the agent type is not aquatic, do not add a case for it, use default to return (0, 0) instead
* Return a vecter2i containing (in the correct order): min_depth, max_depth
* Add a test for the function

[2019-02-22 18:47] Joshua260403 opened #401 "Add function `is_aquatic(agent_type)`"
Add a function to tell if an agent type is aquatic

HINTS:
* Do not use if or switch statements

[2019-02-22 19:06] #374 closed

[2019-02-22 19:10] #401 closed

[2019-02-22 19:36] #331 closed

[2019-02-22 20:20] Enzo9 commented on #379
Name|Vote yes/no
---|---
Jan|No
Joshua|Yes
Rafayel|Yes/no
Rob| yes

[2019-02-22 20:39] RafayelGardishyan opened #402 "About screen"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
Everyone has to fill in their name in sfml_about_screen.cpp, in the function called  get_team_names();

**Describe alternatives you've considered**
--

[2019-02-23 08:30] robkruger opened #403 "Framerate"
### Issue Description
Describe here what the issue is

I just ran Nature Zen on my PC and the game ran at about 500 frames per second causing everything to go really fast. I think there should be a limit.

[2019-02-27 11:48] Joshua260403 commented on #403
There was a limit, well have to ask @richelbilderbeek about that

[2019-02-27 11:51] Joshua260403 commented on #379
All 'yes/no' will be counted as a no

[2019-02-28 17:58] #379 closed

[2019-02-28 17:58] Joshua260403 commented on #379
I'll count the votes this evening

[2019-02-28 18:14] #399 closed

[2019-02-28 18:14] #390 closed

[2019-02-28 18:19] #358 closed

[2019-02-28 18:22] martje127 commented on #387
the agents cant move between tiles in develop

[2019-02-28 18:25] #392 closed

[2019-02-28 18:25] #384 closed

[2019-02-28 18:26] #348 closed

[2019-02-28 18:32] martje127 commented on #385
it is working but if you restart the game than are the tiles overlaping

[2019-02-28 18:37] #368 closed

[2019-02-28 18:40] #400 closed

[2019-02-28 18:40] #375 closed

[2019-02-28 18:41] #382 closed

[2019-02-28 18:48] #369 closed

[2019-02-28 18:51] Joshua260403 opened #404 "Create sfml_pause_screen (hard)"
Create a pause screen:
* Create sfml_pause_screen class
* Add some buttons and text
* Make a display function that needs a window reference
* Make the display function draw the buttons and text on the given window
* Add some if statement to sfml_game::display and make it so sfml::game displays the pause screen _as an overlay_

[2019-02-28 18:52] #387 closed

[2019-02-28 18:53] Joshua260403 opened #405 "Add chameleon agent"
Add a chameleon agent

and do all that stuff that needs to be done when adding an agent

[2019-02-28 19:07] Joshua260403 commented on #326
REDO:
Make agents move towards their food iff the food is close.
You should remove the old code for this (located in agent::move) and replace it with new code that uses the can_eat function and uses a limited range

[2019-02-28 19:11] Joshua260403 opened #406 "Give about screen a makeover"
Make it pretty :four_leaf_clover:

[2019-02-28 19:12] JolienGay commented on #398
Fun idea! Unfortunately I can't attend.

[2019-02-28 19:14] Joshua260403 opened #407 "Add `new_type` issue template"
Would be a lot faster for me

[2019-02-28 19:23] martje127 commented on #361
the game always crashes when pusching on the right mouse button

[2019-02-28 19:26] #385 closed

[2019-02-28 19:27] Joshua260403 opened #408 "Add sunflower agent"
Add a sunflower agent and do all the other stuff you always need to do when creating an agent.

Add sunflowers to appropriate tiles

[2019-02-28 19:27] richelbilderbeek opened #409 "Add roles in About screen"
**Is your feature request related to a problem? Please describe.**

Currently, the about screen only shows the names. I also want the roles there.

**Describe the solution you'd like**

Something like, in this order, add last names yourself:

[code]

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-02-28 19:28] Joshua260403 opened #410 "Add foxgloves agent"
Add a foxgloves agent and do all the other stuff you always need to do when creating an agent.

Add foxgloves to appropriate tiles

[2019-02-28 19:29] martje127 opened #411 "after game over and you restart the game the tiles are overlaping each other"
if you get min 112 score you see game over. if you go to menu and pres start game the tiles are overlaping.

[2019-02-28 19:32] Joshua260403 opened #412 "Add venus_fly_trap agent"
Add a venus_fly_trap agent and do all the other stuff you always need to do when creating an agent.

Add venus_fly_trap to appropriate tiles

[2019-02-28 19:33] Joshua260403 opened #413 "Add cactus agent"
Add a cactus agent and do all the other stuff you always need to do when creating an agent.

Add cactus to appropriate tiles

[2019-02-28 19:35] richelbilderbeek opened #414 "Remove mouse speed"
**Is your feature request related to a problem? Please describe.**

Now, the mouse speed is displayed:

![2019-02-28-203345_1722x910_scrot](https://user-images.githubusercontent.com/2098230/53593154-3f06f880-3b98-11e9-8f28-9930b86b6ba5.png)

The lead game designer wants it removed.

**Describe the solution you'd like**

Remove the mouse speed display.

**Describe alternatives you've considered**

[2019-02-28 19:42] #402 closed

[2019-02-28 19:44] JolienGay opened #415 "Agents can move between tiles"
**Is your feature request related to a problem? Please describe.**

In #387 we wanted agents to move between tiles. The Issue has been closed -probably for good reasons-, but the problem has popped up (?again).

**Describe the solution you'd like**

Agents should be able to move between adjacent tiles.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-02-28 19:51] Joshua260403 commented on #397
Topic|Interested yes/no
---|---
Normalisering van drugs in het uitgaansleven| N
Behandel haar met respect| Y
Wat we van het weer verwachten| N

[2019-02-28 20:21] #403 closed

[2019-02-28 20:21] richelbilderbeek opened #416 "Zen must go up if fewer agents than tiles"
**Is your feature request related to a problem? Please describe.**

Currently Zen does not respond to the number of agents in the game. In reality, the less agents, the more Zen.

**Describe the solution you'd like**

If there are less agents than tiles, the Zen should increase.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-02-28 20:27] richelbilderbeek commented on #397
Cool @JolienGay, @Joshua260403, @RafayelGardishyan!

We'll go to 'Behandel haar met respect' on Wednesday 6 March 2019 at 8:00 pm at Academiegebouw, Broerstraat 5!

[2019-02-28 20:29] richelbilderbeek opened #417 "Game should start at the game"
**Is your feature request related to a problem? Please describe.**

Currently, the game starts at a Game Over screen. Usually games start at ... well ... the game.

**Describe the solution you'd like**

When the game is started up, start with the game.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-02-28 20:30] richelbilderbeek commented on #417
Well done @RafayelGardishyan :+1:

[2019-02-28 20:30] #417 closed

[2019-02-28 20:32] richelbilderbeek opened #418 "Game should have a frame rate of max 60 FPS"
**Is your feature request related to a problem? Please describe.**

A game should have a frame rate of max 60 frames per second on all computers.

**Describe the solution you'd like**

Limit the frame rate to max 60 FPS. If the computer is slower, framerate will be lower.

Read the SFML book, approx page 24, about how to do so.

**Describe alternatives you've considered**

None.

**Additional cont

[2019-02-28 20:33] richelbilderbeek commented on #418
Well done @RafayelGardishyan :+1:

[2019-02-28 20:33] #418 closed

[2019-02-28 20:35] #389 closed

[2019-02-28 20:40] #407 closed

[2019-02-28 20:42] janderkkotlarski opened #419 "Increase speed of the wasd navigation, it's slower than molasses."
Using the wasd buttons to navigate around is too slow for comfort.

Increase it.

[2019-02-28 20:51] Joshua260403 opened #420 "Grass dies faster than sanic can go fast"
The grass dies too quickly

slow it down.

[2019-03-01 13:01] Joshua260403 commented on #408
@martje127 you should finish your ongoing issue first, before assigning yourself to a new one

[2019-03-01 13:18] Joshua260403 commented on #416
Will rephrase and integrate this in another issue

[2019-03-01 13:18] #416 closed

[2019-03-01 13:34] Joshua260403 opened #421 "Make score relative to ppt (very long)"
Currently, the zen only goes left (which is down, but right is down too so that's not how you should say it), it must also be able to go right, this issue is part 1 of that process:

I want the zen to be relative to the population per tile (ppt).

The ppt is equal to 1 if there is one agent per tile (makes sense right).
To calculate the ppt we need a formula, i could give you the correct formula r

[2019-03-01 13:34] Joshua260403 commented on #421
Make sure to read everything before you start working on this

[2019-03-01 13:35] Joshua260403 commented on #394
i think i might be there

not sure though

[2019-03-01 18:35] Joshua260403 commented on #336
For it to be approved, we need to know what it looks like

[2019-03-01 18:36] Joshua260403 commented on #334
for it to be approved, we need to know what it looks like

[2019-03-01 18:37] #364 closed

[2019-03-01 19:20] #388 closed

[2019-03-01 19:24] robkruger commented on #361
It works fine if I run it...

[2019-03-01 19:45] Joshua260403 opened #422 "Change water texture to transparant"

[2019-03-01 19:59] richelbilderbeek opened #423 "Test to check if cows move towards grass fail due to venus_fly_trap"
**Is your feature request related to a problem? Please describe.**

When adding the `venus_fly_trap` agent to `create_default_agents`, e.g. like:

[code]

the error is given:

[code]

**Describe the solution you'd like**

The old test should keep working. Put the Venus fly trap elsewhere or so...

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-01 20:17] robkruger commented on #423
I fixed this in #326, will merge to develop if my build succeeds.

[2019-03-01 20:43] #361 closed

[2019-03-01 21:10] same-drenth opened #424 "._."
:feelsgood: :finnadie: :goberserk: :godmode: :hurtrealbad: :rage1: :rage2: :rage3: :rage4: :suspect:
🌀 🌌👾 🎮🔱 🎧

[2019-03-01 21:10] #424 closed

[2019-03-04 08:32] richelbilderbeek commented on #397
Bough tickets, closing this Issue.

[2019-03-04 08:32] #397 closed

[2019-03-07 11:18] Joshua260403 opened #425 "Still sick & tired (also richel cheated)"
How does @richelbilderbeek suddenly have 660k additions

[2019-03-07 11:20] Joshua260403 commented on #425
How am i supposed to surpass you now?

[2019-03-07 14:17] Joshua260403 commented on #425
I give @richelbilderbeek the task to create issues for tonight when theres nothing left

[2019-03-07 14:26] richelbilderbeek commented on #425
I accidentally added the code coverage notes :frowning_face:

[2019-03-07 14:26] richelbilderbeek commented on #425
Sure, I'll take over. Get well soon :apple: :green_apple:

[2019-03-07 14:26] #425 closed

[2019-03-07 15:42] #423 closed

[2019-03-07 15:44] richelbilderbeek opened #426 "Venus fly trap must not move"
**Is your feature request related to a problem? Please describe.**

Currently, the venus fly trap -a plant species- moves. In reality a plant does not move.

**Describe the solution you'd like**

Write a test that checks if the Venus fly trap does not move. This is already tested for `agent_type::grass`, so copy that one. The test should fail.

Then fix the problem: make the venus fly trap stand s

[2019-03-07 15:46] richelbilderbeek opened #427 "Make worm smaller"
**Is your feature request related to a problem? Please describe.**

Currently the worm is too big.

![2019-03-07-164519_1722x910_scrot](https://user-images.githubusercontent.com/2098230/53969136-82151e80-40f8-11e9-9e03-14d96a14d8a6.png)

**Describe the solution you'd like**

Make the worm smaller.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-07 15:51] richelbilderbeek opened #428 "Change about screen team text"
**Is your feature request related to a problem? Please describe.**

Currently, the about screen looks like:

![2019-03-07-164909_1722x910_scrot](https://user-images.githubusercontent.com/2098230/53969362-f0f27780-40f8-11e9-8107-3467f6befcd7.png)

But I feel the number of roles should be decreased and the order should be changed as well.

**Describe the solution you'd like**

Change the text to:

[

[2019-03-07 15:55] richelbilderbeek opened #429 "Title screen should take user to menu without a button"
**Is your feature request related to a problem? Please describe.**

Most games start with a title or loading screen. Normally, any key press or mouse click would take the user to the menu screen.

**Describe the solution you'd like**

 * [x] Make the title screen direct the user to the menu screen
 * [x] Make the title screen do so from a key press
 * [x] Make the title screen do so from a mouse p

[2019-03-07 15:58] richelbilderbeek opened #430 "Cows should live longer"
**Is your feature request related to a problem? Please describe.**

Currently, cows die before having found grass.

**Describe the solution you'd like**

Make cows live longer. Make them able to eat grass and (I think this is already in) multiply.

**Describe alternatives you've considered**

None.

**Additional context**

None,

[2019-03-07 15:59] richelbilderbeek opened #431 "Grassland spawns grass"
**Is your feature request related to a problem? Please describe.**

Currently, a tile of type grassland is just green.

**Describe the solution you'd like**

Make the tile spawn grass agents.

**Describe alternatives you've considered**

None.

**Additional context**

Other land types should spawn different agents as well.

[2019-03-07 16:00] richelbilderbeek opened #432 "Agents should follow tile"
**Is your feature request related to a problem? Please describe.**

When a tile with agents on it is moved, the agents are not dragged along.

**Describe the solution you'd like**

Make the agents be dragged along with the tile.

Do not use `m_dx` or `m_dy`.

**Describe alternatives you've considered**

None.

**Additional context**

It would be cool if this would be tested again :+1:

[2019-03-07 16:02] richelbilderbeek opened #433 "Rainforest spawns tree agents"
**Is your feature request related to a problem? Please describe.**

Currently, a tile of type rainforst is just green.

**Describe the solution you'd like**

Make the tile spawn tree agents.

**Describe alternatives you've considered**

None.

**Additional context**

Other land types should spawn different agents as well.

[2019-03-07 17:54] janderkkotlarski opened #434 "Jan Derk Kotlarski will not be present on the 7th of March 2019 because he feel ill."

[2019-03-07 18:10] RafayelGardishyan commented on #432
I'll try

[2019-03-07 19:58] richelbilderbeek commented on #434
OK, get well soon :thermometer:

[2019-03-07 19:58] #434 closed

[2019-03-07 20:19] richelbilderbeek opened #435 "vote (medior-only): polymorphism yes or no"
**Is your feature request related to a problem? Please describe.**

Currently, we do not use polymorphism a lot (there are cases we do!), because of the difficulty of getting this right. Richel knows how often the complexity of polymorphism is underestimated and that's why he decided against this: he predicts the poor mediors will make the code overly complex, after which the mediors will have to

[2019-03-07 20:21] Joshua260403 commented on #435
Could you explain polymorphism

Op do 7 mrt. 2019 21:20 schreef Richel Bilderbeek <notifications@github.com

[2019-03-07 20:31] Joshua260403 commented on #429
I think it should have a button, thats the entire purpose of a title screen

[2019-03-07 20:36] RafayelGardishyan commented on #435
I am voting to use it!

[2019-03-07 20:39] richelbilderbeek commented on #435
Polymorphism allows to make a (base) class behave differently according to its (derived) type.

For example, our `agent`s have a maximum depth at which they survive (zero for land-only animals), which we determine using a switch statement on `agent_type`. Here a simplified piece of code:

[code]

would become:

[code]

Drawback is that this example is so simple, one would think polymorphism is sim

[2019-03-07 20:41] Joshua260403 commented on #435
I vote no

Op do 7 mrt. 2019 21:39 schreef Richel Bilderbeek <notifications@github.com

[2019-03-07 20:47] #430 closed

[2019-03-07 20:57] richelbilderbeek opened #436 "Lions and crocodiles eat cows only when close"
**Is your feature request related to a problem? Please describe.**

Currently, the lions and crocodiles eat cows from approx 5 meters. In reality, this is zero meters.

**Describe the solution you'd like**

Let the lions and crocodiles eat cows only when close

**Describe alternatives you've considered**

None.

**Additional context**

None,

[2019-03-08 05:53] robkruger commented on #435
I'm also voting no

[2019-03-08 06:17] richelbilderbeek commented on #435
OK, there has been voted against polymorphism.

Let's see if we'll use it in the next project :rainbow:

[2019-03-08 06:17] #435 closed

[2019-03-08 09:28] #436 closed

[2019-03-08 13:18] Joshua260403 commented on #429
Hmmm, will have to think about this one

[2019-03-08 13:21] Joshua260403 commented on #426
I do not approve of the changes made in that commit

[2019-03-08 15:45] richelbilderbeek commented on #426
Well spotted @Joshua260403 !

I also see that the commit is -indeed- partially correct and partially incorrect.

 * correct: a Venus fly trap does indeed not move
 * incorrect: a Venus fly trap does eat plants

Rule is: if all tests pass, the code is accepted.

I suggest to accepted the code, then add tests to expose the incorrect parts of the commit, then add an Issue to assign this to the others

[2019-03-08 15:48] richelbilderbeek commented on #429
Taking a look at [ducking for 'Title Screen'](https://duckduckgo.com/?q=title+screen&t=canonical&iax=images&ia=images) we see that usually there is no button. OTOH, having a button there does not hurt.

I suggest to keep the button, but to go to the menu screen wherever the user clicked or whatever key the user pressed.

Like this idea better?

[2019-03-08 15:54] Joshua260403 commented on #426
Thats exactly what i had in mind

Op vr 8 mrt. 2019 16:45 schreef Richel Bilderbeek <notifications@github.com

[2019-03-08 15:57] richelbilderbeek commented on #426
Cool! Let's get this beautiful plant species what it deserves :+1:

[2019-03-08 16:13] #419 closed

[2019-03-08 16:14] #420 closed

[2019-03-08 16:14] #352 closed

[2019-03-08 16:14] #376 closed

[2019-03-08 16:14] #393 closed

[2019-03-08 16:14] #427 closed

[2019-03-08 16:15] #422 closed

[2019-03-08 16:15] #426 closed

[2019-03-08 16:15] #432 closed

[2019-03-08 18:21] robkruger opened #438 "Check agent movement"
### Issue Description
Check the agent movement and if they walk correctly.

[2019-03-08 18:45] richelbilderbeek opened #439 "Snake sprite must be bigger"
**Is your feature request related to a problem? Please describe.**

Currently, the snake sprite is small:

![2019-03-08-194215_1722x910_scrot](https://user-images.githubusercontent.com/2098230/54048647-af39fd80-41da-11e9-8d1c-2f379c59e559.png)

**Describe the solution you'd like**

I would like the snake sprite to be twice as big.

**Describe alternatives you've considered**

None.

**Additional c

[2019-03-08 18:50] richelbilderbeek commented on #244
This Issue has gotten stale, closing it.

[2019-03-08 18:50] #244 closed

[2019-03-08 19:27] richelbilderbeek opened #440 "Desert should spawn cacti"
**Is your feature request related to a problem? Please describe.**

Currently, this tile type spawns nothing. It should spawn the agent type most appropriate.

**Describe the solution you'd like**

Let this tile type spawn this agent type.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-08 19:28] richelbilderbeek opened #441 "Ocean should spawn plankton"
**Is your feature request related to a problem? Please describe.**

Currently, this tile type spawns nothing. It should spawn the agent type most appropriate.

**Describe the solution you'd like**

Let this tile type spawn this agent type.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-08 19:30] richelbilderbeek opened #442 "mountains should spawn foxgloves"
**Is your feature request related to a problem? Please describe.**

Currently, this tile type spawns nothing. It should spawn the agent type most appropriate.

**Describe the solution you'd like**

Let this tile type spawn this agent type.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-08 19:43] richelbilderbeek opened #443 "Create proper sprite for water ?plankton"
**Is your feature request related to a problem? Please describe.**

Currently, the water has a weird sprite:

![2019-03-08-204152_1722x910_scrot](https://user-images.githubusercontent.com/2098230/54051703-bb29bd80-41e2-11e9-84fa-7bd4407b2fe7.png)

**Describe the solution you'd like**

Find out the type of agent and give it a proper sprite.

**Describe alternatives you've considered**

None.

**Add

[2019-03-08 19:43] robkruger opened #444 "Fix title screen"
### Issue Description
The title screen is messed up. This needs to be fixed.

[2019-03-08 19:45] richelbilderbeek opened #445 "Create default tiles with more mergable types"
**Is your feature request related to a problem? Please describe.**

Currently, the function `get_merge_type` has the potential to create a lot of merged types. In practice, this cannot be realized as those mergable types are absent or have different angles (and thus cannot be merged)

**Describe the solution you'd like**

In the `create_default_tiles` function, add tiles of such types that all mer

[2019-03-08 19:52] Enzo9 commented on #326
I think its done, they move towards grass now.

[2019-03-08 19:53] richelbilderbeek commented on #415
Jolien and Tom have temporarily left the team. I will unassign them and move this Issue to 'To be checked by medior', as I am unsure about the status.

[2019-03-08 19:54] Enzo9 opened #446 "sunflowers shouldnt move"
The sunflower agent moves.

It shouldnt.

[2019-03-08 20:03] richelbilderbeek opened #447 "Any plant type should damage their own type when nearby"
**Is your feature request related to a problem? Please describe.**

Plants grow. And we let that be. But they should grow slower when too many of them are close to one another, due to light competition.

Instead of letting plants grow unconditionally, we let trees damage each other.

**Describe the solution you'd like**

Plants should grow normally as usual. But adjacent plants of the same type sh

[2019-03-08 20:27] richelbilderbeek opened #448 "Spiders should be attracted to venus fly trap, but not eat it"
**Is your feature request related to a problem? Please describe.**

Currently, the venus fly trap waits for spiders to randomly move into it.

In reality, spiders are attracted to venus fly traps.

**Describe the solution you'd like**

Write a test to test the spider moves towards a venus fly trap. Use the one in which a cow is attracted to grass as an example.

The venus fly trap should eat the s

[2019-03-08 20:35] antonhensen81 opened #449 "Merging hills and hills should result in mountains"
**Is your feature request related to a problem? Please describe.**
Currently, hills and hills cannot be merged.

**Describe the solution you'd like**
Merging hills and hills should result in mountains

**Describe alternatives you've considered**
None

**Additional context**
There is a test in test_tile_type that test exactly this, uncomment the following line to make the test run and make it pass:

[2019-03-08 20:44] antonhensen81 opened #450 "Merging water and woods should result in mangrove"
**Is your feature request related to a problem? Please describe.**
Currently, water and woods cannot be merged.

**Describe the solution you'd like**
Merging water and woods should result in mangrove

**Describe alternatives you've considered**
None

**Additional context**
There are two tests in test_tile_type that test exactly this, uncomment the following lines to make the tests run and make the

[2019-03-08 20:47] antonhensen81 opened #452 "Merging hills and beach should result in dunes"
**Is your feature request related to a problem? Please describe.**
Currently, hills and beach cannot be merged.

**Describe the solution you'd like**
Merging hills and beach should result in dunes

**Describe alternatives you've considered**
None

**Additional context**
There are two tests in test_tile_type that test exactly this, uncomment the following lines to make the tests run and make them p

[2019-03-08 20:48] #428 closed

[2019-03-08 20:50] antonhensen81 opened #453 "Merging desert and water should result in beach"
**Is your feature request related to a problem? Please describe.**
Currently, desert and water cannot be merged.

**Describe the solution you'd like**
Merging desert and water should result in beach

**Describe alternatives you've considered**
None

**Additional context**
There are two tests in test_tile_type that test exactly this, uncomment the following lines to make the tests run and make them

[2019-03-08 20:52] antonhensen81 opened #454 "Merging mangrove and grasslands should result in swamp"
**Is your feature request related to a problem? Please describe.**
Currently, mangrove and grasslands cannot be merged.

**Describe the solution you'd like**
Merging mangrove and grasslands should result in swamp

**Describe alternatives you've considered**
None

**Additional context**
There are two tests in test_tile_type that test exactly this, uncomment the following lines to make the tests run

[2019-03-08 20:53] Enzo9 opened #455 "Game crashes when merging certain tiles"
If you merge the desert with grasslands the game crashes.
Merging the grasslands with the desert is fine tho.

This should probably be fixed.

Here is a screenshot: https://snag.gy/1FegbD.jpg

[2019-03-08 20:55] antonhensen81 opened #456 "Merging water and dunes should result in beach"
**Is your feature request related to a problem? Please describe.**
Currently, water and dunes cannot be merged.

**Describe the solution you'd like**
Merging water and dunes should result in beach

**Describe alternatives you've considered**
None

**Additional context**
There are two tests in test_tile_type that test exactly this, uncomment the following lines to make the tests run and make them p

[2019-03-08 20:55] #446 closed

[2019-03-08 20:56] richelbilderbeek commented on #394
Cool, we'll be there!

[2019-03-08 20:56] #394 closed

[2019-03-08 20:57] antonhensen81 opened #457 "Merging woods and woods should result in rain forest"
**Is your feature request related to a problem? Please describe.**
Currently, wood and wood cannot be merged.

**Describe the solution you'd like**
Merging wood and wood should result in forest

**Describe alternatives you've considered**
None

**Additional context**
There is a test in test_tile_type that test exactly this, uncomment the following line to make the test run and make it pass:

    /

[2019-03-08 20:59] antonhensen81 opened #458 "Merging savannah and arctic should result in tundra"
**Is your feature request related to a problem? Please describe.**
Currently, savannah and arctic cannot be merged.

**Describe the solution you'd like**
Merging savannah and arctic should result in tundra

**Describe alternatives you've considered**
None

**Additional context**
There are two tests in test_tile_type that test exactly this, uncomment the following lines to make the tests run and ma

[2019-03-08 21:04] #439 closed

[2019-03-09 12:14] #415 closed

[2019-03-09 12:34] martje127 commented on #406
it is pretty

[2019-03-09 12:34] #406 closed

[2019-03-09 12:37] martje127 commented on #412
it is eating fly's

[2019-03-09 12:37] #412 closed

[2019-03-09 12:38] martje127 commented on #413
there is a catus in the game

[2019-03-09 12:38] #413 closed

[2019-03-09 12:41] martje127 commented on #410
it is standing there

[2019-03-09 12:41] #410 closed

[2019-03-09 12:50] martje127 commented on #326
cows are walking to gras even if its far away. i hope its posible to set a range the cows can see.

[2019-03-09 12:52] martje127 commented on #429
its completely fine

[2019-03-09 12:52] #429 closed

[2019-03-09 12:53] #349 closed

[2019-03-09 13:59] #408 closed

[2019-03-10 12:24] Joshua260403 opened #459 "Codecov got drasticly lowered"
Find out why and make travis test more code again

[2019-03-10 12:27] Joshua260403 commented on #459
Found the issue, @robkruger, why in the world would you disable all of the tests!

[2019-03-10 12:59] robkruger commented on #459
Ah sorry, did that to see which test had an infinite while loop. Forgot to uncomment it....

[2019-03-11 07:56] Joshua260403 commented on #457
Wait wot

[2019-03-11 07:58] Joshua260403 commented on #457
Also rename it to forest instead of forrest. Forrest is "run forrest run", forest is a biome with trees.

[2019-03-11 08:00] Joshua260403 commented on #409
I thought @Rijk-van-Putten did this saterday

[2019-03-11 08:02] Joshua260403 opened #460 "Create text_input class"
Just a text input box, in a class called sfml_text_input.

Might aswell copy the button and change some things up.

[2019-03-11 08:05] Joshua260403 opened #461 "Create load screen"
Create a screen accesable via the menu that makes loading a game possible.

[2019-03-11 08:05] Joshua260403 commented on #461
Need a text input

[2019-03-11 08:31] Joshua260403 opened #462 "Create save overlay"
Create a save overlay (like the pause overlay) to save the game.

[2019-03-11 09:44] Joshua260403 opened #463 "Make 'r' rotate a tile clockwise"
When pressing r the selected tile should switch width and height (rotate it).
You can also add t if you want more rotate options.

[2019-03-11 09:54] Joshua260403 opened #464 "Add essence counter"
Add essence:

* add essence variable to game
* make game load and save essence
* add essence counter to the top right of the screen
* maybe add a nice icon after the essence count:
 ____________________________________
| tick         -----zen-----           essence $  |
| score                                                      |

[2019-03-11 09:58] Joshua260403 opened #465 "Please don't do all issues"
@robkruger does alot of issues, i'm having a hard time creating enough new ones, and when i do, they are all done by next week.

I suggest rob does a little less issues, especially because we are nearing the completion of the game and there soon will be nothing left for others (including mediors).

[2019-03-11 10:00] Joshua260403 opened #466 "ALERT ALERT, RESOURCES OUTSIDE OF RESOURCE FOLDER"
Title should be enough

[2019-03-11 10:07] Joshua260403 opened #467 "Create shop overlay"
Create a button in sfml_game, that opens a shop overlay (like the pause overlay, but a shop).
You'll need to create a sfml_shop_screen class.
Place the button to open / close the shop in the bottom right of the screen.

The shop should only have an exit button for now.

[2019-03-11 11:53] Joshua260403 opened #468 "Rename project to nature zen?"
The project page is called second season, though i'm pretty sure we are in the third season. It feels like to much of a hustle to create a new project page and move all of the issues there. So why don't we just name the project nature zen.

[2019-03-11 11:56] Joshua260403 commented on #465
Also i create issues in the weekend mostly, when rob does them at home, they are gone by Thursday and especially by Friday. That way it is useless to create issues in the weekend and i am unable to create enough issues.

[2019-03-11 11:57] Joshua260403 commented on #465
Ooh i know something, how about a debug role for Rob. He is usually really good at finding issues in the code.

[2019-03-11 12:46] robkruger commented on #465
That's fine by me!

[2019-03-11 14:05] richelbilderbeek commented on #465
Cool that this has been solved as such! Personally, I enjoy @robkruger doing so much work :+1:

Keep up the good work, the both of you :1st_place_medal:

[2019-03-11 18:02] robkruger commented on #465
And if I find something, do I need to create a new issue or resolve it by myself?

[2019-03-11 18:18] Joshua260403 commented on #465
You should create a new issue and you may assign yourself (if you want)

Op ma 11 mrt. 2019 19:02 schreef Rob Krüger <notifications@github.com>:

[2019-03-12 18:57] Joshua260403 opened #469 "Save to saves folder"
Make it so the game saves and loads to and from a folder called "saves".

[2019-03-14 07:44] richelbilderbeek commented on #398
Done!

[We made into the newspaper](https://www.dvhn.nl/groningen/Het-is-Pi-dag-Rich%C3%A8l-Bilderbeek-trekt-spoor-van-pis-door-Groninger-binnenstad-24265650.html)!

[2019-03-14 07:44] #398 closed

[2019-03-14 12:58] richelbilderbeek commented on #398
[Radio fragment](https://www.rtvnoord.nl/radio/programma/20700/Karel-op-Noord/aflevering/22471) at 20:00-24:10

[2019-03-14 13:24] Joshua260403 commented on #398
At exactly 21:00, after the wierd german song

Op do 14 mrt. 2019 13:58 schreef Richel Bilderbeek <notifications@github.com

[2019-03-14 13:37] richelbilderbeek commented on #398
[more news](https://www.rtvnoord.nl/nieuws/206075/Sinterklaas-vieren-we-alleen-op-aarde-pi-dag-kan-in-het-hele-universum)

[2019-03-14 18:45] #440 closed

[2019-03-14 18:45] #433 closed

[2019-03-14 18:46] #431 closed

[2019-03-14 18:46] #441 closed

[2019-03-14 18:47] #442 closed

[2019-03-14 18:49] #404 closed

[2019-03-14 19:00] #459 closed

[2019-03-14 19:00] #421 closed

[2019-03-14 19:25] #448 closed

[2019-03-14 19:26] #455 closed

[2019-03-14 19:26] #444 closed

[2019-03-14 19:26] #438 closed

[2019-03-14 19:26] #443 closed

[2019-03-14 19:38] Joshua260403 commented on #463
@martje127 SPOILER HINT ALERT!!!

[spoiler here](https://translate.google.com/#view=home&op=translate&sl=en&tl=nl&text=create%20a%20new%20function%20named%20rotate)

[2019-03-14 20:57] #458 closed

[2019-03-14 20:57] #457 closed

[2019-03-14 20:57] #456 closed

[2019-03-14 20:57] #454 closed

[2019-03-14 20:57] #453 closed

[2019-03-14 20:57] #452 closed

[2019-03-14 20:57] #450 closed

[2019-03-14 20:57] #449 closed

[2019-03-14 20:58] #468 closed

[2019-03-14 21:07] #466 closed

[2019-03-15 11:47] Joshua260403 opened #470 "Create new issues"
Assign yourself is you want to help :seedling:

Make sure to get your idead checked out by @Joshua260403 :four_leaf_clover:

[2019-03-15 12:06] richelbilderbeek commented on #470
Agreed, @Joshua260403 must agree on the Issue and has the right to veto any Issue.

[2019-03-15 12:51] Joshua260403 commented on #460
Note to self: check if m_selected actually does something

[2019-03-15 13:06] Joshua260403 commented on #467
Please view the notes i reacted in the commit

[2019-03-15 13:10] Joshua260403 commented on #460
Note to self: remove std::cout

[2019-03-15 14:02] richelbilderbeek commented on #465
May I suggest closing this Issue?

[2019-03-15 14:30] richelbilderbeek opened #471 "Nomination: music and sound effects for Jan"
**Is your feature request related to a problem? Please describe.**

Currently, we have no one that is responsible for sound and music. Yesterday I spoke @janderkkotlarski and he is willing to do this.

**Describe the solution you'd like**

I suggest the adolescent mediors @Joshua260403, @RafayelGardishyan and @robkruger vote if they agree. If they vote against -which is perfectly fine- I do reques

[2019-03-15 14:58] richelbilderbeek opened #472 "Respond to keyboard in pause screen"
**Is your feature request related to a problem? Please describe.**

Currently, when pausing the game, one needs to click on 'Continue' or 'Quit'. Pressing 'C' or 'Q' does nothing.

**Describe the solution you'd like**

 * Allow the use to continue when he/she presses 'C'.
 * Allow the user to quit when he/she presses 'Q'

**Describe alternatives you've considered**

None

**Additional context**

N

[2019-03-15 14:59] richelbilderbeek opened #473 "Suggest: move all UX Issues to here"
**Is your feature request related to a problem? Please describe.**

Currently, the graphics department could use some help. I suggest to move all UX Issues to this project, so others can assign themselves some graphics Issues.

**Describe the solution you'd like**

I suggest to vote before doing so with the adolescent mediors: @Joshua260403, @RafayelGardishyan and @robkruger.

**Describe alternati

[2019-03-15 15:03] richelbilderbeek opened #474 "Bug: running game with '--spin --music' freezes the game and/or plays the wrong music"
**Is your feature request related to a problem? Please describe.**

When running the game with `--spin --music`, it freezes the game while playing the wrong music.

**Describe the solution you'd like**

I would like to hear the correct music and being able to see this amazing hidden feature of Nature Zen.

When done, also modify the `.travis.yml` file. Currently there is a line like this:

[code]

[2019-03-15 15:03] richelbilderbeek commented on #474
Actually, it also freezes the Travis build, so I increase this Issue in priority.

[2019-03-15 15:14] richelbilderbeek opened #475 "Make title screen even prettier"
**Is your feature request related to a problem? Please describe.**

These are my idea for the title screen.

**Describe the solution you'd like**

Look at these ideas and implement only the ones you like:

![zo](https://user-images.githubusercontent.com/2098230/54441532-4522da80-473d-11e9-8d15-022e538d607b.png)

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-15 15:21] richelbilderbeek opened #476 "Make menu screen respond to keys"
**Is your feature request related to a problem? Please describe.**

Our menu screen is awesome. To go to the other sections, one needs to click with the mouse.

![2019-03-15-162004_1722x910_scrot](https://user-images.githubusercontent.com/2098230/54442058-3ab51080-473e-11e9-83d6-dea317a5a770.png)

Pro users like me expect to be able to use the keyboard to go to other sections

**Describe the solut

[2019-03-15 15:25] richelbilderbeek opened #477 "Finish can_eat"
**Is your feature request related to a problem? Please describe.**

Currently, this is the `can_eat` function:

[code]

There are more things that can eat each other: we have twenty agents!

**Describe the solution you'd like**

Complete the whole food web, by specifying for each agent all of the agents it can eat.

**Describe alternatives you've considered**

I considered chopping up this Issue i

[2019-03-15 15:31] richelbilderbeek opened #478 "Re-do create_default tiles and agents"
**Is your feature request related to a problem? Please describe.**

Currently, the game looks like this:

![2019-03-15-162803_1722x910_scrot](https://user-images.githubusercontent.com/2098230/54442664-579e1380-473f-11e9-9537-ac3b3f58e6ce.png)

This is not a natural ordering of things

**Describe the solution you'd like**

I suggest to design a more natural ordering of tiles, with for example:

 *

[2019-03-15 17:59] Joshua260403 commented on #478
Isn't this a duplicate?

Op vr 15 mrt. 2019 16:31 schreef Richel Bilderbeek <notifications@github.com

[2019-03-15 18:04] richelbilderbeek commented on #445
Moved #478, closing this one.

[2019-03-15 18:04] #445 closed

[2019-03-15 18:08] robkruger commented on #473
That's fine by me

[2019-03-15 18:12] #465 closed

[2019-03-15 18:17] richelbilderbeek commented on #473
@Joshua260403 agrees, let's do it :shipit:

[2019-03-15 18:17] #473 closed

[2019-03-15 18:19] richelbilderbeek commented on #471
@Joshua260403 and @robkruger agree: concratulations @janderkkotlarski, you are the sound and music designer!

[2019-03-15 18:19] #471 closed

[2019-03-15 18:46] richelbilderbeek opened #479 "Put Steam requirements in doc"
**Is your feature request related to a problem? Please describe.**

Currently, we have an idea of how to get our game on Steam. In the comments below, useful links are added.

**Describe the solution you'd like**

Put those links in a doc, e.g. `doc/requirements.md`.

Create an Issue for each Steam requirement.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-15 18:48] antonhensen81 opened #480 "Agents should be relocated after rotating a tile"
WARNING: THIS IS PROBABLY PREMATURE - DO NOT FIX!  Martje is still working out the rotating feature, so let's wait for that first ;-)

~~
**Describe the bug**
When I rotate a tile the agents on top of it seem to remain in the same location. I would expect the location of the agents that are on top of the tile to be updated after the tile is rotated.

**To Reproduce**
- select a tile, preferebly wi

[2019-03-15 18:52] richelbilderbeek commented on #479
Note to self, from [here](https://partner.steamgames.com/newpartner/?signup_type=1):

 * A 30-day waiting period between when you paid the app fee and when you can release your game
 * You’ll need to prepare your store page and put up a publicly-visible ‘coming soon’ page for at least two weeks.

So, deadlines will be:

 * July 4th: final presentation
 * May 31st: having paid fee
 * June 14th: hav

[2019-03-15 18:57] antonhensen81 opened #481 "Rotating a tile should not be possible when it results in an overlap"
WARNING: THIS IS PROBABLY PREMATURE - DO NOT FIX. Martje is still working out the rotating feature, so let's wait for that first ;-)

~~
**Describe the bug**
When I have a tile in a position where it would cause an overlap with another tile after rotating, it should not be possible to rotate it.

**To Reproduce**
- Move a tile to a position adjacent to another tile
- Press R
- In some cases you wi

[2019-03-15 19:27] richelbilderbeek commented on #479
GPL license could be a problem, but acceptable, e.g. [KeeperRL](https://github.com/miki151/keeperrl) has a [GPL-2 license](https://github.com/miki151/keeperrl/blob/master/LICENSE).

[2019-03-15 19:29] richelbilderbeek commented on #479
Options:

  1. keep the license under my name and make me state it's fine to have it distributed on Steam
  2. put the license under Team Octame and make **everyone** state it's fine to have it distributed on Steam

[2019-03-15 19:36] richelbilderbeek commented on #479
We will need someone to setup the [SteamPipe](https://partner.steamgames.com/doc/sdk/uploading)...

[2019-03-15 19:37] richelbilderbeek commented on #479
There are [many cool features](https://partner.steamgames.com/doc/features) our team members would love to explore!

[2019-03-15 19:39] richelbilderbeek commented on #479
The [review process](https://partner.steamgames.com/doc/store/review_process) appears easy!

[2019-03-15 19:41] richelbilderbeek commented on #479
We need to think about an [early access](https://partner.steamgames.com/doc/store/earlyaccess) yes/no...

[2019-03-15 19:54] richelbilderbeek opened #482 "All must agree that we distribute on Steam"
**Is your feature request related to a problem? Please describe.**

For getting the game on release (#479), the whole Team Octane must agree that we do so, even though we have a GPL-3 license.

**Describe the solution you'd like**

Everybody must state here that he/she is OK with distribution on Steam

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-15 19:54] richelbilderbeek commented on #482
I, @richelbilderbeek, agree.

[2019-03-15 19:58] Enzo9 opened #483 "merging results in "none tile""
If you merge a water tile with a dunes tile it becomes a none tile

[2019-03-15 19:58] richelbilderbeek opened #484 "SteamPipe: setup SteamPipe"
**Is your feature request related to a problem? Please describe.**

Steam uses a distribution system called SteamPipe. Someone needs to set it up before our release.

**Describe the solution you'd like**

Someone needs to set it up.

**Describe alternatives you've considered**

None.

**Additional context**

@RafayelGardishyan is in charge with this. This will be his Issue. He is free to help othe

[2019-03-15 20:28] Enzo9 commented on #482
i, @Enzo9, agree that we also distribute Nature Zen on steam

[2019-03-15 20:29] same-drenth opened #485 "Assertion failed"
**Describe the bug**
Assertion failed
In tile.cpp, line 189
expression: f_y > = 0.0 && f_y 1.0

**To Reproduce**
Steps to reproduce the behavior:
1. Go to tile.cpp
2. Scroll down to line 189
3. See error

**Expected behavior**
I expect this to not happen again

**Additional context**
Add any other context about the problem here.

[2019-03-15 20:30] robkruger commented on #482
I, @robkruger, agree that we distribute Nature Zen on steam

[2019-03-15 20:33] richelbilderbeek commented on #479
We need to form or have a legal entity...

[2019-03-15 20:33] Enzo9 opened #486 "rotating tiles may result in them being misplaced"
when rotating a tile the x or y coordinate of the rotated tile becomes incorrect.

[2019-03-15 20:43] richelbilderbeek commented on #485
How to reproduce: start up game, happens randomly,

[2019-03-15 20:48] richelbilderbeek commented on #479
We want [the Steam Error Reporting feature](https://partner.steamgames.com/doc/features/error_reporting)!

[2019-03-15 20:54] richelbilderbeek opened #487 "Add God Mode for debugging"
**Is your feature request related to a problem? Please describe.**

Currently, our testers go Game Over while testing the game. It would be helpful if there would be a God Mode in the game.

**Describe the solution you'd like**

Add a way to enable God Mode, for example, when `iloverichel` is typed.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-15 21:00] richelbilderbeek opened #488 "Vote: manual as doc, as GitHub wiki or Wikia wiki"
**Is your feature request related to a problem? Please describe.**

Currently, our game is undocumented. Players expect a manual.

There are three ways to do so:

 * Use a `doc/manual.md` Markdown file
 * Use the GitHub wiki
 * Use a Wikia wiki

Features

Option|Pro|Con
---|---|---
Markdown|Simple, can be used in-game|No Wiki capabilities
GitHub wiki|No extra account needed, only Team Octane membe

[2019-03-15 21:32] richelbilderbeek opened #489 "Show name of selected tile"
**Is your feature request related to a problem? Please describe.**

Currently, when a tile is clicked, the player is unable to see what type it is.

**Describe the solution you'd like**

When clicking a tile, display its type underneath the Zen Bar, something like this:

![2019-03-15-222826_1722x910_scrot](https://user-images.githubusercontent.com/2098230/54463038-03605700-4772-11e9-9806-3a49e113e

[2019-03-15 21:44] richelbilderbeek opened #490 "Rotation transfers agents between tiles: this is cool!"
**Is your feature request related to a problem? Please describe.**

Currently, when we rotate tiles adjacent to other ones, agents can be transferred between tiles.
For example, a tree can be transferred to arctic.

![2019-03-15-224103_1722x910_scrot](https://user-images.githubusercontent.com/2098230/54463518-a9f92780-4773-11e9-8646-deee65aa4c84.png)

We could consider it a bug or a feature. One o

[2019-03-16 09:16] richelbilderbeek commented on #479
Purchased a Steam right to publish, thanks to @antonhensen81:

![we_zijn_op_steam](https://user-images.githubusercontent.com/2098230/54473163-74385b00-47d4-11e9-9e15-31e55888e240.png)

[2019-03-16 11:49] Rijk-van-Putten commented on #482
I agree that we distribute Nature Zen on Steam. @Rijk-van-Putten

[2019-03-16 12:43] richelbilderbeek opened #491 "Rob: prepare for decent profiling"
**Is your feature request related to a problem? Please describe.**

Currently, the game gets slower when there are more agents.

@robkruger, to person responsible for profiling, added profiling [to the Travis log](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/507174800#L1884):

[code]

There is a clear hint which two functions are causing the slowness of the game. But there are some

[2019-03-16 13:19] richelbilderbeek opened #492 "Create class sfml_zen_bar"
**Is your feature request related to a problem? Please describe.**

Currently, the Zen Bar consists out of two SFML RectangleShapes. Because the Zen Bar is more than just two RectangleShapes, I suggest to put it into a seperate class. A future Issue will showcase another example to do so.

**Describe the solution you'd like**

Move everything related to the Zen Bar to a seperate class called `sfml

[2019-03-16 13:40] Joshua260403 commented on #482
Yes

Op za 16 mrt. 2019 12:49 schreef Rijk van Putten <notifications@github.com>:

[2019-03-16 13:41] Joshua260403 commented on #482
i, @joshua260403 hereby agree that we, team octane, publish our game on
steam under the current lisence

Op za 16 mrt. 2019 14:39 schreef Joshua van Waardenberg <
joshuavwaardenberg@gmail.com>:

[2019-03-16 16:08] Joshua260403 commented on #490
Does this only happen when a tile glitches inside of another, because if so, that is a bug and the way this happens should change. Then still we will vote.

[2019-03-16 16:17] Joshua260403 commented on #490
![Image](https://ibb.co/4JC7BYc) vote on this to happen

[2019-03-16 17:23] robkruger commented on #490
I also disagree with how it is now. But @Joshua260403's idea is cool.

[2019-03-17 08:40] richelbilderbeek commented on #490
I also thing @Joshua260403 s idea to swipe agents on a rotating tile is cool. Good luck programming that one in :+1:

[2019-03-17 08:43] richelbilderbeek opened #493 "Swipe agents on a rotating tile"
**Is your feature request related to a problem? Please describe.**

Currently, there is only a glitched way to transfer agents between tiles(#490). A superior way was suggested by @Joshua260403:

![Image](https://i.ibb.co/jHqT7Wd/sketch-1552752860380.png) vote on this to happen

If a tile rotates over another (without glitching into it), it swipes the agents of the other tile on it.

**Describe th

[2019-03-17 08:52] richelbilderbeek opened #494 "Tile rotation should look smooth"
**Is your feature request related to a problem? Please describe.**

Currently, a tile rotation is instantaneous: press 'r' and the tile is rotated immediately.

This rotation is used to swipe agents from one tile to another (#493). If the rotation is instantaneous, it will be unclear to the player what happened.

**Describe the solution you'd like**

I would like to tile rotation to look smooth: t

[2019-03-17 08:57] richelbilderbeek commented on #490
Closing the Issue as we've found the neat mechanism @Joshua260403 suggested :rainbow:

[2019-03-17 08:57] #490 closed

[2019-03-17 09:06] richelbilderbeek commented on #491
Well done!

Now we see [in the Travis CI log](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/507268022#L1865):

[code]

Drawback here is that the experiment is still imperfect, as new agents get added and removed all the time. Cleaner would be is to have a constant, big amount of agents.

Setup a better experiment with the `--profile` flag (great addition!), in which there are e.g. 1

[2019-03-17 10:59] robkruger commented on #491
What do you mean with never interact?

[2019-03-17 11:43] richelbilderbeek commented on #491
Sorry for the confusion: I meant that that the agents do not eat/damage each other, so that their number remains constant.

[2019-03-17 11:49] richelbilderbeek opened #495 "Rob: determine big-O complexity"
**Is your feature request related to a problem? Please describe.**

Currently, we have no idea how the run-time speed scales with the number of agents: if there are x more agents, will the game go x as slow? Or will it go `x^2` times as slow?

**Describe the solution you'd like**

Determine the ![big-O complexity](https://en.wikipedia.org/wiki/Big_O_notation) be filling in this table:

Number of a

[2019-03-17 11:51] richelbilderbeek commented on #491
When done, continue at 495 :+1:

[2019-03-17 11:52] Joshua260403 commented on #495
My hypothesis is: t = t1 * n_agents^3 + t1 * n_agents * n_tiles
Or something like that :)

Op zo 17 mrt. 2019 12:49 schreef Richel Bilderbeek <notifications@github.com

[2019-03-17 11:55] richelbilderbeek commented on #495
My hypothesis is:

[code]

(note that commonly we write down the biggest term only, without constants, else I'd write down:

[code]

In which a, b and c are constants)

[2019-03-17 12:04] richelbilderbeek opened #496 "Use SFML view"
**Is your feature request related to a problem? Please describe.**

Currently, we hand-code how the camera behaves. A superior option would be to use a View, which is a part of a common Design Pattern called Model-View-Controller. Not only will this simplify code, this also opens up more avenues, e.g. rotating the camera!

**Describe the solution you'd like**

Use a view, as described in the SFML

[2019-03-17 12:07] Joshua260403 commented on #496
We are using a view

Op zo 17 mrt. 2019 13:04 schreef Richel Bilderbeek <notifications@github.com

[2019-03-17 12:07] #496 closed

[2019-03-17 12:09] richelbilderbeek opened #497 "Use SFML classes in `sfml_` files only"
**Is your feature request related to a problem? Please describe.**

There is a good reason to separate SFML and non-SFML classes: we follow the common Design Pattern called Model-View-Controller. The Model is the game's logic, in e.g. `game`. The View is the display of that Model. These two should definitely remain separate.

However, I find this in `game.cpp`:

[code]

**Describe the solution you

[2019-03-17 12:14] richelbilderbeek opened #498 "Actually use the SFML view"
**Is your feature request related to a problem? Please describe.**

Currently, we use an SFML view (#496). Using such a view allows us to move the camera in any direction, zoom in/out and rotate.

However, there are a lot of magic numbers in the code that code for the transformation that should be done by the view:

[code]

**Describe the solution you'd like**

Replace the magic numbers by usage o

[2019-03-17 12:30] richelbilderbeek opened #499 "Remove all those GitHub Issue templates"
**Is your feature request related to a problem? Please describe.**

When creating a new Issues, I get a list of six options. Only the third one is useful in practice:

![2019-03-17-131501_1920x1056_scrot](https://user-images.githubusercontent.com/2098230/54490735-cd79ba80-48b8-11e9-9e39-325c2f1c4a20.png)

**Describe the solution you'd like**

Remove all Issue templates except 'Feature request' and

[2019-03-17 12:41] richelbilderbeek opened #500 "Use asserts instead of couting a segfault"
**Is your feature request related to a problem? Please describe.**

I find [here](https://codecov.io/gh/richelbilderbeek/djog_unos_2018/src/master/game.cpp#L198):

[code]

This is problematic for multiple reasons:

 * It hides something that is an error
 * It's a non-standard idiom

**Describe alternatives you've considered**

Add asserts and use the `operator[]` instead:

[code]

**Additional con

[2019-03-17 12:53] richelbilderbeek opened #501 "Allow player to zoom in and out smoothly"
Depends on:

 * [x] #498

**Is your feature request related to a problem? Please describe.**

Currently, we use an SFML view (#496) but do not take it into account of all our calculations/transformations (#498). If the latter Issue is done, it **should** be easy to allow the player to zoom in and out.

**Describe the solution you'd like**

Let the player zoom in and out with, say, `z` and `c` (I r

[2019-03-17 12:56] richelbilderbeek opened #502 "Allow player to rotate camera"
Depends on:

 * [ ] #501

**Is your feature request related to a problem? Please describe.**

When the camera can zoom in and out, it **should** be easy to allow the player to rotate the camera.

**Describe the solution you'd like**

Let the player rotate the camera left and right, say, `q` and `e` (`z` and `c` are already used for zooming in and out).

**Describe alternatives you've considered**

[2019-03-17 13:13] richelbilderbeek opened #503 "Game design: agents should not fall off tiles yes or no?"
**Is your feature request related to a problem? Please describe.**

Currently, agents fall off tiles, for example, this poor crocodile:

![suicide_crocodile](https://user-images.githubusercontent.com/2098230/54491399-9ad2c080-48be-11e9-8309-e7a6bfd8ced0.png)

**Describe the solution you'd like**

Actually, I think this a feature, not a bug: one needs to care for the creatures now!

@Joshua260403:

[2019-03-17 13:20] Joshua260403 commented on #499
New type is used too

Op zo 17 mrt. 2019 13:30 schreef Richel Bilderbeek <notifications@github.com

[2019-03-17 13:21] Joshua260403 commented on #498
I believe this is also done already

Op zo 17 mrt. 2019 13:14 schreef Richel Bilderbeek <notifications@github.com

[2019-03-17 13:22] Joshua260403 commented on #503
This was going to be a feature, but now i think about it it should be fixed

Op zo 17 mrt. 2019 14:13 schreef Richel Bilderbeek <notifications@github.com

[2019-03-17 13:36] Joshua260403 commented on #501
also with scrolling would be nice

[2019-03-17 13:37] richelbilderbeek commented on #499
Thanks, updated Issues :+1:

[2019-03-17 13:38] richelbilderbeek commented on #498
Cool! In which branch are there no more magic numbers? I see in `develop` they are still around.

[2019-03-17 13:38] Joshua260403 commented on #498
Also, the 122 should not change at all ever, the 122 is the translation from the actual sfml view coordinate to tile placement coordinate

[2019-03-17 13:38] richelbilderbeek commented on #503
OK, updated Issue to say you agreed :rocket:

[2019-03-17 13:39] Joshua260403 commented on #498
everything is placed in sfml with mapPixelToCoords(m_window) meaning it is already mapped to the view

[2019-03-17 13:39] richelbilderbeek commented on #501
You mean: 'player should be able to zoom in and out fluidly'?

[2019-03-17 13:39] #498 closed

[2019-03-17 13:40] Joshua260403 commented on #498
will reopen if zooming does not work correctly after all

[2019-03-17 13:40] Joshua260403 commented on #501
kinda

[2019-03-17 13:41] Joshua260403 commented on #501
take for example how the scrolling on this very webpage works

[2019-03-17 13:42] Joshua260403 commented on #501
(in chrome, dont know about duckduckgo scrolling)

[2019-03-17 13:42] richelbilderbeek commented on #498
Fantastic! Go team :1st_place_medal:

[2019-03-17 13:43] richelbilderbeek commented on #501
Renamed Issue :+1:

[2019-03-17 13:45] richelbilderbeek opened #504 "When agent dies, a corpse (or something similar) should be displayed temporarily"
**Is your feature request related to a problem? Please describe.**

Currently, when an agent dies, it just vanishes. In reality, a corpse (or similar) appears.

**Describe the solution you'd like**

When an agent dies, show something to indicate that it died temporarily.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-17 13:45] Joshua260403 commented on #481
yeah @martje127 is working on this in his issue making it a Duplicate of #463

[2019-03-17 13:45] #481 closed

[2019-03-17 13:45] Joshua260403 commented on #481
Duplicate of #463

[2019-03-17 13:49] richelbilderbeek opened #505 "When a new agent appears, stars (or something similar) should appear temporarily"
**Is your feature request related to a problem? Please describe.**

Currently, when a new agent appears, it just ... appears.

In most games, this is displayed somehow with stars that disappear after a short time.

**Describe the solution you'd like**

When a new agent spawn, display this happy fact temporarily.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-17 13:53] Joshua260403 opened #506 "Use milestones instead of "subject:""
Instead of typing "subject:" in an issue name (like in #491 and #479) we could use milestones.

Milestones are like labels, but they are milestones, you understand?

[2019-03-17 13:55] Joshua260403 commented on #505
Hmm, don't know about this one. Kinda like the idea that it just spawns without any special effects or whatever:
1) Never seen a game do that
2) It's more zen without special star confetti party for every agent that spawns

[2019-03-17 13:56] richelbilderbeek commented on #505
If you disagree, well, you are the boss :+1:

Will close this Issue :rainbow:

[2019-03-17 13:56] #505 closed

[2019-03-17 13:57] richelbilderbeek commented on #506
Sounds like a fine plan, will do so.

[2019-03-17 13:57] #506 closed

[2019-03-17 14:02] Joshua260403 opened #507 "Acknowledge "rik pot""
I don't know who he is, but apparently he tests nature zen.

Seeing the fact that @richelbilderbeek opened multiple issues suggested by "rik pot" we should put him in the about screen under the header "pre-release tester" or "external tester" or something like that.

[2019-03-17 14:06] Joshua260403 commented on #504
if you don't want to add new textures: just turn the agent upside down

[2019-03-17 14:06] Joshua260403 commented on #504
lol we could add vultures that eat the corpses

[2019-03-17 14:08] richelbilderbeek commented on #507
Agreed 'External tester' sounds fine. Of course, all other testers we give the Steam keys to before release should also be mentioned.

[2019-03-17 14:09] richelbilderbeek commented on #504
An upside-down agent should be a fine start. When that's in, we'll reconsider doing something more fancy.

Worms eat corpes :-)

[2019-03-17 16:44] #491 closed

[2019-03-17 17:15] Joshua260403 commented on #501
Wouldn't Z and X make more sense? Or . and ,?
Leaving the keybind up to the person who does this issue (but make sure to tell me because i document all of the keybinds)

[2019-03-17 17:24] Joshua260403 commented on #497
sfml_camera isn't really a sfml class i believe

[2019-03-17 17:27] Joshua260403 commented on #497
nvm i made that class complicated with view stuff so now it is, i think it would be really complicated to rewrite it. Or maybe mapPixelToCoords will do but im not sure about that one

[2019-03-17 17:30] Joshua260403 commented on #497
Not sure if this issue is suitable for juniors, also for anyone doing this issue. DO NOT change anything to the camera class, the sf::renderwindow objector the sf::view object. you will most like mess up how everything looks.

[2019-03-17 17:35] #470 closed

[2019-03-17 17:36] Joshua260403 commented on #482
Do ex-team octane members need to do this too (at least the ones that contributed something)

[2019-03-17 17:55] robkruger commented on #495
Did I cause [this](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/507527193) error? It runs fine at my laptop with those arguments

[2019-03-17 18:01] richelbilderbeek commented on #495
You broke the build with an earlier commit:  38bc97c95e69146d23fd87e68e5981e6b49f9b94

No problemo, I'm sure you can fix it :+1:

[2019-03-17 18:14] robkruger commented on #487
I also need this for profiling, but if I do this issue, the whole profiling step is also on develop. Is that ok?

[2019-03-17 18:17] Joshua260403 commented on #487
Will the profilling stuff bring confusion to the team in the way of unused
code or woerd visual stuff?
If yes, yes.
If not, no.

Op zo 17 mrt. 2019 19:14 schreef Rob Krüger <notifications@github.com>:

[2019-03-17 18:17] robkruger commented on #487
The only thing I can think of is longer build times

[2019-03-17 18:18] Joshua260403 commented on #487
Sure thing go ahead and do this

Op zo 17 mrt. 2019 19:17 schreef Rob Krüger <notifications@github.com>:

[2019-03-17 18:45] robkruger commented on #495
I don't see the problem 😅

[2019-03-17 18:59] richelbilderbeek commented on #497
Perhaps you should be the one to tackle this Issue?

[2019-03-17 19:01] richelbilderbeek commented on #482
Formally: yes. OTOH, we started with the idea to put the game on Steam, so there always was an implicit agreement. Let's be exemplary and get as much votes out as possible.

[2019-03-17 19:02] richelbilderbeek commented on #487
Sure, profiling should reach develop and master as well.

In the case this would take up too much time, we can setup Travis to do profiling only on Rob's branch.

[2019-03-17 19:04] richelbilderbeek commented on #495
Running the game is causing a freeze longer than 10 minutes. Try to decrease the time for `--short` or `--profile` :+1:

[2019-03-18 14:35] robkruger commented on #495
I did that, but I don't think that's the problem....

[2019-03-18 14:55] richelbilderbeek commented on #495
I interrupted the program while in debug mode. It paused in this test:

[code]

I think that will help :+1:

[2019-03-18 14:57] Joshua260403 commented on #495
[pro tip](https://www.youtube.com/watch?v=I_izvAbhExY)

[2019-03-18 15:03] Joshua260403 commented on #495
wait no, maybe not

[2019-03-18 15:56] richelbilderbeek opened #508 "Vote: hackathon Sunday June 9th?"
**Is your feature request related to a problem? Please describe.**

For #479 we learned that the deadline to open up our Steam page is June 13th. To tidy up the last things, I suggest we (which is only Team Octane) work on Sunday 9th (the day after it is the second day of Pinksteren) from 12:00-late at De Jonge Onderzoekers. There will be pizza.

**Describe the solution you'd like**

Let me know i

[2019-03-18 16:03] Joshua260403 commented on #508
Yes

[2019-03-18 16:14] robkruger commented on #495
I still don't see the problem😅, the test runs fine on my laptop and the agents get killed...

[2019-03-18 16:33] robkruger commented on #508
Yes

[2019-03-18 17:04] richelbilderbeek commented on #495
Hmmm, perhaps Travis has a different random number generator: perhaps changing the `while` loop in the test to a (long) `for` helps.

Else perhaps maybe your computer is faster than Travis, then calculations based on number of ticks and number of seconds have different ratios...

Hard problem, good luck :+1:

[2019-03-18 17:14] robkruger commented on #495
In [this](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/507920540) build, I printed m_allow_damage, which was false on Travis, but true on my laptop. I think something is wrong there.

I'll try changing the loop.

[2019-03-18 18:38] robkruger commented on #495
I know what was wrong... My Qt ran the release version instead of the debug version...

[2019-03-18 19:29] richelbilderbeek commented on #495
Aha, well spotted!

[2019-03-19 11:42] Joshua260403 commented on #472
Continue with escape would make sense too

[2019-03-19 18:24] robkruger commented on #495
Which value is the Run-time speed?

[2019-03-20 16:38] Joshua260403 commented on #479
why is the account name blurred, is the right bought to an account named anton, can we change the name to team octane or create a steam group named team octane we can publish it under

[2019-03-20 16:41] Joshua260403 commented on #479
[click here to read the documents btw](https://partner.steamgames.com/doc/store/creator_homepage) 🍀

[2019-03-20 16:55] Joshua260403 commented on #479
[found this to add devs](https://partner.steamgames.com/pub/users/) (if that is how this is gonna work)

[2019-03-20 17:02] Joshua260403 commented on #484
It's not a CI, it's a distribution system

[2019-03-20 17:05] Joshua260403 commented on #484
alot of stuff to figure out here

[2019-03-20 17:15] Joshua260403 opened #509 "Multi-language support"
To make our game better playable by people in (for example) France and Russia, we need a language manager.

Create a singleton thingy class (like `sfml_window_manager`) named `language_manager`

We create a function for ever string that has to be translated, for example:
- `get_play("fr")` will return "jouer" or something similar I'm not that great at french and neither is google translate. 🌱
- `g

[2019-03-21 07:54] wdoekes commented on #509
Rolling your own i18n is generally a bad idea. Many have tried, many have failed.

I would suggest looking at "GNU gettext" or something with similar functionality that's easily integratable in your particular language+toolchain.

It might be more troublesome to get started, but you'll be happy afterwards. As an added benefit, others can use existing tools to manipulate gettext po files (= create

[2019-03-21 08:04] richelbilderbeek commented on #509
I enjoy this part of the [GNU gettext doc](https://www.gnu.org/software/gettext/FAQ.html):

[2019-03-21 08:05] richelbilderbeek commented on #509
Being more seriously: I suggest on developing a cool game first, multi-language second.

Or: after releasing the game on Steam, let's see if we are going to add this.

[2019-03-21 08:29] Joshua260403 commented on #509
Wow whos that guy

[2019-03-21 08:29] Joshua260403 commented on #509
Will reopen whenever

[2019-03-21 08:29] #509 closed

[2019-03-21 09:29] Joshua260403 commented on #335
You should follow the guidelines

[2019-03-21 09:30] Joshua260403 commented on #336
Not clear that this is beach, it should have like puddles and stuff, this is tv snow alot of dogs went over

[2019-03-21 09:31] Joshua260403 commented on #333
Reset your branch, this is rejected

[2019-03-21 09:32] Joshua260403 commented on #333
Just to be clear, it's one issue because it's one texture (that -again- is transparent)

[2019-03-21 09:34] Joshua260403 commented on #334
That is a double assignment to yourself (quadro even)

[2019-03-21 18:43] martje127 commented on #414
its removed

[2019-03-21 18:43] #414 closed

[2019-03-21 18:47] martje127 commented on #326
I don't see them walking towards grass, maybe the range is too short now. Joshua says you should try a range of around 15 to 20 calculated with the pythagoras theorem.

[2019-03-21 20:20] janderkkotlarski opened #510 "Implement music in the game"
ISSUE:
There is composed track to be implemented in the game.

WHAT TO DO:
Make a class to encapsulate the use of music and get the composed track to work in Nature Zen

This issue depends on issue #521

[2019-03-22 06:49] richelbilderbeek commented on #495
[It's complex](https://en.wikipedia.org/wiki/Time_(Unix)#Overview).

[2019-03-22 07:47] richelbilderbeek commented on #509
wdoekes is the father of jesperdoekes, a Team Red Cobra member.

[2019-03-22 07:49] richelbilderbeek commented on #484
Agreed. Fixed the Issue text.

[2019-03-22 08:12] richelbilderbeek commented on #508
Will be moved as not all that want to be there, can be there.

[2019-03-22 08:12] #508 closed

[2019-03-22 08:14] richelbilderbeek opened #511 "Hackathon Saturday May 25th 18:00-late"
**Is your feature request related to a problem? Please describe.**

For #479 we learned that the deadline to open up our Steam page is June 13th. To tidy up the last things, I suggest we (which is only Team Octane) work on Saturday May 25th from 18:00-late at De Jonge Onderzoekers. There will be pizza :pizza:.

**Describe the solution you'd like**

Let me know if you are interested. Or suggest a b

[2019-03-22 08:25] Joshua260403 commented on #511
Still, sure

Op vr 22 mrt. 2019 09:14 schreef Richel Bilderbeek <notifications@github.com

[2019-03-22 13:19] Joshua260403 commented on #405
Reassigned to Anton so he can get familiar with the code, you can check out branch "isis" and pull that to yourself or you may start over.

[2019-03-22 13:25] Joshua260403 commented on #502
Why would #501 have to be done first, i think this one is easier

[2019-03-22 13:26] Joshua260403 commented on #501
Do this after #502

[2019-03-22 17:52] richelbilderbeek opened #512 "Remove agent_type::none"
**Is your feature request related to a problem? Please describe.**

I've never observed a use of a null-type `agent_type`.

Take for example this line:

[code]

The line above indicates that no agent is yet found,

A superior way to indicate the same:

[code]

Drawback of the current approach are abominations like this:

[code]

I suggest to do ourselves a favour and remove `agent_type::none`.

**

[2019-03-22 17:56] Joshua260403 commented on #512
It is used in saving and loading and is an inportant part of making the
game work on incorrect save files (for when people try to mod the game)

Op vr 22 mrt. 2019 18:52 schreef Richel Bilderbeek <notifications@github.com

[2019-03-22 18:01] richelbilderbeek opened #513 "Remove tile_type::nonetile"
**Is your feature request related to a problem? Please describe.**

I've never observed a use of a null-type `tile_type`.

Take for example this line:

[code]

The line above indicates that no tile type exists,

A superior way to indicate the same:

[code]

The std::vector will be empty if there is no `tile_type`.

I suggest to do ourselves a favour and remove `tile_type::nonetile`.

**Describe th

[2019-03-22 18:24] Joshua260403 commented on #512
Replace the usages with a cow

[2019-03-22 18:24] Joshua260403 commented on #513
Replace the usages with grassland

[2019-03-22 18:26] robkruger commented on #504
I'll add a new texture and use that instead

[2019-03-22 18:31] richelbilderbeek opened #514 "Create credits"
**Is your feature request related to a problem? Please describe.**

We need to acknowledge people properly in the About screen.

Rules are:

 * Be generous with adding people
 * Do not over-attribute glory: when in doubt, don't

This is a sensitive Issue, therefore I do it.

**Describe the solution you'd like**

A clear and concise description of what you want to happen.

**Describe alternatives y

[2019-03-22 18:43] richelbilderbeek commented on #514
This is a work in progress. I will consult team members **in person** . Do not reply below.

## Project manager

Richel Bilderbeek
Anton Hensen

## Developers

### Medior developers

Joshua van Waardenberg
Rafayel Gardishyan
Rob Kruger

### Junior Developers

Enzo de Haas
Isis Reinders
Jan Derk Kotlarski
Jolien Gay
Mart Prenger
Rijk van Putten
Same Drenth
Tom Stuivenga

## Test

### Lead test

Mar

[2019-03-22 18:47] richelbilderbeek commented on #507
Done, put in #514

[2019-03-22 18:47] #507 closed

[2019-03-22 18:55] Joshua260403 commented on #514
Hey but wait a second, anton is a medior too (resulted from voting)

Op vr 22 mrt. 2019 19:43 schreef Richel Bilderbeek <notifications@github.com

[2019-03-22 18:56] RafayelGardishyan opened #515 "Change all sfml_zen_bar thingies in sfml_about_screen"
**Is your feature request related to a problem? Please describe.**
In the past we used sfml_zen bar components in every class apart.
Now it's possible to do that with a new class called sfml_zen_bar

**Describe the solution you'd like**
In sfml_about_screen change all zen_bar & zen_ind occurencies to the new class

**Describe alternatives you've considered**
A clear and concise description of any

[2019-03-22 19:14] antonhensen81 commented on #405
Should eat worms, spiders, birds

[2019-03-22 19:27] richelbilderbeek opened #516 "game::move_tiles must use STL classes only"
**Is your feature request related to a problem? Please describe.**

Currently, this is a member function of `game`:

[code]

All that is needed is the position of the mouse:

[code]

**Describe the solution you'd like**

Rewrite the function to only use the coordinats of the mouse:

[code]

Sure, the call to that function must be changed.

**Describe alternatives you've considered**

None.

**Addi

[2019-03-22 19:30] richelbilderbeek opened #517 "Add valgrind to Travis file"
**Is your feature request related to a problem? Please describe.**

Sometimes Nature Zen runs with a memory allocation failure. This is clearly an error, but it is irreproducible, as this is OS dependent. We need a means to detect this earlier and always.

**Describe the solution you'd like**

Add valgrind to the `.travis.yml`.

**Describe alternatives you've considered**

None.

**Additional cont

[2019-03-22 19:32] same-drenth commented on #335
done

[2019-03-22 19:32] #335 closed

[2019-03-22 19:33] RafayelGardishyan commented on #482
I, @RafayelGardishyan don't agree that "Nature Zen" will be published on Steam
Joke
I, @RafayelGardishyan agree that "Nature Zen" will be published on Steam

[2019-03-22 19:38] richelbilderbeek opened #518 "game::remove_tile must use STL classes only"
**Is your feature request related to a problem? Please describe.**

Currently, this is a member function of `game`:

[code]

All that is needed is the position of the mouse:

[code]

**Describe the solution you'd like**

Rewrite the function to only use the coordinats of the mouse:

[code]

Sure, the call to that function must be changed.

**Describe alternatives you've considered**

None.

**Addi

[2019-03-22 19:47] richelbilderbeek opened #519 "Clumsy and untested game::confirm_tile_move"
**Is your feature request related to a problem? Please describe.**

Currently, `game` has this member function:

[code]

It is clumsy and untested.

**Describe the solution you'd like**

 * Test the function
 * If the appears clumsy (which I predict it will), make the member function more natural, which will simplify the test

**Describe alternatives you've considered**

None.

**Additional contex

[2019-03-22 20:31] #336 closed

[2019-03-22 20:44] same-drenth commented on #338
it was already finished

[2019-03-22 20:44] #338 closed

[2019-03-22 23:19] janderkkotlarski opened #521 "Declutter and refunctionalize sfml_resources.h and sfml_resources.cpp"
ISSUE:
sfml_resources.h and especially sfml_resources.cpp have some cluttering issues that oclint signals about.
The class could use some flexibility in order to improve the access by other classes.

WHAT TO DO:
Add some handy functions that declutter some of the clutter and that also improve the access by other classes.
Also get rid of clunky and reptitive code.

Write some handy tests in the tes

[2019-03-23 11:34] richelbilderbeek commented on #482
@RafayelGardishyan: haha :u5272: :u5408: :u55b6: :u6307: :u6708: :u6709: :u6e80: :u7121: :u7533: :u7a7a: :u7981:

[2019-03-23 12:10] richelbilderbeek opened #522 "A tile constructor should behave as expected"
**Is your feature request related to a problem? Please describe.**

When someone creates a tile with a certain x coordinat, this is a test most people expect to pass:

[code]

Currently, however, this test fails, as the tile is rescaled during construction. I see why the tiles need to be rescaled, it just needs to be done elsewhere.

**Describe the solution you'd like**

Make the tile constructor

[2019-03-23 12:43] richelbilderbeek commented on #246
It worked, as long as a `tile` constructor worked as expected (#522).

Re-opening the Issues.

[2019-03-23 12:46] richelbilderbeek opened #523 "operator== on tiles should work as expected"
Depends on:

 * [ ] #522

**Is your feature request related to a problem? Please describe.**

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or featur

[2019-03-23 12:56] Joshua260403 commented on #523
I assume this is wip?

Op za 23 mrt. 2019 13:46 schreef Richel Bilderbeek <notifications@github.com

[2019-03-23 12:58] richelbilderbeek commented on #523
Yep, it even has been fixed already :+1:

[2019-03-23 12:58] #523 closed

[2019-03-23 13:09] Joshua260403 commented on #523
What was the problem?

[2019-03-23 13:10] Joshua260403 commented on #523
Oh you just wanted a test

[2019-03-23 13:10] richelbilderbeek commented on #523
Tile constructor had changed, had nothing to do with #522...

[2019-03-23 13:56] richelbilderbeek opened #524 "Fix memcheck errors"
**Is your feature request related to a problem? Please describe.**

memcheck detects a lot of errors:

[code]

results in [this Travis log](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/510297292#L3310):

[code]

**Describe the solution you'd like**

Find out what is the problem and fix it.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-03-25 12:29] janderkkotlarski opened #525 ".qrc resource management limits storage space for data files"
ISSUE:
Trying to add about 2 or more Megabytes of file data using the .qrc resource management system in QT makes the compiler complaining about having to make an executable file of over a 100 Megabytes and not building it and leaving an error message.

WHAT TO DO:
Find a different way of handling and moving data files that circumvents the .qrc resource management system and removing the unnecessa

[2019-03-25 12:58] richelbilderbeek commented on #525
Perhaps adding a second resource file helps?

Do add it to `djog_unos_2018.pri` in the `RESOURCES` section.

[2019-03-25 13:04] Joshua260403 commented on #525
There should be an argument in the appveyor file that you might be able to
use

Op ma 25 mrt. 2019 13:58 schreef Richel Bilderbeek <notifications@github.com

[2019-03-25 13:26] Joshua260403 commented on #525
Wait a second, i am pretty sure i added `CONFIG += resources_big` once, to solve the appveyor memory problem, but i can't find it back. That might be the reason appveyor runs out of memory every now and then.

[2019-03-25 13:27] Joshua260403 commented on #525
@janderkkotlarski Try adding CONFIG += resources big before anything else please

[2019-03-25 13:33] richelbilderbeek commented on #525
On [Travis](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/510946730#L1739) there is a clear error message:

[code]

Is that unrelated to this Issue?

[2019-03-25 13:34] Joshua260403 commented on #525
I asked him about that on his commit too, there's some function @janderkkotlarski added that i am dubious about.

[2019-03-25 13:37] Joshua260403 commented on #510
Depends on what?

[2019-03-25 13:40] Joshua260403 commented on #525
It also might have something to do with #521, which i will still have to investigate.

[2019-03-25 13:40] Joshua260403 commented on #521
I don't see the problem, could you cite OClint for me.

[2019-03-25 13:40] Joshua260403 commented on #521
Depends on what?

[2019-03-25 13:47] Joshua260403 commented on #525
I'd like to introduce you to my new label (just for my vision, you may remove it if you don't like it and laughed at the joke)

[2019-03-25 13:53] Joshua260403 commented on #521
I looked at your 5 most recent build and all errors are something else than this, oclint exited with 0 every build i looked at (for as far as i know)

[2019-03-25 13:53] Joshua260403 commented on #525
Seems to work perfectly fine on travis, please cite the compiler

[2019-03-25 14:35] janderkkotlarski commented on #525
I do not know how to explain well enough what the problem is, just remove me as a collaborator, I'm done.

[2019-03-25 14:36] #525 closed

[2019-03-25 14:36] #521 closed

[2019-03-25 16:20] #391 closed

[2019-03-25 16:42] richelbilderbeek opened #526 "Monday April 8th 16:00-17:00 talk about memristive devices"
A cutting-edge and free talk at the Zernike Campus. If at least two members join, we'll go. See below

 * What: Faculty Spotlight: CogniGron: Materials and systems for cognitive computing as a quest for sustainability, by Prof. Beatriz Noheda
 * When: April 8th 2018, 16:00
 * Where: Room 105, Bernouilliborg

Note that the dean will talk first. Most people experience this part as very boring!

## F

[2019-03-28 16:39] richelbilderbeek opened #527 "Richel absent tonight, Thursday March 28th"
I will be absent tonight. DJO will be open until 22:00, so Team Octane can still go forward :+1:

Good luck!

[2019-03-28 18:10] #527 closed

[2019-03-28 18:45] martje127 commented on #463
there is a start but i do not think i can do this

[2019-03-28 19:18] martje127 commented on #411
there is no overlapping any more

[2019-03-28 19:18] #411 closed

[2019-03-28 19:52] martje127 commented on #515
pls give some documentation, thank you, really appreciate it - DynCoder

[2019-03-28 20:21] janderkkotlarski opened #528 "Add merge sound"
ISSUE:
There is no sound for when grass multiplies

WHAT TO DO:
Make a sound that represents grass multiplication.
Implement it in the code.

[2019-03-29 11:14] Joshua260403 opened #529 "Don't use function std::stoi (fix appveyor)"
Currently all of our appveyor builds are failing, this is because appveyor doesn't know what std::stoi is. I wan't appveyor back for quick (secondary) testing, testing on windows and testing in release mode.

Find out a way to fix appveyor by for example:
- not using stoi (find replacement or make a function of your own)
- changing the appveyor cpp version (not recommended)
- not using the stoi fu

[2019-03-29 11:22] robkruger commented on #529
I'm already working on the first alternative.

[2019-03-29 11:53] Joshua260403 commented on #504
that was unexpected

[2019-03-29 11:53] #504 closed

[2019-03-29 14:44] Joshua260403 commented on #529
mine too, this is thus fixed

[2019-03-29 14:44] #529 closed

[2019-03-29 18:24] richelbilderbeek commented on #517
Added!

[2019-03-29 18:24] #517 closed

[2019-03-29 18:26] #510 closed

[2019-03-29 18:29] richelbilderbeek commented on #524
Start at [the first](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/510307822#L2112):

[code]

[2019-03-29 18:57] richelbilderbeek commented on #524
Some clear findings: this is caused by implicit conversions:

[code]

There is a problem with SFML: it uses `float` by default (as per history), where we using `double` by default (as is preferred)

[2019-03-29 19:17] richelbilderbeek commented on #487
This :rainbow: feels :rainbow: done!

[2019-03-29 19:17] #487 closed

[2019-03-29 19:19] Enzo9 opened #530 "The money symbol can be moved around"
<img width="860" alt="Nature Zen 29-3-2019 20_23_56" src="https://user-images.githubusercontent.com/46609181/55257637-c790bb80-5260-11e9-95c3-1015bdf66ef9.png">
if you boot up the game and click a tile, then move it downwards you can see the symbol appear you can now just move it around with the tile. it does go way faster than the tile though.

[2019-03-29 19:53] antonhensen81 commented on #460
@Joshua260403 I fail to see how this is 'maybe done'?

[2019-03-29 19:54] antonhensen81 commented on #478
Why was this marked 'maybe done'? I can't see it?

[2019-03-29 20:03] Joshua260403 commented on #460
To be tested

Op vr 29 mrt. 2019 20:53 schreef antonhensen81 <notifications@github.com>:

[2019-03-29 20:28] same-drenth opened #531 "Improve fish texture"
the old one is shitty

[2019-03-29 20:57] Enzo9 commented on #513
partially done, richel will finish it.

[2019-03-29 21:01] same-drenth opened #532 "Improve squirrel texture"
the old one is shitty

[2019-03-29 21:21] robkruger commented on #478
I created it, but didn't enable it because the game gets really slow if you enable it.

[2019-03-30 11:25] richelbilderbeek commented on #513
Finished @Enzo9's work :shipit:!

[2019-04-01 19:31] Joshua260403 commented on #461
@richelbilderbeek I need some help on this one. I got issues with pure virtual methods and it not displaying in general.

[2019-04-01 21:28] antonhensen81 commented on #463
Someone else should take over then. @Joshua260403 would you know who can take this one over? Seems hight prio to me as it is pretty fundermental?

[2019-04-02 00:23] Joshua260403 commented on #463
Indeed high priority, as at least two other issues depend on this.

[2019-04-02 00:27] Joshua260403 commented on #522
Assign myself as this is mega super ultra high priority

[2019-04-02 05:49] richelbilderbeek commented on #461
Will fix this tonight. I've already merged your work to my branch, so go ahead and fix that rotation Issue :+1:

[2019-04-02 16:38] richelbilderbeek commented on #461
Postponed till tomorrow/Wednesday :watermelon:

[2019-04-03 07:57] Joshua260403 commented on #463
Will do this together with #522

[2019-04-03 13:56] Joshua260403 commented on #461
The sfml version on travis isn´t up to date with ours, resulting in travis not knowing what mousewheelscrolled is. Can we change it to the same way appveyor does it or can it be solved another way?

[2019-04-03 13:58] Joshua260403 commented on #501
The sfml version on travis has to be updated first

[2019-04-03 14:54] richelbilderbeek commented on #461
Basically we are stuck with the current SFML version on Travis [1]. I use this trick:

[code]

On Travis, you may consider `#if`-ing out the code that uses the latest SFML stuff.

 * [1] Note that it is a very commonly used version of SFML, as it is the [Long Term Stable Ubuntu distro called 'Trusty Tahr'](https://en.wikipedia.org/wiki/Ubuntu_version_history#Ubuntu_14.04_LTS_(Trusty_Tahr)).

[2019-04-03 14:55] richelbilderbeek commented on #501
To [quote me](https://github.com/richelbilderbeek/djog_unos_2018/issues/461#issuecomment-479524807):

[code]

[2019-04-03 14:57] richelbilderbeek commented on #461
I do not since when this is available, but we could start using the new Xenial distro, according to [the Travis documentation](https://docs.travis-ci.com/user/reference/xenial/)!

[2019-04-03 14:57] richelbilderbeek commented on #501
I do not since when this is available, but we could start using the new Xenial distro, according to [the Travis documentation](https://docs.travis-ci.com/user/reference/xenial/)!

[2019-04-03 16:19] richelbilderbeek commented on #461
Maybe fixed by `#if`-ing stuff like

[code]

[2019-04-03 16:27] richelbilderbeek commented on #461
Appears fixes, back to @Joshua260403 :+1:

[2019-04-03 18:55] richelbilderbeek opened #533 "Make Travis script topic-branch dependent"
**Is your feature request related to a problem? Please describe.**

Travis topic branches need to be fast. But due to its many tasks, it's getting clogged up.

For example, this is part of `.travis.yml`:

[code]

**Describe the solution you'd like**

Do some branch-specific things in the Travis script:

 * Profiling: Rob
 * Memory checking: ?

Do everything in develop and master.

**Describe alter

[2019-04-04 14:08] richelbilderbeek opened #534 "Create simple Issues"
**Is your feature request related to a problem? Please describe.**

Some devs need simple Issues.

**Describe the solution you'd like**

Create simple Issues.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-04-04 14:10] richelbilderbeek commented on #524
Good enough for now...

[2019-04-04 14:10] #524 closed

[2019-04-04 14:12] richelbilderbeek opened #535 "Fetch book from CMB"
**Is your feature request related to a problem? Please describe.**

@RafayelGardishyan ordered a book from the university library. It has arrived in the CMB (UMCG library)

**Describe the solution you'd like**

Pick it up during a Thursday or Friday walk.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-04-04 14:22] richelbilderbeek commented on #533
Easy, see [here](https://stackoverflow.com/a/37544452)!

[2019-04-04 14:24] richelbilderbeek commented on #533
* [ ] Let this code be run on `richel`'s branch:

[code]

 * [ ] Let this code be run on `rob`'s branch:

[code]

[2019-04-04 14:24] richelbilderbeek commented on #533
@Martje127: you can do this!

[2019-04-04 14:31] richelbilderbeek opened #536 "Remove left-over couts"
**Is your feature request related to a problem? Please describe.**

I see two useless `cout`s:

[code]

[code]

I assume they are there to suppress some warning.

However, when tests run, there should be no output.

**Describe the solution you'd like**

Remove these `cout`s

Suppress the warning itself.

You could also fake `b` being used in any other way, as long as it does not produce output.

*

[2019-04-04 14:36] richelbilderbeek commented on #409
I close this for now, #514 is its successor.

[2019-04-04 14:36] #409 closed

[2019-04-04 14:37] richelbilderbeek commented on #405
It's in Done, so it can probably be closed :+1:

[2019-04-04 14:37] #405 closed

[2019-04-04 14:37] richelbilderbeek commented on #386
Note has served its purpose, closing it :+1:

[2019-04-04 14:37] #386 closed

[2019-04-04 14:38] richelbilderbeek commented on #326
Moved to Done, so closing this Issue.

[2019-04-04 14:38] #326 closed

[2019-04-04 14:48] Joshua260403 commented on #533
Although you may have to read more docs

Op do 4 apr. 2019 16:24 schreef Richel Bilderbeek <notifications@github.com

[2019-04-04 15:38] #513 closed

[2019-04-04 15:41] Joshua260403 commented on #483
@robkruger you have the rights to merge, no need to keep the issue in the to be merged column making develop lack behind right?

[2019-04-04 15:42] Joshua260403 commented on #476
@Rijk-van-Putten You should redo this issue because the menu screen changed

[2019-04-04 16:18] Rijk-van-Putten commented on #511
I can't come on June 1, 2, 8 and 9

[2019-04-04 17:06] robkruger commented on #483
@Joshua260403 sorry, I forgot. Done

[2019-04-04 18:02] martje127 commented on #464
i think everything works, if soeone find a bug or somthing i missed say it

[2019-04-04 18:02] #464 closed

[2019-04-04 18:19] martje127 commented on #511
I try to be there ...

[2019-04-04 18:22] martje127 commented on #526
I will see if I will be there...

[2019-04-04 19:25] richelbilderbeek commented on #511
May 25th is the new date!

[2019-04-05 05:57] richelbilderbeek opened #537 "Simplify get_agent_sprite"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_resources::get_agent_sprite` needs an `agent` as a function argument to return a texture:

[code]

Taking a look into the function, only the `agent_type` is used:

[code]

If the function only needs the `agent_type` of an `agent`, then that should be supported.

**Describe the solution you'd like**

 * [x] Add a f

[2019-04-05 06:17] richelbilderbeek opened #538 "Split up sfml_resources::get_tile_sprite"
**Is your feature request related to a problem? Please describe.**

There is a clear pattern in `sfml_resources::get_tile_sprite`:

[code]

For each tile, first the `tile_type` is checked, then its orientation. Reversing this simplifies the code and makes it more readable.

**Describe the solution you'd like**

(note: I think 'portrait' is the more commonly used name for 'standing', 'landscape' fo

[2019-04-05 06:31] richelbilderbeek opened #539 "Simplify sfml_menu_screen::exec"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_menu_screen::exec` is too long. OCLint is right to complain.

[code]

**Describe the solution you'd like**

Simplify the code to:

[code]

Move the code to a new member function `sfml_menu_screen::process_event`.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-04-05 06:40] richelbilderbeek opened #540 "Write 'get_agent_reproduction_health'"
**Is your feature request related to a problem? Please describe.**

Currently, there is this if statement to determine if an agent can reproduce:

[code]

This should be simplified to:

[code]

**Describe the solution you'd like**

 * [x] Write the free function

[code]

It should return the same values as currently in the `if` statement

 * [x] Rewrite the if-statement

As shown above

 * [x] Act

[2019-04-05 07:18] richelbilderbeek opened #541 "Simplify to_tile"
**Is your feature request related to a problem? Please describe.**

Currently, `to_tile` is too complex (OCLint is right):

[code]

This can and should be simplified using a lookup table: a `std::map`.

A `std::map` is like a BINAS table: you map one piece of data to another, for example, the name of an atomic element (a `std::string`) and its mass (a `double`).

**Describe the solution you'd like

[2019-04-05 09:13] richelbilderbeek opened #542 "Profiling: reduce use of can_eat"
**Is your feature request related to a problem? Please describe.**

In [recent Travis CI build logs](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/516057567#L1894) we can observe that 44% of all run-time is spent in `can_eat`.

Now we can rationally speed up the program, let's reduce the number of times it is called!

What we can see, is that when `can_eat` is called for any `agent`

[2019-04-05 09:15] richelbilderbeek commented on #542
@robkruger: I assign you this Issue. Feel free to delegate it to others, as long as you take the responsibility to ensure the code is actually sped up!

[2019-04-05 09:28] richelbilderbeek opened #543 "Profiling: move to food"
**Is your feature request related to a problem? Please describe.**

In [recent Travis CI build logs](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/516057567#L1894) we can observe that 35% of all run-time is spent in `agent:move_to_food`.

Now we can rationally speed up the program, let's reduce the big-O complexity of it.

What we can see, is that when `move_to_food` is called for a

[2019-04-05 09:44] richelbilderbeek commented on #543
@robkruger: I assign you this Issue. Feel free to delegate it to others, as long as you take the responsibility to ensure the code is actually sped up!

[2019-04-05 09:50] richelbilderbeek opened #544 "Richel absent tonight"
**Is your feature request related to a problem? Please describe.**

I will be absent tonight.

 * I've created some easier Issues and already assigned some to @Enzo9
 * I've created two big complex Issues to @robkruger. He is free to delegate these Issues

**Describe the solution you'd like**

None.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-04-05 17:34] RafayelGardishyan commented on #511
I will come on 25 may

[2019-04-05 17:58] robkruger commented on #542
The program is sped up significantly👍

[2019-04-05 19:43] robkruger commented on #543
@richelbilderbeek
This is my code so far, but I think I'm doing it wrong. But with this, it walks to food, but not to the closest one. Can you help?
[code]

[2019-04-06 09:28] Joshua260403 opened #545 "Segfaults on windows"
The code 3 i had is now occuring on almost every windows device. I managed to find out it is a segmentation fault in the eat function. We need to fix this because otherwise almost nobody can do anything!

Multiple people may assign to this, however, make sure to communicate everything you do!

[2019-04-08 18:32] richelbilderbeek commented on #545
On which branch can I take a look? Or is this already fixed?

[2019-04-08 18:34] richelbilderbeek commented on #543
Looks cool at first glance. Could you produce a test that fails?

[2019-04-08 19:07] Joshua260403 commented on #545
My branch is furthest with solving this

Op ma 8 apr. 2019 20:32 schreef Richel Bilderbeek <notifications@github.com

[2019-04-09 06:37] richelbilderbeek commented on #545
Will take a look tonight. Expect some extra asserts :+1:

[2019-04-09 07:05] richelbilderbeek opened #546 "The flag `--short 1` should make the game run for one tick, then close"
**Is your feature request related to a problem? Please describe.**

Currently, part of `.travis.yml` is this:

[code]

or, zooming in:

[code]

The flag `--short 1` signals the game should be run for one tick, then close.

However, when Nature Zen like this, the title screen is shown, breaking the valgrind check.

**Describe the solution you'd like**

The flag `--short 1` should make the game run

[2019-04-09 07:06] richelbilderbeek commented on #546
High prio, as I need it for memory checking.

[2019-04-09 07:55] #544 closed

[2019-04-09 15:38] richelbilderbeek commented on #545
I see the build already fails on an `assert` in [this Travis log](https://travis-ci.org/richelbilderbeek/djog_unos_2018/jobs/517644081#L1741).

@Joshua260403:
 * may it be you forgot to test this in Debug mode? If yes, I think you may want to honor to fix this yourself
 * still want me to continue to look into this? Just to be sure, I can fix this tomorrow as well :+1:

[2019-04-09 15:40] Joshua260403 commented on #545
i tried litteraly everything so no it is not possible i missed this

Op di 9 apr. 2019 17:38 schreef Richel Bilderbeek <notifications@github.com

[2019-04-09 15:52] richelbilderbeek commented on #545
Yeah, I expected you did try everything :1st_place_medal:.

Maybe my branch is further ahead now...

What about you fix the error on my branch (on your branch), then I'll fix Tha Bug?

[2019-04-09 15:53] Joshua260403 commented on #545
Which bug?

Op di 9 apr. 2019 17:52 schreef Richel Bilderbeek <notifications@github.com

[2019-04-09 15:55] Joshua260403 commented on #545
What is the error exactly?

[2019-04-09 15:56] richelbilderbeek commented on #545
Current error is [a failed assert](https://travis-ci.org/richelbilderbeek/djog_unos_2018/jobs/517644081#L1741). Up for fixing that one? No == fine as well, I just prefer you getting more commits :+1:

[2019-04-09 16:06] Joshua260403 commented on #545
Sure, as soon as the segfault is fixed!

Op di 9 apr. 2019 17:56 schreef Richel Bilderbeek <notifications@github.com

[2019-04-09 16:10] richelbilderbeek commented on #545
Okidokie, I will fix both then :rainbow:

[2019-04-09 18:19] richelbilderbeek commented on #545
LOL:

[code]

I'm loving it :rainbow:

[2019-04-09 19:11] richelbilderbeek commented on #545
OK, refactored, simplified, documented and const-corrected the code. Maybe the segfault is gone, but need someone to check.

@Joshua260403: could you merge my branch to yours to see if this is fixed?

 * If fixed, close the Issue
 * If not, assign me back again, will continue tomorrow

[2019-04-10 05:32] richelbilderbeek commented on #546
Fixed.

[2019-04-10 05:32] #546 closed

[2019-04-10 05:33] richelbilderbeek commented on #545
Tip: use `--god`, else the game closes immediately.

[2019-04-11 17:29] martje127 commented on #533
i did it, if you find any eror's say it

[2019-04-11 17:29] #533 closed

[2019-04-11 17:32] #469 closed

[2019-04-11 18:07] #545 closed

[2019-04-11 18:34] richelbilderbeek commented on #535
Done, I will leave it at DJO this time :rainbow:

[2019-04-11 18:34] #535 closed

[2019-04-11 18:35] #462 closed

[2019-04-11 18:35] #460 closed

[2019-04-11 18:35] #472 closed

[2019-04-11 18:36] richelbilderbeek commented on #526
We cool, with @same-drenth and @annehinrichs22

[2019-04-11 18:36] #526 closed

[2019-04-11 18:48] richelbilderbeek commented on #511
Cool, May 25th 18:00 we'll see:

Name|Will be present Yes/No/Unknown
---|---
Enzo|Unknown
Isis|Unknown
Jan|Maybe
Joshua|Yes
Mart|Yes
Rafayel|Yes
Rijk|Yes
Rob|Unconfirmed
Same|Unconfirmed

[2019-04-11 19:33] richelbilderbeek commented on #461
@Joshua260403: sure, but what is the problem?

[2019-04-11 19:45] Joshua260403 commented on #461
Go to the menu screen and press play/load: "pure virtual method called"

Op do 11 apr. 2019 21:33 schreef Richel Bilderbeek <notifications@github.com

[2019-04-11 19:56] richelbilderbeek opened #547 "Ignore line erroring OCLint on Mart's branch"
**Is your feature request related to a problem? Please describe.**

Currently, Mart's branch fails as [shown by this Travis log](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/518908739#L1733):

[code]

**Describe the solution you'd like**

 * [x] Merge the `mart` branch to your brach
 * [x] At the end of the line indicated by OCLint, add `//!OCLINT indeed too complex`
 * [x] Push yo

[2019-04-11 20:01] richelbilderbeek opened #548 "Ignore line erroring OCLint on Rijk's branch"
**Is your feature request related to a problem? Please describe.**

Currently, Rijk's branch fails as [shown by this Travis log](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/518904110#L1731):

[code]

**Describe the solution you'd like**

 * [x] Merge the `rijk` branch to your branch
 * [x] At the end of the line indicated by OCLint, add `//!OCLINT indeed too complex`
 * [x] Push y

[2019-04-12 16:54] richelbilderbeek opened #549 "Put biological constants in biology classes"
**Is your feature request related to a problem? Please describe.**

Currently, `agent::eat` has these magic constants:

[code]

One should avoid magic constants (e.g. an

Also, we cannot test for the sanity of these consants

**Describe the solution you'd like**

 * [x] All these tests should pass:

[code]

 * [x] Replace the magic values in `agent::eat`

For example:

[code]

should become:

[cod

[2019-04-12 17:47] richelbilderbeek opened #550 "Use biological constants"
Depends on:

 * [x] #549

**Is your feature request related to a problem? Please describe.**

Currently, I see some magical constants:

[code]

**Describe the solution you'd like**

Replace these by:

[code]

 * [ ] Write tests in `test_biology` to check if the values remain the same

Something along the lines of:

[code]

**Describe alternatives you've considered**

None.

**Additional context**

[2019-04-12 18:01] richelbilderbeek opened #551 "Simplify will_drown [WIP]"
**Is your feature request related to a problem? Please describe.**

Currently, `will_drown` looks like this:

[code]

It *can* be simpler. A messy incomplete code snippet with the main idea here:

[code]

**Describe the solution you'd like**

 * [ ] First, write the tests

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've co

[2019-04-12 18:20] AramPetiet opened #552 "sunflowers on beach"
There is a problem that sunflowers randomly start growing on the beach

[2019-04-12 18:29] richelbilderbeek commented on #287
Re-open the Issue, as it broke again.

[2019-04-12 18:43] richelbilderbeek commented on #97
Re-opened this Issue

[2019-04-12 18:50] richelbilderbeek commented on #552
@Joshua260403 gets to decide what grows on the beach...

[2019-04-12 19:17] richelbilderbeek opened #553 "Add angle class"
**Is your feature request related to a problem? Please describe.**

A `tile` has both a coordinate and an angle. Both are `double`s, thus easily confused.

**Describe the solution you'd like**

Make a very simple `angle` class with a `test_angle` functions.

[code]

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-04-12 19:19] Joshua260403 commented on #553
I don't think this is necessary

Op vr 12 apr. 2019 21:17 schreef Richel Bilderbeek <notifications@github.com

[2019-04-12 19:20] richelbilderbeek commented on #553
Just convinced @Joshua260403 of The Right Thing To Do :rainbow:

[2019-04-12 19:21] Joshua260403 commented on #552
Replace them with birds

Op vr 12 apr. 2019 20:51 schreef Richel Bilderbeek <notifications@github.com

[2019-04-12 20:08] #548 closed

[2019-04-12 20:08] #547 closed

[2019-04-12 20:09] #530 closed

[2019-04-12 20:09] #483 closed

[2019-04-12 20:09] #532 closed

[2019-04-12 20:09] #531 closed

[2019-04-12 20:09] richelbilderbeek opened #554 "Order team names alphabetically"
**Is your feature request related to a problem? Please describe.**

Names should be ordered alphabetically:

![2019-04-12-220140_1920x1056_scrot](https://user-images.githubusercontent.com/2098230/56063437-8d024500-5d6f-11e9-9093-8b4f34a22584.png)

In the alphabet, 'Aram' comes before 'Enzo'.

**Describe the solution you'd like**

Reorder the names alphabetically

**Describe alternatives you've con

[2019-04-15 15:49] same-drenth commented on #511
Count me in

[2019-04-18 08:12] richelbilderbeek commented on #351
I suggest to set the deadline to June 1st 17:59, which is one minute before the Team Octane Hackathon, and we'll open up voting to 23:59. Will discuss this with the team this Thursday and Friday.

[2019-04-18 08:16] richelbilderbeek opened #555 "Check if 'get_merge_type' can have OCLint tag removed"
**Is your feature request related to a problem? Please describe.**

Currently, there is:

[code]

As the `get_merge_type` function has been simplified recently, maybe the OCLint tag can be removed.

**Describe the solution you'd like**

 * [x] Remove the ` //!OCLINT must be simpler`
 * [x] Push
 * [ ] If Travis fails, put back the OCLint line and instead if 'must be simpler', use the OCLint error

[2019-04-18 08:21] richelbilderbeek opened #556 "Simplfy 'to_str(tile_type t)' by using a std::map"
**Is your feature request related to a problem? Please describe.**

Currently, we have:

[code]

The OCLint tag is wrong. Take a look at `to_tile`:

[code]

**Describe the solution you'd like**

Apply the approach used in `to_tile` in `to_str`. All tests should still pass. OCLint tag must be removed, iff allowed by OCLint.

**Describe alternatives you've considered**

None.

**Additional context**

[2019-04-18 08:25] richelbilderbeek opened #557 "Simplify 'create_test_default_tiles' by removing explicit call to tile_id constructor"
**Is your feature request related to a problem? Please describe.**

Currently, `create_test_default_tiles` looks like this:

[code]

The explicit call to `tile_id` can be removed, as it is called by default in the `tile` constructor.

**Describe the solution you'd like**

Remove the `tile_id()` argument in a tile constructor.

For example:

[code]

Becomes:

[code]

All tests should keep passing.

[2019-04-18 08:36] richelbilderbeek opened #558 "Simplify 'create_default_tiles'"
**Is your feature request related to a problem? Please describe.**

Currently, `create_default_tiles` looks like this:

[code]

This can be simplified to:

[code]

**Describe the solution you'd like**

Do the simplification.

All tests must keep passing.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-04-18 08:39] richelbilderbeek opened #559 "Nicely align 'contains'"
**Is your feature request related to a problem? Please describe.**

Currently, we can read:

[code]

The first function nicely aligns its 'and's, the second does not.

**Describe the solution you'd like**

Align the text of the second function to resemble the first.

All tests should keep passing.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-04-18 08:42] richelbilderbeek opened #560 "Clean up sfml_title_screen::exec"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_title_screen::exec` looks like this:
[code]

The `OCLint` tag and the commented code appear to be a left-over from the past.

**Describe the solution you'd like**

Remove the OCLint tag.
Remove the commented code.

All tests should keep passing.

**Describe alternatives you've considered**

None.

**Additional con

[2019-04-18 08:47] richelbilderbeek opened #561 "Clean up 'sfml_shop_overlay::exec'"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_shop_overlay::exec` has:

[code]

The OCLint tag appears to be a remnant of the past: there are pleny of branches.

**Describe the solution you'd like**

Remove the OCLint tags.

All tests should keep working.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-04-18 09:24] richelbilderbeek opened #562 "Cleanup 'merge_tiles'"
**Is your feature request related to a problem? Please describe.**

Currently, we have:

[code]

This can be cleaned up:

**Describe the solution you'd like**

 * [x] Replace `return` by `i = n; j = n;`, which causes ending all for loops. There is an error in my suggestion, find one of the multiple ways to do so. Remove the OCLint
 * [x] Remove `//!OCLINT must simplify` iff accepted by OCLint

All

[2019-04-18 17:08] #467 closed

[2019-04-18 17:09] #476 closed

[2019-04-18 17:10] #489 closed

[2019-04-18 17:17] #475 closed

[2019-04-18 17:18] #536 closed

[2019-04-18 18:33] richelbilderbeek commented on #534
I think I created enough for now :1st_place_medal:

[2019-04-18 18:33] #534 closed

[2019-04-18 18:55] richelbilderbeek commented on #540
Well done, don't forget to add the header :+1:

[2019-04-18 18:56] richelbilderbeek commented on #541
Well done! Closing this Issue :+1:

[2019-04-18 18:56] #541 closed

[2019-04-18 18:57] richelbilderbeek commented on #537
Well done!

[2019-04-18 18:57] #537 closed

[2019-04-18 18:57] richelbilderbeek commented on #539
@Rijk-van-Putten: well done :+1:

[2019-04-18 18:57] #539 closed

[2019-04-18 18:59] richelbilderbeek commented on #461
I remember this has been fixed, so I will unassign myself :1st_place_medal:

[2019-04-18 19:05] martje127 commented on #482
Yes
, I agree

[2019-04-18 19:07] janderkkotlarski commented on #482
I, @janderkkotlarski, agree that we also distribute Nature Zen on Steam.

[2019-04-18 19:52] Joshua260403 opened #563 "Program crashes after about 1500 ticks"
After running for a little over 8000 ticks, my game crashes.
Find out why this is happening and fix it.

[2019-04-19 11:27] janderkkotlarski opened #564 "Add tile move sound"
WHAT TO DO:
Make a tile move sound and incorporate it into the game.

ATTENTION:
When merging, the selected tile moves as well.
Make it so that then only the merge sound plays.

[2019-04-19 15:07] Joshua260403 commented on #564
the side note is a bad idea, when merging, both the movement and the
merging sounds should play

Op vr 19 apr. 2019 13:27 schreef Jan Derk Kotlarski <
notifications@github.com>:

[2019-04-19 15:11] Joshua260403 opened #565 "add ambient sounds"
make it so around every ~250 ticks (should be randomized a bit), a random animal sound is played.

[2019-04-19 18:07] janderkkotlarski commented on #564
Together?
Or first the move sound and then the merge sound?

[2019-04-19 18:14] same-drenth opened #566 "Don't forget to delete your build folder!!!"
To see the new textures you need to keep deleting your build folder.

[2019-04-19 18:26] #561 closed

[2019-04-19 18:26] #557 closed

[2019-04-19 18:27] #499 closed

[2019-04-19 18:27] #500 closed

[2019-04-19 18:28] #477 closed

[2019-04-19 18:28] #552 closed

[2019-04-19 18:28] #528 closed

[2019-04-19 18:29] same-drenth commented on #482
I also agree

[2019-04-19 19:20] richelbilderbeek opened #567 "Improve RNG"
**Is your feature request related to a problem? Please describe.**

Currently, we use `std::rand` and `std::srand`. There is a superior solution, to use a `std::rng_engine` and `std::something_distribution`.

**Describe the solution you'd like**

 * [ ] Put the MersienneTwister `std::rng_engine` in `game`
 * [ ] Replace as much calls as possible to `std::rand` by calling a `std::something_distribu

[2019-04-19 19:20] richelbilderbeek commented on #567
As Rob already uses this, I assign him.

[2019-04-19 19:28] robkruger opened #568 "Move to food is incorrect"
**Is your feature request related to a problem? Please describe.**
In #543 I changed how the agent moves to food. The program runs faster now (probably), but the agents move incorrect.

**Describe the solution you'd like**
Fix the function so that they walk in the correct direction.

[2019-04-19 19:30] robkruger opened #569 "test_agent() has a test that fails"
**Is your feature request related to a problem? Please describe.**
In test_agent() is a test that fails, but I don't now which one.

**Describe the solution you'd like**
Find the test and fix it.

**Don't forget to uncomment test_agent() in main.cpp!**

[2019-04-19 19:31] richelbilderbeek commented on #540
I am unsure what the state of this Issue, will keep Rijk assigned and move this to In Progress.

[2019-04-19 19:34] #554 closed

[2019-04-19 19:34] #538 closed

[2019-04-19 19:35] #555 closed

[2019-04-19 19:35] #559 closed

[2019-04-19 19:36] #560 closed

[2019-04-19 19:39] richelbilderbeek commented on #478
I will let @AramPetiet take a look at this today, as Rob's work is on develop now.

[2019-04-19 19:40] same-drenth commented on #334
Done

[2019-04-19 19:40] richelbilderbeek commented on #478
@AramPetiet: Rob made a new `create_default tiles` and `create_default_agents` functions. Find these out and call these.

[2019-04-19 19:43] #334 closed

[2019-04-20 08:24] richelbilderbeek opened #570 "Teach Aram how to show up as a collaborator"
**Is your feature request related to a problem? Please describe.**

Although @AramPetiet already did quite some stuff, he does not show up as a [contributor](https://github.com/richelbilderbeek/djog_unos_2018/graphs/contributors). I bet he instead works on a different account name.

Someone should teach him how to get the proper credit.

**Describe the solution you'd like**

Show how to get the pr

[2019-04-20 08:29] richelbilderbeek commented on #564
@Joshua260403: cool to see you -as always- check these Issues. For now, I suggest to let @janderkkotlarski decide and get 'something' working. After that, then we can create new Issues. Could you agree with that?

[2019-04-20 08:32] richelbilderbeek opened #571 "Inform Jan about Aram"
**Is your feature request related to a problem? Please describe.**

Currently, @janderkkotlarski is lead sound/music. On April 12th however, @AramPetiet joined our team. Aram is also interested in doing this.

**Describe the solution you'd like**

 * [x] @richelbilderbeek will discuss with Jan on Thursday how to set this up
 * [x] @richelbilderbeek will discuss with Aram on Friday what came out of

[2019-04-20 08:37] richelbilderbeek commented on #351
I've edited the OP. I did not discuss this with the Friday team, however, but I predict they think it is fine. I hope I will remember to discuss this next Friday.

[2019-04-20 08:39] richelbilderbeek commented on #563
I've added an assert on my branch [in this commit](https://github.com/richelbilderbeek/djog_unos_2018/commit/bd576b9b37817f36c172b404c037c57aab582a3a) that was triggered during a run (i.e. caused it to crash :boom:). Maybe that is the culprit?

[2019-04-20 09:38] Joshua260403 commented on #563
It doesn't crash on an assert

Op za 20 apr. 2019 10:39 schreef Richel Bilderbeek <notifications@github.com

[2019-04-20 09:40] Joshua260403 commented on #564
move sound as soon as it start to move, merge when it merges

Op vr 19 apr. 2019 20:07 schreef Jan Derk Kotlarski <
notifications@github.com>:

[2019-04-20 09:42] Joshua260403 commented on #564
im just suggesting something to make the game very good before the deadline
:four_leaf_clover:

Op za 20 apr. 2019 10:29 schreef Richel Bilderbeek <notifications@github.com

[2019-04-20 10:21] richelbilderbeek commented on #563
Too bad. Happy hunting :+1:

[2019-04-20 10:22] richelbilderbeek commented on #564
I understand. We agree on what must be done *in the end*. I just suggest to work from big/corse to small/details first.

[2019-04-21 08:23] robkruger commented on #567
@richelbilderbeek The function returns different numbers on [Travis](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/522663557#L1445), but 10 times the same on my laptop...?

![printscreen](https://user-images.githubusercontent.com/44906912/56467465-6acb8f80-641f-11e9-900f-c0f1f72ee269.png)

[2019-04-24 14:10] richelbilderbeek opened #572 "DJO closed at May 30th and 31st"
DJO will be closed at Thursday May 30th and Friday May 31st :cry:

[2019-04-24 16:04] richelbilderbeek commented on #567
Keiweird indeed!

Is the error still there, on your branch? If yes, I will ask a Thursday member to reproduce.

[2019-04-24 16:09] robkruger commented on #567
There's no error, I used ```assert(1==2)``` to stop the program after giving a 'random' number

[2019-04-24 16:21] robkruger commented on #567
Yeah, it's still there.

[2019-04-24 16:54] Rijk-van-Putten commented on #563
My whole QT Creator chashes :(

[2019-04-24 16:58] Joshua260403 commented on #563
Thats not related to this issue

Op wo 24 apr. 2019 18:54 schreef Rijk van Putten <notifications@github.com>:

[2019-04-24 17:10] Rijk-van-Putten commented on #563
Why not? Its after about 8000 ticks.

[2019-04-24 17:17] Joshua260403 commented on #563
oh i thought your qt was just randomly crashing whenever you started it

Op wo 24 apr. 2019 19:10 schreef Rijk van Putten <notifications@github.com>:

[2019-04-24 22:11] Joshua260403 commented on #572
what about today (thursday 25) and tomorrow?

Op wo 24 apr. 2019 16:10 schreef Richel Bilderbeek <notifications@github.com

[2019-04-24 22:26] antonhensen81 commented on #572
@Joshua260403 Business as usual. Will see you on Friday and Thursday is regular as well

[2019-04-25 14:17] richelbilderbeek commented on #485
I cannot reproduce the bug anymore. I assure it is fixed by the other devs :1st_place_medal:

[2019-04-25 14:17] #485 closed

[2019-04-25 14:18] richelbilderbeek commented on #479
I am happy enough as this is for now.

[2019-04-25 14:18] #479 closed

[2019-04-25 17:20] Joshua260403 commented on #563
Update: it crashes after just 1500 ticks on at least my laptop and Richel's laptop. I can't test nor debug my work like this!

[2019-04-25 17:22] #492 closed

[2019-04-25 17:23] Joshua260403 commented on #563
Also cows are super duper fast and go to the wrong grass idk what is going on anymore

[2019-04-25 17:56] janderkkotlarski opened #573 "Produce the music that plays during gameplay."
The current Nature Zen music playing during the gameplay is not really fitting for the game and its style.
So this is a competition to produce the most fitting music track for Nature Zen.
Use whatever you can to produce a music track and add it to the project.

###Rules:
*No copyrighted material included
*Your own production
*No objectionable content
*Fits the style of Nature Zen
*At least 2 minut

[2019-04-25 17:59] #502 closed

[2019-04-25 18:32] #497 closed

[2019-04-25 18:33] #516 closed

[2019-04-25 18:33] #518 closed

[2019-04-25 18:57] janderkkotlarski opened #574 "Remove the confirm_tile_move function from the sfml_game class"
An issue of non-functional code, this function does nothing and eats up precious coding space.
Delete this function in the cpp and header files of sfml_class.

[2019-04-25 19:00] richelbilderbeek commented on #542
I see [here](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/524608111#L2072) the new speed is 2m12.

Well done!

[2019-04-25 19:00] #542 closed

[2019-04-25 19:39] Joshua260403 opened #575 "Vote: land agents mustn't go into the water yes/no"
Currently, cows think they are like Jesus, able to walk on water. Is that a feature or a bug?

Vote:

Name| (1) land agents can go in water and drown, or (2) land agents should not walk into water
---|---
...|1/2

[2019-04-25 19:40] RafayelGardishyan opened #576 "Research Steam Stuff"
Research what we need to do and make a checklist for uploading our game to steam

[2019-04-26 17:52] AramPetiet commented on #571
done :D

[2019-04-26 17:52] #571 closed

[2019-04-26 17:53] AramPetiet commented on #570
Done 💯

[2019-04-26 17:53] #570 closed

[2019-04-26 18:25] Joshua260403 opened #577 "Add polar_bear agent type"
Currently the arctic is pretty empty.
Create a polar bear agent type.

* Add the polar bear agent type
* Add a sprite for the polar bear
* Add the agent to all necessary functions
  * Polar bears don't drown
* Make polar bear eat fish
* Add at least one polar bear to an appropriate tile (making sure it doesn't die instantly)
* Make the polar bear spawn on arctic tiles

[2019-04-26 19:42] Joshua260403 commented on #461
Nope, still a pure virtual method

[2019-04-26 19:50] AramPetiet commented on #482
I, @AramPetiet, agree that we distribute Nature Zen on Steam 💯

[2019-05-02 14:06] richelbilderbeek opened #578 "Implement 'collect_all_game_states'"
**Is your feature request related to a problem? Please describe.**

Currently, there is no way to collect all `game_state`s. This is useful in debugging, so it must be added.

**Describe the solution you'd like**

 * [x] Implement `collect_all_game_states`. Search for `collect_all_` to peek how to do so

 * [x] Activate this test and make it pass:

[code]

Activate it by removing the comments from

[2019-05-02 14:16] richelbilderbeek opened #579 "game::spawn: remove it, or add a test?"
**Is your feature request related to a problem? Please describe.**

`game::spawn` is an untested function [without code coverage](https://codecov.io/gh/richelbilderbeek/djog_unos_2018/src/master/game.cpp#L123).

**Describe the solution you'd like**

Decide: remove it in, or add a test.

:warning: if you decide to remove it, discuss your reasoning with a medior.

**Describe alternatives you've cons

[2019-05-02 14:18] richelbilderbeek opened #580 "Test game::move_tiles"
**Is your feature request related to a problem? Please describe.**

Currently, there is no test for `game::move_tiles` (as [no code coverage](https://codecov.io/gh/richelbilderbeek/djog_unos_2018/src/master/game.cpp#L149)).

**Describe the solution you'd like**

Add a test to fully test the function.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-05-02 14:20] richelbilderbeek opened #581 "Test game::remove_tile"
**Is your feature request related to a problem? Please describe.**

Currently, there is no test for `game::remove_tile`, as it [has no code coverage](https://codecov.io/gh/richelbilderbeek/djog_unos_2018/src/master/game.cpp#L219)

**Describe the solution you'd like**

Write tests to fully test the function.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-05-02 14:22] richelbilderbeek opened #582 "Full codecov for game::confirm_tile_move"
**Is your feature request related to a problem? Please describe.**

Currently, [game::confirm_tile_move has incomplete code coverage](https://codecov.io/gh/richelbilderbeek/djog_unos_2018/src/master/game.cpp#L333). This can be fixed using a different way to write the function.

**Describe the solution you'd like**

Change the function to have exactly the same behavior, yet has all code covered. As

[2019-05-02 14:30] richelbilderbeek opened #583 "Test operator== for game"
**Is your feature request related to a problem? Please describe.**

Currently, [the operator== for game is untested](https://codecov.io/gh/richelbilderbeek/djog_unos_2018/src/master/game.cpp#L669).

**Describe the solution you'd like**

Write multiple tests to check this operator:

 * Two default-constructed games should be the same
 * Two default-constructed games, after a change to one game, sho

[2019-05-02 14:38] richelbilderbeek opened #584 "Profiling: why 4x as slow?"
**Is your feature request related to a problem? Please describe.**

I see in [a Travis build log](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/527323674#L2074) that the profile takes 9 instead of 2 minutes to complete.

**Describe the solution you'd like**

 * [x] Find out why this is the case
 * [x] Fix it, or share your thoughts with @richelbilderbeek

**Describe alternatives you

[2019-05-02 17:45] Joshua260403 opened #585 "Program crashes immediately"
The program crashes when ran on my system.

Find out why and resolve it.

[2019-05-02 19:40] #585 closed

[2019-05-03 15:36] richelbilderbeek opened #586 "Disable sound effects by default"
**Is your feature request related to a problem? Please describe.**

We have our first sound effects. Cool!

However, when we work on the game, that should be in silence.

**Describe the solution you'd like**

Like the music, the sound effects should be off by default. Only if `--music` is added as a runtime argument should we hear both music and sound.

If you think it'd be better to split sounds

[2019-05-03 15:40] richelbilderbeek commented on #495
I close this Issue, well done!

[2019-05-03 15:40] #495 closed

[2019-05-03 15:42] richelbilderbeek commented on #512
Well done @AramPetiet, but it did break [the build due to OCLint](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/525104680#L1761).

Address the OCLint feedback, then push again, then move this Issue in 'To be merged with develop' :+1:

[2019-05-03 15:43] richelbilderbeek commented on #578
Someone needs to do the last the items of the Issue. Good luck :+1:

[2019-05-03 15:45] richelbilderbeek commented on #519
Well tried, but does not fix [the code coverage](https://codecov.io/gh/richelbilderbeek/djog_unos_2018/src/master/game.cpp#L324).

Someone can try again :+1:

[2019-05-03 15:51] richelbilderbeek commented on #574
I guess this is just confusion: indeed it has/had no code coverage.

Currently, it is tested and I confirmed (using an `assert(1==2);`) that the function is actually called.

Thanks @janderkkotlarski for checking, but I hope to have convinced you that the function must remain in, and this Issue can be closed :rainbow:

Stay vigilant :+1:

[2019-05-03 15:51] #574 closed

[2019-05-03 15:52] richelbilderbeek commented on #299
Opening up this one, we need another junior to clean up the mess we made :smirk:

[2019-05-03 15:54] richelbilderbeek commented on #558
Well done :+1:

[2019-05-03 15:54] #558 closed

[2019-05-03 15:54] richelbilderbeek commented on #564
Well done!

[2019-05-03 15:54] #564 closed

[2019-05-03 15:54] richelbilderbeek commented on #447
Well done!

[2019-05-03 15:54] #447 closed

[2019-05-03 15:54] richelbilderbeek commented on #540
Awesomely done!

[2019-05-03 15:54] #540 closed

[2019-05-03 15:56] richelbilderbeek commented on #567
Searching for `std::rand`, I still find some usages. Please replace those by calls to the RNG engine as well. Yes, you will need to pass that Mersienne twister class :+1:

[2019-05-03 15:57] richelbilderbeek commented on #569
`test_agent` is active again. Well done :+1:

[2019-05-03 15:57] #569 closed

[2019-05-03 15:58] richelbilderbeek commented on #562
I see in the code:

[code]

OCLint will complain, as the second line is never call. I think the `return` can be safely removed...

Remember: all tests should keep passing :+1:

[2019-05-03 16:00] richelbilderbeek commented on #333
Is this one done yes or no? If no, can I unassign @Joshua260403 for now?

[2019-05-03 16:02] richelbilderbeek commented on #576
For @RafayelGardishyan, this is a duplicate of #484: he will take care of the Steam Pipe.

The other Issues will be created when @antonhensen81 can access the Steam account.

Due to this, closing this Issue.

[2019-05-03 16:02] #576 closed

[2019-05-03 16:03] richelbilderbeek commented on #484
I unassign Rafayel for now, as this Issue only becomes relevant when the Steam page is opened up.

[2019-05-03 16:07] richelbilderbeek commented on #566
I feel this note has been around long enough.

Thanks for posting it, will now close it :+1:

[2019-05-03 16:07] #566 closed

[2019-05-03 16:10] richelbilderbeek commented on #556
I see in [a Travis log](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/522283910#L1523), this build failed on the `enzo` branch. Try to understand and fix this. Ask a medior if you need help. Good luck :+1:

[2019-05-03 16:19] richelbilderbeek commented on #488
Option|Yes/No
---|---
Markdown|Y
GitHub wiki|Y
Wikia wiki|N

I enjoy GitHub :octocat:

[2019-05-03 16:21] richelbilderbeek commented on #501
The status of this Issue is unclear to me. I'll just unassign everyone :smirk:

[2019-05-03 16:22] richelbilderbeek commented on #568
I always felt the new way to move is a feature!

I suggest to leave it so and close this Issue, up until The Big Joshua disagrees :+1:

OK?

[2019-05-03 16:26] richelbilderbeek commented on #461
Just tried, could not get it to crash.

Could you write a test that causes this error?

[2019-05-03 16:29] richelbilderbeek commented on #503
Actually, I think this a feature, not a bug: one needs to care for the creatures now!

@Joshua260403: what do you think: is this a feature (agents fall off), or a bug?

 * If agents should fall off tiles, this Issue can be closed
 * If agents should not fall off tiles, let us know :1st_place_medal:

[2019-05-03 16:39] richelbilderbeek commented on #549
Brilliant!

[2019-05-03 16:39] #549 closed

[2019-05-03 16:40] richelbilderbeek commented on #563
I get to 15k+ ticks now!

![2019-05-03-184026_1722x910_scrot](https://user-images.githubusercontent.com/2098230/57152138-eee42680-6dd2-11e9-9cbc-1cfb313e9270.png)

[2019-05-03 16:41] richelbilderbeek commented on #543
Well done :+1:

[2019-05-03 16:42] richelbilderbeek commented on #563
I simply assume everything works on all computers :rainbow: :rainbow: :rainbow: :rainbow:

[2019-05-03 16:42] #563 closed

[2019-05-03 17:04] Joshua260403 commented on #488
Option|Yes/No
---|---
Markdown|Y
GitHub wiki|Y
Wikia wiki|N

I would like the wikia purely for extra information like any other wikia, not as a tutorial.

[2019-05-03 19:18] AramPetiet opened #587 "2 tyles inside eatchother"
if you have a horizontal tile,left above from another horizontal tile and you let it go one down,they will not merge but they will be in eatchother

[2019-05-03 19:30] AramPetiet commented on #488
| Option      | Yes/No |
|-------------|--------|
| Markdown    | Y      |
| GitHub wiki | N      |
| Wikia wiki  | N      |
Its the easiest tojust have it in game so people dont have to go on a alt screen to look how to play

[2019-05-03 19:32] AramPetiet opened #588 "tiles shooting away"
Sometimes, if you merge a tile thats above you it will shoot away and not come back

[2019-05-03 19:34] antonhensen81 opened #589 "Steam: set up steam game page"
Joshua can acces the steam app page and can add other users.

https://partner.steamgames.com/apps/landing/1080960

Please add users and divide the work to get the game ready for Steam

[2019-05-03 19:37] antonhensen81 commented on #589
Related issue: https://github.com/richelbilderbeek/djog_unos_2018/issues/484

[2019-05-03 19:51] AramPetiet opened #590 "tiles phasing trough other tiles"
horizontal "hills" tiles can phase to any vertical tile as long as they want to megre with a another horizontal "hills" tile

[2019-05-03 20:01] same-drenth commented on #488
Option | Yes/No
-- | --
Markdown | Y
GitHub wiki | Y
Wikia wiki | N

[2019-05-03 20:02] same-drenth opened #591 "Fix relative texture size"

[2019-05-03 20:05] AramPetiet opened #592 "Not running on JOG laptop"
I have tried on 2 laptops and on both the following problem occurs:

![image](https://user-images.githubusercontent.com/49567994/57162748-8192be80-6def-11e9-9554-15ec1616a8af.png)

[2019-05-03 20:06] AramPetiet commented on #592
I suspect it has to do with SFML, but not sure. We worked around by using my laptop instead, but should be addressed.

[2019-05-03 20:06] AramPetiet commented on #592
We have verified it works on other machines with the same latest of development branch

[2019-05-04 08:25] richelbilderbeek commented on #592
`std::bad_alloc` usually indicates a lack of memory ...

[2019-05-04 09:56] richelbilderbeek commented on #592
I guess the new graphics and sound consume too much memory (for now).

What happens when running in debug mode?

If I am right, the exception is thrown in `sfml_resources` :grin:

[2019-05-04 10:46] Joshua260403 commented on #592
I believe appveyor had this issue too, i thought i added a CXX_FLAG for
that but last time i checked it was gone. You should try googling for
something like: resources_big qt creator

Op za 4 mei 2019 11:56 schreef Richel Bilderbeek <notifications@github.com>:

[2019-05-04 10:49] Joshua260403 commented on #592
```Add CONFIG += resources_big into the *.pro file.```
from [
https://stackoverflow.com/questions/12231266/qt-compiling-error-out-of-memory-allocating-134-mb-cc1plus-exe-not-found](https://stackoverflow.com/questions/12231266/qt-compiling-error-out-of-memory-allocating-134-mb-cc1plus-exe-not-found)

Op za 4 mei 2019 12:45 schreef Joshua van Waardenberg <
joshuavwaardenberg@gmail.com>:

[2019-05-04 10:53] Joshua260403 commented on #592
Another solution could be just to copy the resources to the CWD (executable location for the team, parent dir on travis) without using a qrc since sfml is able to use uncompiled resources.

[2019-05-04 11:02] Joshua260403 commented on #575
@richelbilderbeek Are we going to vote on this?

[2019-05-04 11:08] Joshua260403 opened #593 "Check if we are actually using the depth"
I made an issue once saying we must see if agents drown based on their minimum and maximum depth. I have no idea if that issue was completed, i never heard anything of it again and i dont notice a difference.

if it is not added:
  add `get_min_depth(agent_type at)` and `get_max_depth(agent_type at)`
if it is not implemented:
  change the will_drown function to take an agent type and a int depth t

[2019-05-04 11:11] Joshua260403 commented on #593
@richelbilderbeek Can you add checkboxes here, i can't seem to do it

[2019-05-04 11:46] richelbilderbeek commented on #593
I did it :muscle:

[2019-05-04 13:16] richelbilderbeek commented on #575
Sounds like a good plan, I'll rewrite the Issue...

[2019-05-04 13:19] richelbilderbeek commented on #575
Name| (1) land agents can go in water and drown, or (2) land agents should not walk into water
---|---
...|1

I think it makes the player take care more of the creatures.

[2019-05-04 13:58] Joshua260403 commented on #575
I vote 2

Op za 4 mei 2019 15:19 schreef Richel Bilderbeek <notifications@github.com>:

[2019-05-04 14:44] Joshua260403 opened #594 "new essence icon"
Instead of the crooked one legged euro symbol, a nice essence symbol would make the game look better.

Create a new essence symbol that looks like it should be called essence and has something to do with nature (i would like it green but that's up to you). Also you should not make it purple, zen is already purple and we don't need more.

[2019-05-04 14:51] Joshua260403 opened #595 "Add shop items"
In the shop overlay there should be shop items.

To display the item we should add a sprite (picture of the tile you're buying) and a purchase button with at least the price of the tile on it. The rest of the looks are up to you.

The items to be displayed:
item | price
---|---
grassland | 400
desert | 600
shallow water | 800
deep water | 500

The buttons don't have to do anything yet

[2019-05-04 15:00] Joshua260403 opened #596 "Make shop button do stuff"
When a shop button is clicked the following events should take place:
- [x] check essence amount, if lower than price: stop
- [x] create a new tile of the right type
- [x] make that tile follow the mouse
NOTE: the game should still be paused at this point, only the new tile should be able to move (with the mouse) and rotate
- [x] if the player clicks try to place the tile on the nearest valid posi

[2019-05-04 15:04] Joshua260403 opened #597 "Add essence over time"
Every 100 ticks the amount of essence the player has should go up by (112 - m_score).
Should be easy enough.

[2019-05-04 15:08] Joshua260403 commented on #461
It's when you open the loading screen. The test would be `sfml_load_screen ls;`

[2019-05-04 15:09] #246 closed

[2019-05-04 15:10] Joshua260403 opened #598 "improve codecov"

[2019-05-04 16:27] #579 closed

[2019-05-04 18:04] Joshua260403 opened #599 "Don't include qrc_djog_unos_2018.cpp in codecov"
The qrc file is included in the code coverage. Make it so codecov excludes `qrc_*`.

[2019-05-04 18:24] Joshua260403 commented on #599
@richelbilderbeek also main.cpp is impossible to get to 100% on topic branches because of profilling

[2019-05-04 19:31] Joshua260403 commented on #488
Please note that the manual will also be uploaded to steam.

[2019-05-04 19:42] Joshua260403 opened #600 "Link Team Octane to Anton Hensen"
I found an option to link the name Team Octane to the application Nature Zen (and with that to the dev account).

We'll have to read a bit more about it but i think that is the right thing to do.

[2019-05-04 19:43] Joshua260403 commented on #600
https://partner.steamgames.com/creatorhome/81302 at the bottom of this page.

I filled in Team Octane in the developers section of the shop page to achieve this (don't worry about me messing it up, it can be removed)

[2019-05-04 19:46] Joshua260403 commented on #484
https://partner.steamgames.com/doc/sdk/uploading

[2019-05-05 11:01] Joshua260403 opened #601 "Steamworks API/SDK"
We need this to setup the steampipe.

It also comes with extra features like steam achievements and saving to the steam cloud.

[2019-05-05 11:02] Joshua260403 commented on #484
https://www.youtube.com/watch?v=SoNH-v6aU9Q
from the steam docs

[2019-05-05 11:07] Joshua260403 opened #602 "Vote: achievements: yes/no"
Do we want there to be achievements?

If the vote ends in yes:
- [ ] Create a new class `achievement_manager`
- [ ] Find a way to save achievements forever (don't reset them when the game is closed)

If voted for steam achievements:
- [ ] Setup steam achievements

[2019-05-05 11:18] Joshua260403 opened #603 "I need your steam account details"
If you need/want to be added to the steamworks group thing, I need three things:
- Your steam __account__ name (not your profile name, I need the original name you signed up with)
- Your full name
- Your e-mail (the one used for steam)

[2019-05-05 11:28] Joshua260403 opened #604 "Separate Team Octane YT channel"
I think we should put all Nature Zen videos on a Team Octane youtube channel. That we we can link to that channel in the social media part of our store page, instead of linking to Richel on youtube.

[2019-05-05 11:47] Joshua260403 opened #605 "Create artwork for steam"
For steam we need a couple of images to go on the store page.
__The images need to be exactly the size given.__
We need these images:

Header capsule, 460 x 215: Artwork, comes at the top of the shop page, has to contain a nice nature zen logo

Small capsule, 231 x 87: Artwork, nature zen logo that fills the entire image

Large capsule, 467 x 181: Artwork, contains logo, comes at the top of genre

[2019-05-05 19:51] antonhensen81 commented on #600
By the looks of it I can create a new group under my account if I wish to publish other content not related to Team Octane and Nature Zen, which at some point I intend to do since I'm working on a VR game of my own. So this seems just fine. Good job :-)

[2019-05-05 19:52] #600 closed

[2019-05-05 19:53] antonhensen81 commented on #600
I closed this issue since I think you are done @Joshua260403

[2019-05-06 10:33] Joshua260403 commented on #590
I'll take a quick look

[2019-05-07 10:29] richelbilderbeek commented on #604
Sure, will do :+1:

[2019-05-07 10:30] richelbilderbeek commented on #603
Here ya go:

 * richelbilderbeek
 * Richel Bilderbeek
 * richel@richelbilderbeek.nl

[2019-05-07 10:32] richelbilderbeek commented on #602
For now: no.

[2019-05-07 10:35] richelbilderbeek commented on #599
Agreed.

Probably fixed now: that was easier than replying :+1:

[2019-05-07 11:19] richelbilderbeek commented on #461
Added these tests in 376f9d1ef7f367a65fffd1583652ec4986bec00c, but passes locally without problems.

[2019-05-07 11:27] richelbilderbeek commented on #461
Also passes on Travis without problems.

I suggest you try to delete your build folder, and try again.

If it still happens, let me use that laptop for some minutes :+1:

[2019-05-07 11:30] richelbilderbeek commented on #488
I can convert a Markdown file to PDF with easy, as I do to create the Arduino/Processing/mBot booklets. Else there are plenty of Qt classes that can help us out :rainbow:

[2019-05-09 15:01] Rijk-van-Putten commented on #575
Name| (1) land agents can go in water and drown, or (2) land agents should not walk into water
---|---
@Rijk-van-Putten|2

[2019-05-09 15:03] Rijk-van-Putten commented on #488
Option|Yes/No
---|---
Markdown|N
GitHub wiki|N
Wikia wiki|Y

[2019-05-09 15:09] Rijk-van-Putten commented on #603
- hotbeefgamer707
- Rijk van Putten
- rijkvanputten@hotmail.nl

[2019-05-09 15:11] robkruger commented on #603
Cubemaster465
Rob Krüger
robkruger9@gmail.com

[2019-05-09 18:00] janderkkotlarski commented on #592
Segfault borked under Linux.

[2019-05-09 18:25] martje127 commented on #575
i vote 1

[2019-05-09 18:29] martje127 commented on #602
for now: no

[2019-05-09 18:30] martje127 commented on #488
Option|Yes/No
---|---
Markdown|Y
GitHub wiki|Y
Wikia wiki|N

[2019-05-10 06:05] richelbilderbeek commented on #592
I assume this fixed. @janderkkotlarski will work on this today, and create a new Issue if this still happens.

[2019-05-10 06:05] #592 closed

[2019-05-10 14:31] janderkkotlarski opened #606 "Window manager does not open up a window"
PROBLEM:
The current code is building fine, but the program crashes hard due to a segmentation fault.
I tried fixing it, but due to lack of experience in snooping out and fixing segfaults and in handling the debugger in Qt Creator, I'm a my wits end.

SOLUTION:
Somehow search and fix the segmentation fault(s) that make the program crash.

[2019-05-10 14:37] janderkkotlarski commented on #603
Barachem
Jan Derk Kotlarski
j.d.kotlarski@gmx.com

[2019-05-10 15:08] richelbilderbeek commented on #606
OK, I'll take a pass at it :+1:

[2019-05-10 15:36] richelbilderbeek commented on #606
Found the bug. It is in the window manager. I've marked it as such:

[code]

@Joshua260403: I think you are best to fix this one  :1st_place_medal: :+1:

I've put it on `develop`.

Yep, I've added some `std::clog` statements. Old-skool, but effective in finding bugs. You can let a junior delete these :+1:

[2019-05-10 17:10] RafayelGardishyan commented on #602
For now: YES

[2019-05-10 17:10] RafayelGardishyan commented on #575
!I vote 2!

[2019-05-10 17:13] RafayelGardishyan commented on #488
Option|Yes/No
---|---
Markdown|N
GitHub wiki|Y
Wikia wiki|Y

I enjoy GitHub :octocat:, like @richelbilderbeek

[2019-05-10 17:15] #484 closed

[2019-05-10 17:21] robkruger commented on #602
Yes

[2019-05-10 17:23] robkruger commented on #575
I vote 2

[2019-05-10 17:24] robkruger commented on #488
Option|Yes/No
---|---
Markdown|Y
GitHub wiki|Y
Wikia wiki|Y

[2019-05-10 18:02] Joshua260403 commented on #606
Hate to bring it to ya, but your hypothesis was wrong. The assertion passes on my system. The problem was that someone decided it was a good idea to write and activate a test for the not working loading screen. Ran with debugger once, segfault pointing me right at the loading screen. The clogs didn't work because none of them flushed. std::endl is superior after all

[2019-05-10 18:18] AramPetiet commented on #602
OI dont close
- Joshua

[2019-05-10 18:20] AramPetiet commented on #602
For now: No

[2019-05-10 18:22] robkruger commented on #584
Sorry for the late reply, I missed this issue. The reason for this is that I increased the number of agents and tiles when profiling to get more precise results.

[2019-05-10 19:20] Enzo9 commented on #602
yez

[2019-05-10 19:21] AramPetiet commented on #575
i vote 2 💯

[2019-05-10 19:22] Enzo9 commented on #575
i vote 2

[2019-05-10 19:23] same-drenth commented on #575
2

[2019-05-10 19:25] #602 closed

[2019-05-10 19:26] Joshua260403 commented on #602
Not for now, but defo later.

[2019-05-10 19:29] Joshua260403 commented on #488
Conclusion: Both as Markdown and GitHub wiki

[2019-05-10 19:29] #606 closed

[2019-05-10 19:32] Joshua260403 commented on #575
Results: Agents can __not__ go into water

[2019-05-10 20:06] janderkkotlarski commented on #606
So I was wrong in assuming it was funstions changing one of the vectors of agents or tiles causing the bug and right in giving up...

[2019-05-16 16:28] janderkkotlarski opened #607 "Jan Derk Kotlarski is not feeling well and is thus staying home."

[2019-05-16 17:29] Joshua260403 commented on #603
Mart:

martje127
Mart Prenger
mart.prenger@gmail.com

[2019-05-16 19:41] #599 closed

[2019-05-16 19:43] #299 closed

[2019-05-16 19:44] #512 closed

[2019-05-17 13:46] robkruger opened #608 "I will be absent tonight"

[2019-05-17 15:55] Joshua260403 opened #609 "Busy & Birthday"

[2019-05-17 19:52] Enzo9 opened #610 "I wont be there next friday, i will be there at the hackaton"

[2019-05-18 10:15] Rijk-van-Putten commented on #586
Fixed travis

[2019-05-18 11:20] richelbilderbeek commented on #609
Congrats!

[2019-05-18 11:20] #609 closed

[2019-05-18 11:20] richelbilderbeek commented on #610
Cool, see you at the Hackathon!

[2019-05-18 11:20] #610 closed

[2019-05-18 11:21] richelbilderbeek commented on #608
We missed you!

[2019-05-18 11:21] #608 closed

[2019-05-18 11:21] richelbilderbeek commented on #607
Get well soon :+1:

[2019-05-18 11:21] #607 closed

[2019-05-18 14:32] Rijk-van-Putten commented on #605
What about this?

[Render 1](https://i.imgur.com/Spret2d.png)
[Render 2](https://i.imgur.com/6kHKFRM.png)

[2019-05-18 14:34] richelbilderbeek commented on #605
I like it!

[2019-05-23 16:43] Rijk-van-Putten opened #611 "I'm absent tonight but I'll be on the hackaton"

[2019-05-23 17:13] Joshua260403 opened #612 "Me be absent"
Hmm too bad, me will be no there...

[2019-05-23 17:47] martje127 commented on #488
Option | Yes/No
-- | --
Markdown | Y
GitHub wiki | Y
Wikia wiki | N

[2019-05-23 18:12] Joshua260403 commented on #488
Mart your vote is two weeks late, it doesn't count anymore

[2019-05-23 18:13] Joshua260403 commented on #488
Also, you already voted

[2019-05-23 18:19] martje127 commented on #596
on witch issue depens it on

[2019-05-23 18:28] #562 closed

[2019-05-23 19:11] Joshua260403 commented on #596
on creating a shop button ofc

Op do 23 mei 2019 20:19 schreef martje127 <notifications@github.com>:

[2019-05-23 19:12] Joshua260403 commented on #562
nonononononono, that caused a bug remember. Make sure you don't break
anything

Op vr 3 mei 2019 17:58 schreef Richel Bilderbeek <notifications@github.com>:

[2019-05-24 16:49] #612 closed

[2019-05-24 18:05] #551 closed

[2019-05-24 18:06] #493 closed

[2019-05-24 18:06] #503 closed

[2019-05-24 18:08] same-drenth opened #613 "I wouldn't be coming this evening because my mother fell and she needs my help"

[2019-05-24 18:13] richelbilderbeek commented on #613
OK, well done :+1:

[2019-05-24 19:01] #287 closed

[2019-05-24 19:01] #568 closed

[2019-05-24 19:25] #543 closed

[2019-05-24 20:35] Joshua260403 commented on #568
the agents should not run in straight zig-zag-ing lines like made cows

Op vr 3 mei 2019 18:22 schreef Richel Bilderbeek <notifications@github.com>:

[2019-05-25 07:38] #611 closed

[2019-05-25 13:45] Rijk-van-Putten commented on #351
I made more designs!
2 hours before the deadline 👍

First one:
![](https://i.imgur.com/IZshkFW.png)
![](https://i.imgur.com/8OCJIzN.png)

Other font:
![](https://i.imgur.com/YtOsxEL.png)
With color:
![](https://i.imgur.com/dOK9LC3.png)

[2019-05-25 16:14] AramPetiet opened #614 "Animals should live after 10 000 ticks"
After 10.000 ticks, all animals will dissapear

Animals shouldn't be fed to the darkness after 10.000 ticks

[2019-05-25 16:33] AramPetiet commented on #578
Done! :100:

[2019-05-25 16:33] #578 closed

[2019-05-25 17:07] Joshua260403 commented on #351
If you are not at the hackaton but still wanna vote, you can do here (before 19:45)

[2019-05-25 17:47] Joshua260403 commented on #351
You can still vote if you aren't here today:
Current results:
Logo | Votes | Winner
---|---|---
Team octance text with cuts in grey | 4 | O
Team octance text with flame in grey | 5 | X
Team octane flame logo orange | 4 | O
Team octanne squid with eyes | 3 | O
Team octanne squid without eyes | 4 | O
Pixelart octane molecule | 1 | O

[2019-05-25 18:07] same-drenth commented on #332
Not needed

[2019-05-25 18:07] #332 closed

[2019-05-25 18:16] Enzo9 opened #615 "tiles merge sideways now"
<img width="310" alt="skrienshotto2" src="https://user-images.githubusercontent.com/46609181/58373141-7a139080-7f29-11e9-8083-44fd909c2a1f.png">

[2019-05-25 19:06] richelbilderbeek opened #616 "If the game throws an exception due to a bug, a bug agent spawns"
Awesome idea by @Joshua260403, low prio though.

[2019-05-25 20:32] Joshua260403 commented on #351
OK we are closing the votes, we are tired of waiting :seedling:

[2019-05-25 20:34] #351 closed

[2019-05-25 20:50] Enzo9 commented on #603
enzodehaas
enzodehaas@outlook.com

(ik heb alleen een profielnaam, ik had blijkbaar geen echte naam opgegeven ofzo)

[2019-05-26 10:56] Joshua260403 commented on #603
Die gegevens kloppen niet, weet he zeker dat dat je accountnaam is (dat is
iets anders dan profielnaam)

Op za 25 mei 2019 22:50 schreef Enzo9 <notifications@github.com>:

[2019-05-26 11:09] robkruger opened #617 "Game freezes at 3484 ticks due to a test"
**Is your feature request related to a problem? Please describe.**
Currently the game freezes at 3484 ticks due to a test. I found the test which is causing this:
[code]

**Describe the solution you'd like**
Fix the test

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other cont

[2019-05-27 09:50] richelbilderbeek opened #618 "Add Patreon yes/no and how?"
**Is your feature request related to a problem? Please describe.**

Some people suggest me to add a Patreon account for donations. I care little about money, but I do not want to decide for the Team

**Describe the solution you'd like**

1) Collect options by the team
2) Vote

**Describe alternatives you've considered**

None

**Additional context**

None.

[2019-05-27 09:52] richelbilderbeek commented on #618
Some options:

 * No Patreon
 * Add Patreon, money goes to DJO (e.g. to pay for the pizza's)
 * Add Patreon, money goes to current Team Octane members

Note that not all options may be viable: money is complex (especially for me) and I will need to talk to the DJO director and parents if we'll have an inflow of it.

[2019-05-27 10:26] Joshua260403 commented on #618
I vote yes (idk are the votes open yet)

Op ma 27 mei 2019 11:50 schreef Richel Bilderbeek <notifications@github.com

[2019-05-28 05:49] richelbilderbeek commented on #601
Note to self: [Steam SDK YouTube](https://youtu.be/wrvr02SiHY4) and [info](https://partner.steamgames.com/doc/resources/gdc2019)

[2019-05-30 17:06] RafayelGardishyan commented on #618
I vote yes, and I propose to split the monet: 50% to DJO; 50% to members of Team Octane

[2019-05-30 17:07] #511 closed

[2019-05-30 17:46] #601 closed

[2019-05-30 18:30] richelbilderbeek commented on #556
Well done :+1:

[2019-05-30 18:31] #556 closed

[2019-05-30 18:37] martje127 opened #619 "richel add words"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-30 18:45] #614 closed

[2019-05-31 08:11] RafayelGardishyan opened #620 "The game becomes very slow after being running a certain time"
Currently the game begins to become slow if you run it a while. This is not very good for our game.
I think it's something for profiling
Solve this! :)

[2019-05-31 08:12] #580 closed

[2019-05-31 08:29] Joshua260403 commented on #619
?

Op do 30 mei 2019 20:37 schreef martje127 <notifications@github.com>:

[2019-05-31 09:43] RafayelGardishyan commented on #573
### My music
Hi, I made 2 music tracks with the idea that the one will be played when zen is in the "good" limits and the other when the zen is "bad".

Hopefully you'll like it

### Here are my links:
Happy theme: https://vocaroo.com/i/s1yGwm0xHDvi
Sad theme: https://vocaroo.com/i/s1c3Q6m3iy14

[2019-05-31 12:28] RafayelGardishyan opened #621 "Grab your keys"
I heard some people had issues with steam-keys so I pre made 10 of them
Here are some, grab them and leave a comment if you used one!

* V95NC-Y8Q9E-CNZ5W
* LBJHW-Y3PVH-H79D6
* WPBC9-R3IFC-XCQX5
* C0HB5-MXQL7-73TP7
* XNWWJ-8ZZKY-IR7GV
* W9RPR-L5C9B-E0MLR
* HGB2D-Q24ZM-AWW5J
* 72VF0-2IZXE-MXNRC
* XR57Y-5KCRI-DRBBA
* B2B9V-WEK02-A9FYY

[2019-05-31 12:33] Joshua260403 commented on #621
checkboxes are a thing :four_leaf_clover: :seedling:

[2019-05-31 13:39] richelbilderbeek commented on #621
I'll use `V95NC-Y8Q9E-CNZ5W` for @Giappo

[2019-05-31 13:55] richelbilderbeek opened #622 "Make Rafayel Steam Store administrator"
I couldn't find it, may the great @Joshua260403 can :+1:

[2019-05-31 15:42] richelbilderbeek opened #623 "Refactor agent::move"
**Is your feature request related to a problem? Please describe.**

In `agent::move` there is this mess:

[code]

There are two problems:

 1. I cannot read it
  2. I've added the magic number `12.34` as the [something with] depth

**Describe the solution you'd like**

Please do:

  1. Refactor in such a way it can be read.
  2. Find a way to replace `12.34` by a sane value

**Describe alternative

[2019-05-31 16:07] Joshua260403 commented on #622
already did yesterday, only i dont know why

Op vr 31 mei 2019 15:55 schreef Richel Bilderbeek <notifications@github.com

[2019-05-31 16:13] #613 closed

[2019-05-31 16:17] AramPetiet commented on #618
I vote yes, ass long as donators get something for. like a conversation with one of  the members. a look at what a current update will be, etc.

[2019-05-31 16:21] richelbilderbeek commented on #584
I'll close this one, new bottleneck is in [agent::damage_own_type](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/539333996#L2259): I'll create a new Issue for it :+1:

[2019-05-31 16:21] #584 closed

[2019-05-31 16:22] RafayelGardishyan commented on #621
I'll use `LBJHW-Y3PVH-H79D6` @mymom

[2019-05-31 16:26] richelbilderbeek opened #624 "Speed up agent::damage_own_type"
**Is your feature request related to a problem? Please describe.**

The main speed bottleneck is in [agent::damage_own_type](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/539333996#L2259).

**Describe the solution you'd like**

Fix it :+1:

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-05-31 16:28] richelbilderbeek opened #625 "Merge with Mart"
**Is your feature request related to a problem? Please describe.**

Merging `mart` to any branch gives MCs.

**Describe the solution you'd like**

Please merge.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-05-31 16:42] #625 closed

[2019-05-31 17:00] RafayelGardishyan opened #626 "The game has no thumbnail in the toolbar"
Currently the game has the standard windows app/executable icon. It's better when we change it to our own artwork.
* Change the icon in the toolbaar to our own icon

[2019-05-31 17:09] Joshua260403 commented on #626
Thats hard and os dependant i believe

Op vr 31 mei 2019 19:00 schreef Rafayel Gardishyan <notifications@github.com

[2019-05-31 17:21] #565 closed

[2019-05-31 17:24] #474 closed

[2019-05-31 17:27] janderkkotlarski commented on #621
I'll be using WPBC9-R3IFC-XCQX5 then.

[2019-05-31 17:36] RafayelGardishyan opened #627 "Set up Steam Cloud Saves"
Set up cloud saves for steam so that users can play our game on other devices

[2019-05-31 17:45] #624 closed

[2019-05-31 18:24] AramPetiet commented on #605
Done! 💯

[2019-05-31 18:33] AramPetiet commented on #622
Done! 💯

[2019-05-31 18:33] #622 closed

[2019-05-31 18:45] richelbilderbeek opened #628 "Try to make tile::get_corner constexpr"
**Is your feature request related to a problem? Please describe.**

I see that [tile::get_corner takes up 15% of all run-time](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/539831797#L2260). Taking a closer look at the function, it appears it can be made `constexpr`.

**Describe the solution you'd like**

 * Find out what `constexpr` is
 * If possible, make the function `constexpr`,

[2019-05-31 18:50] #627 closed

[2019-05-31 18:59] AramPetiet commented on #617
Doesn't happend on develop anymore (at least on my pc) 💯

[2019-05-31 19:21] Joshua260403 opened #629 "Agents must fall off tiles"
For some reason someone removed their ability to fall off, this is wrong.

- [ ] make agents fall off tiles
- [ ] make sure agents dont go into the water

[2019-05-31 19:30] richelbilderbeek commented on #617
Same here, will close this Issue

![2019-05-31-212934_1722x910_scrot](https://user-images.githubusercontent.com/2098230/58730020-3a4a1e80-83eb-11e9-93c9-08f34a182dd0.png)

[2019-05-31 19:30] #617 closed

[2019-05-31 19:34] AramPetiet opened #630 "Sideways merge crash"
**Is your feature request related to a problem? Please describe.**

If a tile merges sideways like mentioned in issue #615, and you will hold left, there will be a crash that looks like this:
![bug](https://user-images.githubusercontent.com/49567994/58729915-f3f4bf80-83ea-11e9-8c91-256540e4d636.PNG)

If that doesn't happen, the tile will shoot away

**Describe the solution you'd like**

I will pre

[2019-05-31 19:39] richelbilderbeek commented on #572
OK, we were open and Team Octane was there :+1:

[2019-05-31 19:39] #572 closed

[2019-05-31 19:42] #597 closed

[2019-05-31 19:43] #582 closed

[2019-05-31 19:43] #583 closed

[2019-05-31 19:45] #519 closed

[2019-05-31 19:47] #586 closed

[2019-05-31 20:17] Joshua260403 commented on #573
@janderkkotlarski We have decided!
Result:
In-game music: Jan's music
Title music: Rafayel's happy music
Game over music: Rafayel's sad music

[2019-05-31 22:05] #626 closed

[2019-06-02 21:05] janderkkotlarski commented on #573
Ok, I will work on my own track for a few last edits and then incroporate all the music into the game.

[2019-06-03 09:32] Joshua260403 commented on #461
Note to self, remove mapPixelToCoords in button (coords getting mapped to window instead of correct view)

[2019-06-03 18:38] RafayelGardishyan opened #631 "Doesn't work on linux where sfml & csfml aren'y installed"
If you download the game from steam to a computer where sfml and csfml aren't installed the game doesn't work because is misses shared objects

[2019-06-04 08:53] richelbilderbeek commented on #631
Exactly as I predicted.

I'll help supplying those shared objects :male_detective: !

[2019-06-06 09:11] janderkkotlarski opened #632 "*.ogg is on the .gitignore list, why?"
I think with that on the gitignore file, adding ogg files and thus the tracks for the game is impossible for me.
Why is it on there?
Is it ok to remove the line, because it makes adding music file impossible?

[2019-06-06 09:17] richelbilderbeek commented on #632
The reason is as follows: the `.ogg` files reside in the `resources` folder and are re-created locally when starting Nature Zen. If Nature Zen is run from its own folder (`djog_unos_2018`) it will re-create the `.ogg`s there. These duplicated `.ogg`s should be ignored.

The option I always use:

[code]

Does that help?

[2019-06-06 09:25] janderkkotlarski commented on #632
Ok, I understand now, I didn't know that you could force an add through the gitignore

[2019-06-06 09:27] #632 closed

[2019-06-06 17:11] #631 closed

[2019-06-06 17:15] RafayelGardishyan opened #633 "The game crashes"
The game stops working after 1743 ticks / 2016 essence (haha bug of the year 2016)

Fix this