[2018-08-31 19:59] richelbilderbeek opened #1 "Prepare DJO computers"
Must have

 * Qt Creator
 * SFML

[2018-09-07 13:51] richelbilderbeek commented on #1
Prepared 4 computers: the Lenovo's, the red Dell and the big white 'Ot' one.

[2018-09-07 13:54] richelbilderbeek opened #2 "Suggest which game we'll make before Tuesday 11th 18:00"
Put your game suggestions at this topic. The suggestions must satisfy these constraints:

 * Platform: desktop
 * 2D (not isometric, not 3D)
 * Single or one-screen multiplayer (not an online game)
 * Desktop application (not a network/NDS/mobile/web application)
 * Single-screen (not scrolling)
 * Graphics: either generated or downloaded sprites (no drawing of sprites)
 * Genre: any genre: horror

[2018-09-07 13:57] richelbilderbeek opened #3 "Vote which game we'll make on Wednesday september 12th"
At Tuesday September 11th night, I will place all suggestions that I think are realistic from #2 here.
On Wednesday september 12th, put your votes here. We'll pick the game with most votes. Upon equal votes, I pick.

[2018-09-07 13:58] richelbilderbeek commented on #1
Done. Will re-open if we need more computers.

[2018-09-07 13:58] #1 closed

[2018-09-07 13:59] richelbilderbeek commented on #2
At Tuesday September 11th night, I will place all suggestions that I think are realistic to #3 for majority voting. Then I will close this Issue.

[2018-09-07 14:01] richelbilderbeek opened #4 "Install Qt Creator and SFML"
There is a Qt Creator project in this GitHub. If you can get it running, mention that here. If you have trouble to do so, mention that here.

[**edit by @richelbilderbeek: installation instructions are [here](https://github.com/richelbilderbeek/djog_unos_2018/blob/develop/doc/install.md)**]

[2018-09-07 14:05] richelbilderbeek opened #5 "Become a GitHub collaborator at this GitHub"
Register at GitHub and let me know your username here. I will give you the right to push your changes to this GitHub.

[2018-09-07 14:06] richelbilderbeek opened #6 "Create a topic branch for yourself"
Make a topic branch for yourself. Keep the name short! For example, I will have `richel`.

[2018-09-07 14:07] richelbilderbeek opened #7 "Do a trivial git push"
Do a trivial `git push` to this repo. That way, we know you can do this.

Mention you did so here and unassign yourself.

[2018-09-07 14:08] richelbilderbeek opened #8 "Do a trivial git merge"
On your topic branch, after having done a trivial push (#7), merge your branch with `develop`. Then, merge `develop` with your branch. Post here you did so.

[code]

[code]

[2018-09-07 18:32] annehinrichs22 commented on #5
@annehinrichs22

[2018-09-07 18:32] RafayelGardishyan commented on #5
@RafayelGardishyan

[2018-09-07 18:34] Joshua260403 commented on #5
@joshua260403

[2018-09-07 18:48] Joshua260403 commented on #2
Open world survival game with tile system (walking of screen > switch world tile). Hunger, thirst and health, enemies and animals, weapons and tools, building, exploring, and the ability to create and download mods. "Flatworld"

[2018-09-08 12:45] same-drenth commented on #5
@same-drenth

[2018-09-08 14:38] richelbilderbeek opened #9 "Window must show up in center of the screen"
At the moment, the window is put somewhere randomly on the screen. It must be at the center of the screen.

![2018-09-08-164210_1920x1080_scrot](https://user-images.githubusercontent.com/2098230/45255400-286cab00-b386-11e8-9d75-4b4e55f36ce5.png)

Assign yourself to this tasks if you'd like to do this.

[2018-09-08 14:51] richelbilderbeek opened #10 "Add Code of Conduct"
Assign yourself to this tasks if you'd like to do this.

[2018-09-08 19:27] RafayelGardishyan opened #12 "Windows QT Creator: Wno-Unused-Variable"
When trying to run the code with the djog_unos_2018_test.pro receiving this errors:
[code]

[2018-09-09 09:04] richelbilderbeek commented on #12
Well done, finding this workaround on your own!

Just for your information: this is a workaround. Even better would be, to use the `-Wno-unused-variable` only when the compiler actually knows it. This can be done in the `.pro` file, but I do not know how exactly. I do know how to do specify things 'for Windows only' like this:

[code]

Switching on the compiler (GCC or Intel) should -I think- be j

[2018-09-09 09:07] richelbilderbeek opened #13 "Process keyboard keys"
At the moment, keyboard input is ignored. Make a first start in responding to keyboard, e.g. make something move left or right by the arrow keys.

[2018-09-09 09:07] richelbilderbeek opened #14 "Process mouse input"
At the moment, mouse input is ignored. Make a first start in responding to mouse, e.g. move something to the location where the mouse is clicked.

[2018-09-10 16:14] RafayelGardishyan opened #15 "Ubuntu Linux: Build Fails"
When trying to build our project recieving this error:
[code]
but not only for this file but also:
sf:: -> Text, Sprite, RenderTexture, textureRect, bounds, Shape, Window, Cursor, Context, ThreadLocal, Thread, Mutex, MemoryInputStream and FileInputStream

[2018-09-10 17:14] richelbilderbeek commented on #15
Pushed to `richel`. Will merge with `develop` and then `master` if and only if builds pass.

[2018-09-10 18:18] RafayelGardishyan commented on #2
![Image of the prototype](https://github.com/richelbilderbeek/djog_unos_2018/raw/master/pics/IMG_20180907_215839.jpg)

# Nature Zen

A game which consists of tiles that look like coth. (See picture.)
In this game, the different patterns on the cloth represent different types of worlds, such as forests, cities, oceans, rivers, mountains.

### Main Features
- The player can move these tiles to alter

[2018-09-11 05:03] #15 closed

[2018-09-11 06:43] Joshua260403 commented on #2
Mini metro but better :)

[2018-09-11 13:31] same-drenth commented on #2
[https://en.wikipedia.org/wiki/This_War_of_Mine](url) for info about the game.
[https://www.digiseller.ru/preview/595578/p1_2234325_c76e4222.jpg](url) for an example of the perspective.

[2018-09-11 16:01] richelbilderbeek commented on #2
Deadline! No more suggestions here anymore. Will close Issue after moving suggestions to #3

[2018-09-11 16:07] richelbilderbeek commented on #3
Time to vote:

 1. [FlatWorld](https://github.com/richelbilderbeek/djog_unos_2018/issues/2#issuecomment-419531628)
 2. [Nature Zen](https://github.com/richelbilderbeek/djog_unos_2018/issues/2#issuecomment-420010313)
 3. [Mini Metro](https://github.com/richelbilderbeek/djog_unos_2018/issues/2#issuecomment-420165036)
 4. [This War Of Mine](https://github.com/richelbilderbeek/djog_unos_2018/issues/2#

[2018-09-11 16:11] richelbilderbeek opened #16 "libsfml-graphics.so.2.5: cannot open shared object file"
Moved from #15 to here:

**libsfml-graphics.so.2.5: cannot open shared object file**

[...] When trying to run the compiled game recieving this error:
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

Linking should work.

**Screenshots**

None

**Desktop:**

 - OS: Ubuntu 18.4
 - SFML Version:

[2018-09-11 16:13] richelbilderbeek commented on #16
Reason is clear: it cannot find the shared object file (under Windows it would have been called a DLL).

Did you run all `sudo apt install` lines as in [the Travis CI script](https://github.com/richelbilderbeek/djog_unos_2018/blob/master/.travis.yml)?

[2018-09-11 16:16] richelbilderbeek commented on #2
Vote at #3 , closing this Issue.

[2018-09-11 16:16] #2 closed

[2018-09-11 16:18] richelbilderbeek commented on #3
Name|1|2|3|4
---|---|---|---|---
`richelbilderbeek`|N|Y|N|Y

[2018-09-11 16:32] RafayelGardishyan commented on #16
@richelbilderbeek Yes! I've tryed that but I still get the error

[2018-09-11 16:48] Joshua260403 commented on #3
Name | 1 | 2 | 3 | 4
-------|---|---|---|--
`Joshua260403` | Y | Y | N | N

[2018-09-11 16:49] RafayelGardishyan commented on #3
Name|1|2|3|4
---|---|---|---|---
`RafayelGardishyan`|N|Y|N|N

[2018-09-11 16:52] richelbilderbeek commented on #16
Try `Build | Clean all`, then `Build | Run qmake` then `Run` again. Does that solve the problem?

[2018-09-11 16:55] Joshua260403 commented on #6
How does one do this?

[2018-09-11 17:09] RafayelGardishyan commented on #16
Thanks! It solved the error.

But:
It runs without opening any window

[2018-09-11 17:28] annehinrichs22 commented on #3
Name | 1 | 2 | 3 | 4
-- | -- | -- | -- | --
`annehinrichs22` | N | Y | Y | N

[2018-09-11 18:53] Rijk-van-Putten commented on #5
@Rijk-van-Putten

[2018-09-11 19:04] Rijk-van-Putten commented on #3
Rijk-van-Putten
1 2 3 4
N N Y Y

[2018-09-11 19:30] richelbilderbeek commented on #6
@Joshua260403 : within GitHub, go to the top left, where on selects a branch. By default, this is set to `master`. Click it and add a branch, say `joshua`.

[2018-09-11 19:37] Joshua260403 commented on #6
Done, named it `Joshua`.

[2018-09-11 19:39] Joshua260403 commented on #6
With a capital `J`, does this matter and if so, can it be renamed?

[2018-09-12 05:29] richelbilderbeek commented on #6
No. You will be the only one struggling with the deviation from the naming convention.

No. But it can be deleted easily and recreated. At the main page, click 'Branches'. There you can delete it.

[2018-09-12 05:30] richelbilderbeek commented on #9
Fixed by @RafayelGardishyan. He moved this Issue to 'Done', so I assume I can close this.

[2018-09-12 21:15] same-drenth commented on #3
Name | 1 | 2 | 3 | 4
-- | -- | -- | -- | --
same-drenth | Y | N | N | Y

[2018-09-12 21:59] richelbilderbeek commented on #3
Name | 1 | 2 | 3 | 4
-- | -- | -- | -- | --
Mart | N | N | N | Y

[2018-09-12 22:01] richelbilderbeek commented on #3
Voting is done!

Name | 1 | 2 | 3 | 4
-- | -- | -- | -- | --
Total | 2 | 4 | 2 | 4

Draw!

My voting counting double results in: Nature Zen!

[2018-09-12 22:01] #3 closed

[2018-09-12 22:02] richelbilderbeek commented on #3
# [Nature Zen](https://github.com/richelbilderbeek/djog_unos_2018/issues/2#issuecomment-420010313)!

[2018-09-13 04:56] richelbilderbeek commented on #3
![Image of the prototype](https://github.com/richelbilderbeek/djog_unos_2018/raw/master/pics/IMG_20180907_215839.jpg)

# Nature Zen

A game which consists of tiles that look like coth. (See picture.)
In this game, the different patterns on the cloth represent different types of worlds, such as forests, cities, oceans, rivers, mountains.

### Main Features (Not everything)
- The player can move the

[2018-09-13 05:07] richelbilderbeek opened #19 "Create first world part"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

I want the game to display an all black background and one dark-green rectangle (say, grassland).

![nature_zen](https://user-images.githubusercontent.com/2098230/45468260-01b2c980-b724-11e8-95b4-42756b7af960.png)

In a future Issue, I will

 * request mouse input
 * request keyboard inpu

[2018-09-13 05:14] richelbilderbeek commented on #9
Need someone to verify this. Will assign Mart to do so.

[2018-09-13 05:31] richelbilderbeek opened #21 "Architectural: seperate game logic from game display"
**Is your feature request related to a problem? Please describe.**

No,

**Describe the solution you'd like**

Currently, the `game` class maintains both the game logic and game displayal. I suggest to split this up in two: `sfml_game` and `game`, in which `sfml_game` has a `game`.

[code]

 * `game` should contain the game logic, e.g. score, tiles, etcetera. `game` will not handle input directly.

[2018-09-13 08:37] Joshua260403 commented on #8
Done

[2018-09-13 08:37] Joshua260403 commented on #7
Done

[2018-09-13 14:28] RafayelGardishyan commented on #21
Starting with this Saturday 15 September

[2018-09-13 14:44] RafayelGardishyan commented on #9
Also someone has to verify the keyboard and mouse events

[2018-09-13 14:49] RafayelGardishyan opened #25 "Rafayel not available on Friday 14 September"
Unfortunatley I'm not at DJOG friday

[2018-09-13 19:53] annehinrichs22 commented on #6
done

[2018-09-13 19:57] richelbilderbeek commented on #25
Thanks for letting me know. My compliments for the great work you have been doing today!

[2018-09-13 19:57] #25 closed

[2018-09-13 20:00] richelbilderbeek commented on #9
Will assign @martje127 to do so, after he has accepted to Collaborator invite.

[2018-09-13 20:03] richelbilderbeek commented on #21
@RafayelGardishyan: sure I will help. It need not be perfect at once, just as long as well go forward :rainbow:

[2018-09-13 20:41] richelbilderbeek opened #29 "Add game delegate"
**Is your feature request related to a problem? Please describe.**

We need a delegate, which is a class that 'can do something for you'. Examples are:

 * Close the game after 100 frames (for a minimal test)
 * Mash random buttons and mouse click for 10K frames (for rough testing)

**Describe the solution you'd like**

## 1. Create a class `game_delegate`:

[code]

## 2. Let `game` store a `game_

[2018-09-13 20:42] richelbilderbeek commented on #29
I suggest to let @annehinrichs22 or @Joshua260403 do this. Sure I will help. The one who assigns himself first gets the job :+1:

[2018-09-13 20:43] #10 closed

[2018-09-13 21:04] richelbilderbeek opened #30 "Suggest what moves on the tiles"
**Is your feature request related to a problem? Please describe.**

A game with only land tiles is boring. We need something to walk on it.

**Describe the solution you'd like**

I would like some suggestions what can walk on the tiles.

**Describe alternatives you've considered**

None.

**Additional context**

 * After closing #19 'Create first world part', an Issue will be created to add a firs

[2018-09-13 21:14] richelbilderbeek opened #31 "Tile movement physics"
**Is your feature request related to a problem? Please describe.**

Moving a tile by mouse cursor or keyboard inputs should follow the laws of physics: smaller tiles should respond swifter than big tiles.

**Describe the solution you'd like**

When moving a tile by mouse cursor or keyboard inputs smaller tiles should respond swifter than big tiles.

**Describe alternatives you've considered**

Non

[2018-09-13 21:15] richelbilderbeek commented on #31
I suggest to let @annehinrichs22 or @Joshua260403 do this. Sure I will help. The one who assigns himself first gets the job :+1:

[2018-09-13 21:22] richelbilderbeek opened #32 "Vote on the goal of the game"
**Is your feature request related to a problem? Please describe.**

Games are more fun if they have a goal.

**Describe the solution you'd like**

Suggest your idea of the goal of the game. During development of it, we may be influenced by this. Or not. In our case, it is an iterative development :rainbow:

**Describe alternatives you've considered**

None.

**Additional context**

 * There will b

[2018-09-13 21:29] richelbilderbeek commented on #32
@Joshua260403 : I like that idea! I hope you will elaborate, for example, do you suggest that a 'Game Over' is inevitable (like in Dwarf Fortess)? And balance between what?

[2018-09-13 21:32] richelbilderbeek commented on #31
You got the job :+1: (after #19 ('Create first world tile') has been finished)!

[2018-09-13 21:36] richelbilderbeek commented on #29
As @Joshua260403 signed up for #31 , I assign @annehinrichs22 to this one. I think @annehinrichs22 will like this! If disagree, let me know.

[2018-09-13 21:48] richelbilderbeek commented on #19
This will be the Issue to be solved tomorrow/Friday. Will assign someone/somepeople then.

[2018-09-13 21:55] richelbilderbeek opened #33 "Make agents move"
**Is your feature request related to a problem? Please describe.**

Whatever moves on those tiles must have some behaviour.

**Describe the solution you'd like**

I would like that whatever moves on the tiles to have some intelligence.
The agents should fall of the tiles yet.

**Describe alternatives you've considered**

Random movement is fine for starters, but I'd prefer some intelligence.

**Ad

[2018-09-13 22:01] richelbilderbeek opened #34 "Suggest tile types and role of background"
**Is your feature request related to a problem? Please describe.**

A game with just plain and simple tiles and a black background may be boring.

**Describe the solution you'd like**

I would like to have some diversity in the types of tiles. And I would like to have an idea about the background: is it just an endless ravine, or does it, for example, decrease zen (as suggested in #32 by @Joshua26

[2018-09-13 22:08] richelbilderbeek opened #35 "Add 'About' screen"
**Is your feature request related to a problem? Please describe.**

Our users should be able to find out about us and the game.

**Describe the solution you'd like**

I would like to have an 'About' screen. It should display the version of the game, its website and the tesm.

**Describe alternatives you've considered**

None.

**Additional context**

 * Initially, it should only show up if the gam

[2018-09-13 22:10] richelbilderbeek opened #36 "Add title screen"
[**edit: fixed ambiguities**]

**Is your feature request related to a problem? Please describe.**

Our users should be see a title screen when the game is starting

**Describe the solution you'd like**

I would like to have a title screen. It should display the title of the game.

It should show up if the game is run with:

[code]

The title screen should close in some way, e.g. pressing ESC.

**D

[2018-09-13 22:11] richelbilderbeek opened #37 "Add menu screen"
**Is your feature request related to a problem? Please describe.**

Our users should be see a menu screen when the game started.

**Describe the solution you'd like**

I would like to have a menu screen. It should show 'Start Game', 'About' and 'Quit'.

**Describe alternatives you've considered**

None.

**Additional context**

 * Initially, it should only show up if the game is run with

[code]

[2018-09-14 05:20] RafayelGardishyan commented on #30
Little animals, clouds, cars, lights in the city, sun?

[2018-09-14 05:28] RafayelGardishyan commented on #19
I will solve that today in the afternoon

[2018-09-14 05:48] Joshua260403 commented on #30
Little people (when a tile turned) and (wild) animals

[2018-09-14 05:50] Joshua260403 commented on #32
There can be different modes, one without gameover (endless) and for example campaign where you have to keep the zen at a certain level for a certain amount of time

[2018-09-14 06:03] RafayelGardishyan commented on #32
And our game has to be saveable

[2018-09-14 06:06] RafayelGardishyan opened #38 "Random tile movement"
There have to be a random movement of tile causing higher difficulty level for our game

[2018-09-14 08:43] richelbilderbeek opened #39 "Vote before Thursday 7:00: must the game be savable?"
**Is your feature request related to a problem? Please describe.**

At #32 ('Suggest the goal of the game') it has been suggested that the game must be savable. I think this is a nice entry point on voting if we think this really is important for our idea of the game.

**Describe the solution you'd like**

I suggest to vote:

 * No saving
 * Progress stored by a password
 * Saving at certain in-ga

[2018-09-14 08:45] richelbilderbeek commented on #32
@RafayelGardishyan: thanks for this suggestion:

I created #39 to vote if or in which way the game must be savable.

[2018-09-14 08:47] richelbilderbeek commented on #39
My vote:

Option|Vote
---|---
No saving|Y
Progress stored by a password|Y
Saving at certain in-game locations|N
Saving always possible|N

[2018-09-14 08:55] richelbilderbeek commented on #38
Good suggestion :+1:!

I am unsure that -when we get to that point- that we will think this is the best option. I suggest that -when we get to that point- I will request a vote. Good idea?

From that, I suggest you close this Issue if you agree, else let me know your thoughts here.

[2018-09-14 10:16] Joshua260403 commented on #39
1|2|3|4
--|--|--|--
N|N|N|Y

[2018-09-14 14:11] Joshua260403 commented on #34
Background changing the zen was not really what i meant, but zen changing the background could be cool!

[2018-09-14 14:28] RafayelGardishyan commented on #19
I can't work this evening. Tomorrow I will do this

[2018-09-14 14:31] RafayelGardishyan commented on #39
1|2|3|4
--|--|--|--
N|N|N|Y

[2018-09-14 14:36] richelbilderbeek opened #40 "No globals, no arrays"
**Is your feature request related to a problem? Please describe.**

Currently there is a global variable and an array:

[code]

It is put in place with good intentions, yet:

 * we should [avoid non-const global variables](https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#i2-avoid-non-const-global-variables) and we will.
 * we should [use std::vector by default](https://

[2018-09-14 14:37] richelbilderbeek commented on #19
Agree. I will unassign you for now and look for an assignee tonight. If none, you can assign yourself for this job tomorrow. Great plan :+1:

[2018-09-14 14:48] Joshua260403 commented on #39
This is explained in #32

[2018-09-14 18:55] same-drenth commented on #4
[click here](https://youtu.be/VWvD4mUpyfU?t=4m) for tutorial

[2018-09-15 10:45] RafayelGardishyan commented on #21
I dont't completely understand what sfml_game should do and what game should do.
Also I'm afraid I have to use lists

[2018-09-15 11:11] RafayelGardishyan commented on #21
Correction:
I've created a game class which contains a sfml_game class but the game class does at this moment nothing but execute sfml_game.exec()

In the future we'll be adding logic to game and not sfml_game

(P.S. sfml_game has now a vector which contains all the shapes which need to be drawn and you can add shapes by sfml_game.add_shape())

[2018-09-15 11:12] RafayelGardishyan commented on #21
Moving to "To be checked by Testing"

[2018-09-15 12:18] RafayelGardishyan commented on #40
Done (removed because of no need)

[2018-09-15 12:33] RafayelGardishyan commented on #38
Ok, closing

[2018-09-15 12:36] #38 closed

[2018-09-15 14:37] richelbilderbeek commented on #21
These are some guidelines:

 * the `game` class contains the game logic. Data types are built-in (int, double, etc.) or STL (std::string, std::vector)
 * the `sfml_game` class is about displaying that game logic. It has a `game` member variable, it uses for the game state. Its member variables can be SFML data types.

[2018-09-15 15:01] RafayelGardishyan opened #44 "Testing"
**Is your feature request related to a problem? Please describe.**
Testing takes too much time

**Describe the solution you'd like**
Write a test which will test every part of our game

**Describe alternatives you've considered**
None

**Additional context**
Maybe something for @richelbilderbeek or @RafayelGardishyan

[2018-09-15 15:30] RafayelGardishyan commented on #14
For testers:
Try clicking with the right and left mouse buttons (With your computer sound on)

[2018-09-15 15:30] RafayelGardishyan commented on #13
For testers:
Try pressing the arrow keys on the keyboard

[2018-09-15 15:58] RafayelGardishyan opened #46 "Travis fails with resources"
**Describe the bug**
Travis fails to play audio and copy files to build folder

**To Reproduce**
Steps to reproduce the behavior:
Visit travis log at:
[Error Build](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/429000074?utm_source=github_status&utm_medium=notification)

**Expected behavior**
Run without errors

**Desktop (please complete the following information):**
 - OS: Ubuntu

[2018-09-15 16:40] richelbilderbeek commented on #46
How stupid of me! Sure I will fix it today :+1:

[2018-09-15 18:15] RafayelGardishyan commented on #46
Problem is solved thanks!

[2018-09-15 18:15] #46 closed

[2018-09-16 07:40] richelbilderbeek opened #47 "Suggest: team name before 2018-10-04 7:00"
**Is your feature request related to a problem? Please describe.**

A team has a name.

**Describe the solution you'd like**

I suggest to collect team names here before October 4th 7:00.

**Describe alternatives you've considered**

None.

**Additional context**

 * I will collect all suggestions at Thursday October 4th 7:00 (in the morning).
  * I will Issue a vote before 8:00 (that same day).

[2018-09-16 08:12] richelbilderbeek commented on #44
Good suggestion!

Actually, this is already taking shape:

 * Testing game logic (`game`): Travis
 * Testing graphical game (`sfml_game`): Travis (but not yet implemented)
 * Acceptance testing: human testing team led by @martje127

Of course, developers will verify if a graphical feature works, but only briefly. It is the idea they verify, then push to GitHub to let Travis do the testing.

I will

[2018-09-16 08:12] #44 closed

[2018-09-16 17:44] richelbilderbeek commented on #4
See [the tutorial video posted by Same](https://youtu.be/VWvD4mUpyfU?t=5m18s) :+1:

[2018-09-16 17:53] Joshua260403 commented on #4
I did that but the guy opens a txt file and somehow builds an entire project just by doing so. When i tried that it wouldn't work. I'm watching [this](https://www.youtube.com/watch?v=T6zrPBRkURI) tutorial now.

[2018-09-16 18:08] Joshua260403 commented on #4
I got further, place the sfml source files folder renamed to "SFML" inside of "C:/Qt". The problem now is that i get ALOT of errors.

[2018-09-16 18:09] Joshua260403 commented on #4
But they are Qt errors, not SFML errors...

[2018-09-16 18:10] Joshua260403 commented on #4
What Qt version are we using?

[2018-09-16 18:14] RafayelGardishyan commented on #47
Team R (Richel, Rafayel, Rijk = 3*R)

[2018-09-17 05:45] richelbilderbeek commented on #47
That's an early suggestion!

Too bad, I will veto (vote against and overrule other votes) 'Team R' as our team currently has six members. Picking a name with only half of the team's names would be inappropriate.

Looking forward to a more appropriate name :+1:

[2018-09-17 05:48] richelbilderbeek opened #51 "Wednesday October 24th 20:00: rename GitHub to nature_zen"
**Is your feature request related to a problem? Please describe.**

I think the current name is obsolete.

**Describe the solution you'd like**

Rename the GitHub to `nature_zen`, also the other files.

**Describe alternatives you've considered**

Keeping the current name, but that feels awkward.

**Additional context**

Will do so Wednesday October 24th approx 20:00.

[2018-09-17 05:51] richelbilderbeek commented on #4
We use Qt5 (can be any subversion number from there). It would be helpful for us if you'd post those errors, possibly in a new Issue, as others may have the same problem.

I have not gotten it to work under Windows yet ...

[2018-09-17 06:01] Joshua260403 commented on #4
I will continue after school today, i'm not sure if i have Qt5.

[2018-09-17 06:01] Joshua260403 commented on #4
Whoops

[2018-09-17 10:49] Joshua260403 commented on #7
Someone did a commit directly to the master branch...

[2018-09-17 10:52] richelbilderbeek commented on #7
Sure, that can be done. It *is* risky though and breaking the `master` will have some consequences (e.g. bringing coffee/lemonade) for as long at is broken.

[2018-09-17 11:31] Joshua260403 commented on #4
I think i might know why same's tutorial didn't work. I found another tutorial ([this one](https://github.com/SFML/SFML/wiki/Tutorial%3A-Compile-and-Link-SFML-with-Qt-Creator)) and here they say you need to install cmake.

[2018-09-17 12:27] Joshua260403 opened #53 "Errors with Gold Linker"
# Issue:
- OS: Windows 10
- Compiler: mingw530_32
- Qt Version: 5.9.1
- SFML Version: 2.5.0

### Issue Description
ld.gold.exe gives 21 errors when i try to run djog_unos_2018.pro

### How to reproduce:
1. Install sfml following this tutorial: https://github.com/SFML/SFML/wiki/Tutorial%3A-Compile-and-Link-SFML-with-Qt-Creator
2. Run djog_unos_2018.pro

### Compile output
[code]

[2018-09-17 12:32] richelbilderbeek commented on #53
(no time, so I'll be quick)

May be easy: in the `.pro` file, change (something like...)

[code]

to

[code]

to make the linker only been used under non-Windows computers.

[2018-09-17 12:39] Joshua260403 commented on #53
found something: windows uses PE instead of ELF and gold is for ELF only

[2018-09-17 12:55] Joshua260403 commented on #53
Need to remove QMAKE_LFLAGS += -fuse-ld=gold for windows

[2018-09-17 12:55] #53 closed

[2018-09-17 13:01] Joshua260403 opened #54 "20180921: using TODO to see what has to be done in the code"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to see where work is needed in the code really quickly.

**Describe the solution you'd like**
TODO enabled for everyone

**Describe alternatives you've considered**
Not enabling it

**Additional context**
In Qt: Help>About plugins -> Look for "Todo (experimental)" and enable it

To use it create a commen

[2018-09-17 13:15] Joshua260403 opened #55 "remove ubsan"
# Issue:
- OS: Windows 10
- Compiler: mingw530_32
- Qt Version: 5.9.1
- SFML Version: 2.5.0

### Issue Description
cannot find -lubsan

### How to reproduce:
run the program

[2018-09-17 13:34] RafayelGardishyan commented on #4
Joshua, when you're merging a branch I suggest you to fill in the form below the pull request title and also don't merge before travis succeeding (you will se what I men if you open a pull request).
That will help everyone to understand your addition

[2018-09-17 13:52] Joshua260403 commented on #55
ubsan is for linux only and not for mingw, the compiler every windows user is using....

[2018-09-17 13:52] Joshua260403 commented on #55
so i think well have to remove it and maybe find an alternative

[2018-09-17 14:39] Joshua260403 commented on #4
i have never seen such form, and also, every time i merge my branch has already been checked by travis, if it fails (like now) i don't merge

[2018-09-17 14:42] Joshua260403 commented on #4
Everyone on windows, i believe i succeeded in getting it working on windows. Except for the fact that ubsan doesn't work on windows (#55 ). Please put you're sfml library in a folder called "sfml" in the C:/ directory. I used [this](https://github.com/SFML/SFML/wiki/Tutorial%3A-Compile-and-Link-SFML-with-Qt-Creator) tutorial.

[2018-09-17 14:47] Joshua260403 commented on #4
oh that thing i a form......

[2018-09-17 14:52] richelbilderbeek commented on #55
Also here, in the Qt Project file, one may put it between `!win{}`:

[code]

[2018-09-17 14:54] richelbilderbeek commented on #4
@Joshua260403: you are the first teenager I know that got SFML working on Windows. Smashingly done! :+1:

(of course, getting it to work in a VM is also cool)

[2018-09-17 14:57] richelbilderbeek commented on #54
@Joshua260403: would you volunteer to demonstrate this topic this Friday to the group at at 20:30? If yes, I will arrange a beamer.

[2018-09-17 14:59] Joshua260403 commented on #4
too bad travis failed

[2018-09-17 15:00] Joshua260403 commented on #4
https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/429607001

[2018-09-17 15:04] Joshua260403 commented on #55
but if that is done, all other uses of ubsan will cause an error

[2018-09-17 15:04] Joshua260403 commented on #54
sure

[2018-09-17 15:14] richelbilderbeek commented on #54
You are hereby scheduled to do so :rainbow:

[2018-09-17 15:15] richelbilderbeek commented on #55
I will fix it in 15 minutes.

[2018-09-17 15:20] Joshua260403 opened #57 "Undefined references"
# Issue:
- OS: Windows 10
- Qt Version: 5.9.1
- Compiler: MinGW530_32
- SFML Version: 2.5.0

### Issue Description
[See travis log](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/429607001)

### How to reproduce:
Run my version of djog_unos_2018.pro

[2018-09-17 15:31] Joshua260403 commented on #55
That will be tonight or tommorow after school

[2018-09-17 15:38] richelbilderbeek commented on #57
WOAH! Fixed it!

[2018-09-17 15:38] #57 closed

[2018-09-17 15:38] richelbilderbeek commented on #55
WOAH! Fixed it!

[2018-09-17 15:38] #55 closed

[2018-09-17 15:46] Joshua260403 commented on #57
@richelbilderbeek did you remove "win32{" and "}" before and after the giant LIBS section?

[2018-09-17 15:47] Joshua260403 commented on #4
So is it working now?

[2018-09-17 15:55] richelbilderbeek commented on #57
I put your giant LIBS section in `win32{ }`, I put the original LIBS section in the `unix:!macx{ }`parts. You can see it [in this commit](https://github.com/richelbilderbeek/djog_unos_2018/commit/71c4a6cde7dc8ef6eb31019f0b7eb1323c89b7e0).

[2018-09-17 16:20] Joshua260403 opened #60 "Undefined reference to -lubsan on Windows"
### Issue Description
Got alot of issues:
18:18:38: Running steps for project djog_unos_2018...
18:18:38: Starting: "C:\Qt\5.9.1\mingw53_32\bin\qmake.exe" C:\Users\Joshua\Documents\QT_apps\djog_unos_2018\djog_unos_2018.pro -spec win32-g++ "CONFIG+=debug" "CONFIG+=qml_debug"
18:18:40: The process "C:\Qt\5.9.1\mingw53_32\bin\qmake.exe" exited normally.
18:18:40: Starting: "C:\Qt\Tools\mingw530_32\bi

[2018-09-17 16:29] Joshua260403 commented on #55
nope #60

[2018-09-17 16:49] richelbilderbeek commented on #60
Yes, sound like a `Build | Clean all` should fix this.

[2018-09-17 17:22] richelbilderbeek commented on #60
Note: I missed a `}` somewhere. Merging `develop` into `joshua` may already fix it.

[2018-09-17 17:34] richelbilderbeek commented on #4
How for are you now?

 * [ ] @annehinrichs22
 * [ ] @same-drenth
 * [ ] @martje127
 * [ ] @Rijk-van-Putten

Please let me know here if and only if you've succeeded. Without Qt Creator with SFML installed, this project won't be fun.

[2018-09-17 17:50] Joshua260403 commented on #60
I already fixed that too, got all the issues afterwards

Op ma 17 sep. 2018 19:22 schreef Richel Bilderbeek <notifications@github.com

[2018-09-17 17:56] richelbilderbeek commented on #60
What if you do a `Build | Clean All`?

Or more ruthless: deleting either

  1. the `build-djog_unos_2018` folder (it will be one folder up), or
  2. both `release` and `debug` folders in the `djog_unos_2018` folder?

Else, I must have missed a `win{}` somewhere ...

[2018-09-17 18:17] Joshua260403 commented on #60
it fixed all issues starting with __ubsan, but now i'm left with 67 _imp__ZN2sf or ZNK2sf errors. I believe they have something to do with sfml.

[2018-09-17 18:20] Joshua260403 commented on #60
It says undefined reference for every single sfml function or object used in the code

[2018-09-17 18:24] richelbilderbeek opened #62 "Undefined reference to SFML on Windows"
# Issue:

- OS: Windows
- Version: ?
- SFML Version: ?

### Issue Description

Linking errors (continued from #60)

### How to reproduce:

Unknown

[2018-09-17 18:27] richelbilderbeek commented on #60
Great, this Issue is thus solved!

Created a new Issue with the new error: #62 ('Undefined references to SFML under Windows').

[2018-09-17 18:27] #60 closed

[2018-09-17 18:33] Joshua260403 commented on #62
do you think the problem has to do with the linker, since windows can't use ld.gold.exe

[2018-09-17 18:35] Joshua260403 commented on #62
Adding the line "LIBS += -LC:\SFML\bin" did the trick!

[2018-09-17 18:37] Joshua260403 commented on #62
nevermind it just said it can't read the files in that folder before the other errors would occur

[2018-09-17 19:57] annehinrichs22 opened #63 "Anne won't be joining on friday (cool link included though)"
Because I will be competing in a mathematics tournament which is located in Nijmegen I won't be back in time to join unfortunately.
To compensate for the sudden loss of `cabin pressure` Anne's assistance, [here's a link](https://www.humblebundle.com/books/game-development-books?hmb_source=navbar&hmb_medium=product_tile&hmb_campaign=tile_index_3) to some books that are on sale right now and look co

[2018-09-18 10:36] Joshua260403 commented on #62
have been trying for an hour now but still no progress

[2018-09-18 17:13] richelbilderbeek commented on #62
Yuck, I find these the shittiest kind of errors.

Do you think a dual-boot Windows/Linux laptop would be a better option?

[2018-09-18 17:26] Joshua260403 commented on #62
I will decide about dual booting linux or a vm friday

Op di 18 sep. 2018 19:13 schreef Richel Bilderbeek <notifications@github.com

[2018-09-18 17:52] Joshua260403 commented on #62
I saw some people are saying that the version of sfml you are using could cause problems. Is there a specific version of sfml i should use / does it matter if i use sfml 2.0 instead of 2.5.0

[2018-09-18 18:35] Joshua260403 commented on #62
I DID IT!!!!!!!!! I have no more issues. Followed the tutorial shared by same. SFML version 2.0
next problem.... it crashes when ran

[2018-09-18 18:35] #62 closed

[2018-09-18 18:39] Joshua260403 opened #66 "Program crashing immediately"
# Issue:
- OS: Windows 10
- Qt Version: 5.9.1
- SFML Version: 2.0

### Issue Description
The program crashes immediately when it is ran

### How to reproduce:
unknown:

[2018-09-18 18:49] Joshua260403 commented on #4
@richelbilderbeek If you want you can schedule me in a second time to show windows users how to do this on windows.

[2018-09-18 18:50] Joshua260403 commented on #4
Unless there is a problem with windows users using sfml 2.0

[2018-09-18 18:56] Joshua260403 commented on #66
When i run it in debug it says "During startup program exited with code 0xc0000135."

[2018-09-19 05:29] richelbilderbeek commented on #66
Hmmm, we set the program to close after a 100 frames  (approx 2 seconds). The Travis CI build passes. Maybe it just works :confused: ? Could you paste the complete program output here?

[2018-09-19 05:31] richelbilderbeek commented on #4
You are scheduled to do so! Also, on Thursdays (19:00-21:00) I could use someone to help the other team. Would you volunteer there as well? No is fine, I just need to know.

[2018-09-19 05:34] richelbilderbeek commented on #66
There is a line that determines how long the game runs, [this one](https://github.com/richelbilderbeek/djog_unos_2018/blob/master/game.cpp#L90). Set it to something higher. Will this result in a proper and longer game run?

[2018-09-19 05:44] Joshua260403 commented on #66
The entire output is just 2 lines:
The program crashed
The program was forcefully stopped

But when run in debug it gives me a message (i believe i posted that above)

Op wo 19 sep. 2018 07:29 schreef Richel Bilderbeek <notifications@github.com

[2018-09-19 05:45] Joshua260403 commented on #4
Thursday i won't be able to come due to a very large quantity of latin
homework

Op wo 19 sep. 2018 07:31 schreef Richel Bilderbeek <notifications@github.com

[2018-09-19 06:10] richelbilderbeek commented on #66
If

[code]

is the output of the debug run, something may be deeply wrong. It may be that the libraries mismatch. It may even be that SFML is not properly installed yet at all :slightly_frowning_face:. But it can also be that the music file or part of the graphics is not supported

To find out, the debugger may help. Else sprinkling some `std::cout` (or better: `std::clog`) messages through the co

[2018-09-19 06:17] Joshua260403 commented on #66
Sfml mismatch, as in i use 2.0 and rafayel and you use 2.5.0?

Op wo 19 sep. 2018 08:10 schreef Richel Bilderbeek <notifications@github.com

[2018-09-19 06:26] Joshua260403 commented on #66
My compiler is MinGW530_32

[2018-09-19 06:36] richelbilderbeek commented on #66
I use g++ (7.2.0), but it is not about that. It is about using a DLL created with say MinGW530_32, where the Qt Creator Project uses a different compiler. It does not matter which compiler you use, but that you use the same all the time. Clearer?

[2018-09-19 07:27] Joshua260403 commented on #66
Never used anything else than MinGW530_32

Op wo 19 sep. 2018 08:36 schreef Richel Bilderbeek <notifications@github.com

[2018-09-19 12:49] Joshua260403 commented on #66
placed the sfml dlls in the folder with the compiler exe and it worked

[2018-09-19 12:49] #66 closed

[2018-09-19 12:51] Joshua260403 opened #72 "program closes when ran"
windows 10
sfml 2.0

### Issue Description
The program runs but after i see the window it immediately closes again

Log says program exited with code 0

[2018-09-19 12:52] Joshua260403 commented on #72
@richelbilderbeek new issue :)

[2018-09-19 12:57] richelbilderbeek commented on #72
No, this is actually great! It means IT WORKS :tada: ! Exit code zero denotes an OK! It ran for 100 ticks (change the 100` in the code to something bigger).

If no questions, this Issue can be closed.

[2018-09-19 12:58] richelbilderbeek commented on #63
OK, thanks for the notification! Happy to hear you are going to do something cool. Enjoy!

[2018-09-19 12:58] #63 closed

[2018-09-19 12:59] richelbilderbeek commented on #66
@Joshua260403 : I would not mind if you would document on this GitHub what you did exactly :innocent:

[2018-09-19 13:12] #72 closed

[2018-09-19 19:05] richelbilderbeek commented on #66
I did it too! :tada:. Will document now!

[2018-09-19 19:19] Joshua260403 commented on #19
It's doing this so shouldn't this one be closed?

[2018-09-19 19:19] richelbilderbeek commented on #66
# Solution

if you get this error, this means Qt Creator cannot find the path to the SFML binaries.

To fix this, in Qt Creator, click 'Projects' (at the left vertical menu bar), go to 'Build', go to 'Build Environment', add to the `Path` variable: `C:\Qt\sfml\bin`

[2018-09-19 19:36] richelbilderbeek commented on #19
Nope. I quote:

This means this Issue will be closed by testing on Thursdays, else by me on Friday.

[2018-09-19 19:38] richelbilderbeek commented on #31
We share the same idea hear. As implementer of this, you have some freedom to do it any way you like it. Of course, there is a risk someone disagrees, but I predict that chance is slim.

[2018-09-19 21:16] Joshua260403 commented on #31
First i will need to get either some onclick function into the object or the object into the onclick section, both dont seem easy

[2018-09-20 05:31] richelbilderbeek commented on #39
Vote closed: saving is always possible.

[2018-09-20 06:24] Joshua260403 opened #75 "Travis has issues"
### Issue Description
Travis seems to have problems with some branches

[2018-09-20 07:18] richelbilderbeek commented on #4
Documented [here](https://github.com/richelbilderbeek/djog_unos_2018/blob/develop/doc/install.md)

[2018-09-20 07:19] richelbilderbeek commented on #4
Installed Qt Creator and SFML on @martje127's laptop. Thanks @martje127!

[2018-09-20 12:59] richelbilderbeek commented on #75
Well spotted! Will fix tomorrow before 17:00.

[2018-09-20 15:41] Joshua260403 commented on #4
Latin is done, i'll come to djog today.

[2018-09-20 16:40] Joshua260403 commented on #4
The current install tutorial isn't how i did it btw

[2018-09-20 16:42] Joshua260403 commented on #4
I have sfml 2.0 and the tutorial is for 2.5.0 which ia the version that wouldn't work for me at all

[2018-09-20 17:46] malin10 commented on #5
@malin10

[2018-09-20 17:58] annabelliard commented on #5
@annabelliard

[2018-09-20 18:28] martje127 commented on #13
al the keys work

[2018-09-20 18:28] #13 closed

[2018-09-20 18:31] martje127 commented on #14
the mouse imput work if i pres the right mouse button go the sound of and if i press the left mouse button the music go on

[2018-09-20 18:31] #14 closed

[2018-09-20 18:32] martje127 commented on #19
the first world part show up

[2018-09-20 18:32] #19 closed

[2018-09-20 19:18] Joshua260403 commented on #54
[Tutorial](https://github.com/richelbilderbeek/djog_unos_2018/blob/master/doc/to-do.md)

[2018-09-20 19:31] #39 closed

[2018-09-20 19:32] richelbilderbeek commented on #5
Everyone is in :tada:

[2018-09-20 19:43] Joshua260403 opened #79 "Chat"
We should have a chatroom

[2018-09-20 20:17] Joshua260403 opened #80 "Merge conflict"
Whoops, how do i fix this

[2018-09-20 20:19] Joshua260403 commented on #80
@richelbilderbeek

[2018-09-20 20:54] #79 closed

[2018-09-20 21:02] richelbilderbeek commented on #80
I @Joshua260403: I do not see a merge conflict on your branch.

If you have it locally, do:

 * Fix the files with a merge conflict. You can recognize them by `<<<<`, `====` and `>>>>` pieces of text
 * Then `git` add, commit, push

If questions, just push the merge conflicts, and I will fix it,

[2018-09-20 21:04] richelbilderbeek commented on #6
AFAICS, everyone has done this. Well done team!

[2018-09-20 21:05] richelbilderbeek commented on #7
AFAICS everyone has done this. Go team!

[2018-09-20 21:05] #7 closed

[2018-09-20 21:05] richelbilderbeek commented on #8
AFAICS most of us did so. Go team!

[2018-09-20 21:05] #8 closed

[2018-09-20 21:06] richelbilderbeek commented on #21
I will modify the architecture in the even better direction tomorrow/Friday before 17:00.

[2018-09-20 21:12] Joshua260403 commented on #80
Resolved, may be some newlines left in team.md because phones

[2018-09-20 21:12] #80 closed

[2018-09-20 21:14] richelbilderbeek opened #82 "2018-09-27: Discuss branching model with Thursday team"
### Issue Description

The Thursday team is unexperienced in `git` and GitHub. We'll discuss the branching model next Thursday.

[2018-09-20 21:18] richelbilderbeek commented on #29
Will do so Friday/tomorrow, as it will also fix #75

[2018-09-20 21:38] richelbilderbeek opened #83 "Read: what kind of game are we making?"
### Issue Description

[here](https://github.com/richelbilderbeek/djog_unos_2018/blob/master/doc/game.md) you can find the current idea of the game we are making

### Procedure

Read it. If you've read it, unassign yourself.

You are encouraged to suggest future development in #30 , #32 and #34

[2018-09-20 22:29] Joshua260403 commented on #83
Unassigning is done by click un the little gear at the assignees section in the top right and deselecting yourself

[2018-09-21 07:05] richelbilderbeek opened #84 "Setup AppVeyor"
**Is your feature request related to a problem? Please describe.**

Most of the team use Windows. I do not. As AppVeyor uses a Windows system, if it works there, it should work on the computers of the kids.

**Describe the solution you'd like**

I will need to setup AppVeyor.

**Describe alternatives you've considered**

Let the team use a VM or dual-boot if they cannot set it up.

**Additional co

[2018-09-21 08:29] richelbilderbeek commented on #47
I suggest 'Didiem` as we work on two (`di`) different days (`diem`).

[2018-09-21 10:07] #21 closed

[2018-09-21 10:07] #29 closed

[2018-09-21 10:07] #75 closed

[2018-09-21 10:38] richelbilderbeek opened #85 "Test tile"
**Is your feature request related to a problem? Please describe.**

The `tile` needs to be tested.

**Describe the solution you'd like**

In `develop`, in `tile.cpp` is a function called `test_tile` that tests the tile.

Uncomment this line to start fixing:

[code]

If all tests pass, you can close this Issue yourself.

**Describe alternatives you've considered**

None

**Additional context**

Non

[2018-09-21 10:47] richelbilderbeek opened #86 "Select a tile by clicking left mouse button"
**Is your feature request related to a problem? Please describe.**

One cannot select a tile by clicking the left mouse button yet. Users expect to be able to do so.

**Describe the solution you'd like**

 * If a tile is clicked, it should display a different color
 * If the background is clicked, the tile(s) lose selectedness

**Describe alternatives you've considered**

None

**Additional contex

[2018-09-21 11:00] richelbilderbeek opened #87 "Set tile speed"
**Is your feature request related to a problem? Please describe.**

The class `tile` has no way to change its position.

**Describe the solution you'd like**

In `tile`:

 * Add member variables `double m_dx` and `double m_dy` to store the horizontal and vertical speed of the `tile`
 * Add a member function `set_speed` that takes two arguments: the speed in horizontal and vertical direction.
 * Ad

[2018-09-21 11:02] richelbilderbeek commented on #31
@Joshua260403 I've improved the architecture.

This Issue is/was about two things:

 * #86 : select a tile by clicking left mouse button
 * #87 : set tile speed

Because an Issue must have one specific goal, I will close this one.

[2018-09-21 11:02] #31 closed

[2018-09-21 11:52] richelbilderbeek opened #88 "Create an agent class"
**Is your feature request related to a problem? Please describe.**

There should be something walking on the tiles.

**Describe the solution you'd like**

 * Create an enum class called `agent_type` in files named `agent_type.h` and `agent_type.cpp` (similar to  `tile_type`). Its first and only value is `cow` (for now)
 * Create a class called `agent` in files named `agent.h` and `agent.cpp` (simi

[2018-09-21 11:56] richelbilderbeek opened #89 "Add a second tile of a second type"
**Is your feature request related to a problem? Please describe.**

We now have one tile of one type. Boring!

**Describe the solution you'd like**

 * `game` must start with two `tiles`
 * the second `tile` must have a different `tile_type`
 * the test in `test_game` must pass. Run the test by un-commenting the following line:

[code]

**Describe alternatives you've considered**

None.

**Additio

[2018-09-21 12:10] richelbilderbeek commented on #82
I think I did a good job at documenting it [here](https://github.com/richelbilderbeek/djog_unos_2018/blob/develop/doc/git.md).

[2018-09-21 12:42] RafayelGardishyan commented on #84
Nice idea!

[2018-09-21 12:43] richelbilderbeek opened #90 "A game has a score"
**Is your feature request related to a problem? Please describe.**

A game should have a score

**Describe the solution you'd like**

 * Add a member variable of type int called `m_score` to `game`
 * Uncomment the following line in `test_game`

[code]

and make the test compile and pass

**Describe alternatives you've considered**

None.

**Additional context**

 * No need to modify the score yet

[2018-09-21 12:57] richelbilderbeek opened #91 "Architectural: move sfml_game::m_n_displayed to game::m_n_ticks"
**Is your feature request related to a problem? Please describe.**

The architecture can be improved. The number of game cycles is not part of the visualization of the game, but of the game itself. The architecture must reflect that.

**Describe the solution you'd like**

 * Remove `sfml_game::m_n_displayed`
 * Add `game::m_n_ticks`
 * `game::m_n_ticks` must be incremented whenever `game::process_

[2018-09-21 13:00] richelbilderbeek commented on #91
@RafayelGardishyan: I will assign you this, as it fits your job description best :+1:

[2018-09-21 13:01] richelbilderbeek commented on #84
As lead dev I have to: I cannot ignore the fact that most of my devs use Windows...

[2018-09-21 13:04] richelbilderbeek opened #92 "Add agents on the tiles"
**Is your feature request related to a problem? Please describe.**

There may be an `agent` class (#88), but it must be added on the `tile`s.

**Describe the solution you'd like**

 * Add a member variable to `tile`: `std::vector<agent> m_agents`
 * Add a `tile` const member function to get the agents by reference
 * Uncomment the following line in `test_tile` and make the tests pass:

[code]

**D

[2018-09-21 13:13] richelbilderbeek opened #93 "Visualize agents"
**Is your feature request related to a problem? Please describe.**

After #92 ('Add agents to tiles') there may be agents on the tiles, but these are not displayed yet.

**Describe the solution you'd like**

 * Give each `tile` one `agent` that is exactly in the middle of it
 * Let `sfml_game` display the agents.

**Describe alternatives you've considered**

None.

**Additional context**

 * If do

[2018-09-21 13:27] richelbilderbeek opened #94 "Visualize score"
**Is your feature request related to a problem? Please describe.**

The game may have a score (#90, 'A game has a score') but it is not displayed anywhere.

**Describe the solution you'd like**

 * Within `sfml_game`, display the score somehow and somewhere

**Describe alternatives you've considered**

None.

**Additional context**

After the score is visualized, move this Issue to the 'To be chec

[2018-09-21 13:35] richelbilderbeek opened #95 "A game can be saved"
**Is your feature request related to a problem? Please describe.**

It was voted (#39) that the game should be saveable.

**Describe the solution you'd like**

 * A a function `save` that takes (1) a `const game&` game and (2) a std::string filename argument
 * Calling `save` should create a file that contains the `game`'s state in some way (we will test if it can be loaded properly later)
 * Crea

[2018-09-21 13:42] richelbilderbeek opened #96 "Keep this music or change it"
**Is your feature request related to a problem? Please describe.**

Thanks to @RafayelGardishyan the game has some music, but it is unknown if @same-drenth agrees.

**Describe the solution you'd like**

If @same-drenth:

 * approves, he can close this Issue
 * disagrees, he can select some other music and add it. He can ask @RafayelGardishyan for questions how to do so.

The music should be select

[2018-09-21 13:42] richelbilderbeek commented on #96
I assign @same-drenth on this, as this is his responsibility :+1:

[2018-09-21 13:57] richelbilderbeek opened #97 "Load game"
Depends on:

 * [x] #583

**Is your feature request related to a problem? Please describe.**

After #95 ('A game can be saved') it follows that a game can also be loaded.

**Describe the solution you'd like**

This test should pass:

[code]

**Describe alternatives you've considered**

None.

**Additional context**

Will do so after #95 is done.

[2018-09-21 15:07] Joshua260403 commented on #82
I'll try to be there too.

[2018-09-21 15:09] Joshua260403 commented on #96
or make music selectable in menu (later addition)

[2018-09-21 15:11] richelbilderbeek commented on #82
Awesome. Do you think [this doc](https://github.com/richelbilderbeek/djog_unos_2018/blob/develop/doc/git.md) will help? If any improvements, go ahead and improve it :+1:

[2018-09-21 15:11] richelbilderbeek commented on #96
Agree, also that it is something for later :-)

[2018-09-21 15:14] Joshua260403 commented on #84
Is appveyor travis for windows?

[2018-09-21 15:17] Joshua260403 commented on #89
I'll take this job.

[2018-09-21 15:20] Joshua260403 commented on #94
If no one else wants this you can assign me, but as i already assigned myself a moment ago i'll let someone else choose this if they want.

[2018-09-21 16:12] same-drenth commented on #4
it is all downloaded but not working

[2018-09-21 16:37] richelbilderbeek commented on #94
@Joshua260403 this job can only be done after #90 ('A `game` has a score'), so I'd suggest to one day do that one first :rainbow:

[2018-09-21 16:40] richelbilderbeek commented on #84
It is! Would you be interesting in getting this to work?

[2018-09-21 17:39] Joshua260403 commented on #89
added 2! Ocean and mountains are now a real thing!!!!!!!

[2018-09-21 17:45] RafayelGardishyan commented on #91
This issue is outdated because I resolved this when I separated Logic and Graphics

[2018-09-21 17:59] RafayelGardishyan commented on #91
FIxed!

[2018-09-21 17:59] RafayelGardishyan commented on #90
Fixed!

[2018-09-21 19:26] Joshua260403 opened #101 "sfml_game::display has to be shorter"
I put a fixme at the problem

Feel free to use or copy my branch

[2018-09-21 21:31] Joshua260403 commented on #101
i fixed it temporarily, when more tile types are added we'll need to fix it better.

[2018-09-21 21:31] #101 closed

[2018-09-21 21:37] Joshua260403 opened #105 "Improve camera"
The camera movement should be improved.

[2018-09-21 21:38] Joshua260403 commented on #105
Assigned myself because i would like to do this.

[2018-09-21 22:26] Joshua260403 opened #107 "High cyclomatic complexity in sfml_game.cpp:163"
The program fails because it is "too complex", how is this fixed?

`sfml_game.cpp, line 163`
(see travis)

[2018-09-21 22:29] Joshua260403 commented on #86
hmm i'll see about this

[2018-09-22 07:38] richelbilderbeek commented on #107
Yup, [it states in the Travis CI build log](https://travis-ci.org/richelbilderbeek/djog_unos_2018/jobs/431710765#L1893):

[code]

The cyclomatic complexity is the number of ways a function can be traversed. Using only `if`s:

 * No `if`s: 1
 * One `if`: 2
 * Two `if`s: 2 * 2
 * Etcetera

One can fix it in many ways, I suggest you invent a fix yourself :+1: (go ahead and create those new functions!

[2018-09-22 10:12] Joshua260403 commented on #90
Done but not closed?

[2018-09-22 10:17] Joshua260403 commented on #87
Where is this done and why is it in done without being closed

[2018-09-22 10:18] Joshua260403 commented on #87
This wasn't even assigned to anyone

[2018-09-22 10:52] #107 closed

[2018-09-22 11:13] Joshua260403 opened #110 "Leave some jobs for others"
I noticed alot of jobs are assigned to the same person, leaving just a few jobs let for all the others.

Maybe we can set a max of 1 job self assigned at a time.
An exception can be made for jobs nobody wants, but even then everyone needs to get a chance to do something.

[2018-09-22 13:32] #88 closed

[2018-09-22 13:34] #90 closed

[2018-09-22 14:59] richelbilderbeek commented on #110
Indeed, [there are people that do more than others](https://github.com/richelbilderbeek/djog_unos_2018/graphs/contributors), with @RafayelGardishyan in the lead.

I can only welcome this, as we have little time. AFAICS, the main devs (you and Rafayel) do not reserve all jobs for themselves, but just do many jobs after another. I may be wrong, as I do not monitor the 'In Progress' column throughout

[2018-09-22 15:00] richelbilderbeek commented on #87
I think @RafayelGardishyan assumed `Resolved #87` would close the Issue automatically. AFAIK, only `fix #87`/`fixed #87`/`Fix #87`/`Fixed #87` can achieve that.

[2018-09-22 15:05] richelbilderbeek commented on #95
As stated yesterday, you can design it yourself, so we don't have another dependency. The reason for not using libraries, is because we develop on multiple platforms. OTOH, maybe one day, we'll add Boost, but not today.

[2018-09-22 15:10] richelbilderbeek commented on #4
@Rijk-van-Putten let me know by email he got it working. Well done!

[2018-09-22 17:02] Joshua260403 commented on #36
now all we need is a button starting the game

[2018-09-22 17:02] Joshua260403 commented on #36
check out my branch to see the progress, wont push to develop because you can't acces the game except for with a command line argument

[2018-09-22 18:56] Joshua260403 commented on #36
nope complete disaster, undid all changes i made. did it completely the wrong way

[2018-09-22 18:57] Joshua260403 commented on #36
on the bright side, learned alot about how everything works

[2018-09-23 07:59] richelbilderbeek commented on #36
Great to read you dared to undo all your work (`git checkout .` removes all changes as well, use with care!) and observing that it insightful. You could have added a commit like 'Added title screen (breaks build)' so someone else would have been able to fix it and keep your -probably brilliant- artwork :+1:

For example, this needs to be added to `main`:

[code]

Will you try again?

[2018-09-23 08:05] richelbilderbeek commented on #110
@Joshua260403 and @RafayelGardishyan: I have been thinking about this Issue. I had the following insight:

[code]

and likewise:

[code]

As I observe there is at least one job I should assign to the mediors.

I suggest to

 * label all Issues with `junior` and `medior`.
 * Sometimes I will add to the Issue a line like `Not to be done by [name]`

Great plan?

[2018-09-23 08:10] richelbilderbeek commented on #36
@Joshua260403: I assigned you to finish this. Unassign if you disagree, else I look forward to an awesome title screen :factory:

[2018-09-23 08:13] richelbilderbeek commented on #93
Hi @RafayelGardishyan, I unassign you as there may be others that want to do this. I see you are not in the 'In Progress' Project columns, so I assume you are not working on it. Please try to assign yourself one task as a rule. The exception will be when I assign you an additional second/third Issue, for reasons there specified.

[2018-09-23 08:15] richelbilderbeek commented on #33
Hi @RafayelGardishyan: I will unassign you, as others may want to do this. Also, this is not in the 'In Progress' Project column. Try to have one Issue assigned to yourself at once. Exceptions will be when I assign a second/third/etc.

Of course, I enjoy the enthousiasm :+1:

[2018-09-23 08:32] richelbilderbeek commented on #36
@Joshua260403: I will unassign you -sorry for the confusion!- as I want you to help malin10 and annabelliard and Rijk-van-Putten to do this Issue and #35 ('About screen') and #37 ('Menu screen').

Will you be there on Thursday?

[2018-09-23 08:41] richelbilderbeek commented on #110
I observed that @Joshua260403 had a point, that multiple people (including him :grin:) assigned themselves multiple Issues. I ruthlessly undid that. I suggest to follow the rule:

I will close this Issue, as @Joshua260403 correctly spotted I did not observe multiple users assigned themselves multiple Issues. My bad! I will pay more attention this this from now on.

[2018-09-23 08:41] #110 closed

[2018-09-23 08:51] richelbilderbeek commented on #110
Note: I have created a doc for social rules.

[2018-09-23 12:00] Joshua260403 commented on #36
I'll try to be there.

[2018-09-23 12:02] Joshua260403 commented on #36
Are you sure you want to do it with a different window, two multiple windows made alot of problems for me. I think it's better to work with states, so the game itself only reacts when the state is game and the other screens are just overlays or something.

[2018-09-23 12:27] RafayelGardishyan commented on #36
@Joshua260403 I think richel means that you should have different screens but you can run them apart

[2018-09-23 12:52] Joshua260403 commented on #36
I know, that is excectly what i said. Unless you mean something different.

The code in richels message makes it so it opens two windows

[2018-09-23 13:39] richelbilderbeek commented on #36
I am sorry for the ambiguiity:

If the game is run with:

[code]

I want it to display the title and then close.

This to help the junior devs to get into the project.

In the future I will ask the team to connect these screens from within the same program.

[2018-09-24 08:28] Joshua260403 opened #112 "Changing things that work fine"
I saw @Rijk-van-Putten changed my camera system before it was even tested. And i see by looking at the code it didn't improve it but instead made it slightly worse. This shouldn't happen right?

[2018-09-24 08:29] Joshua260403 commented on #112
@richelbilderbeek

[2018-09-24 10:17] Joshua260403 commented on #105
I'll have to fix it

[2018-09-24 10:19] Joshua260403 commented on #112
Since i believe all changes in rijks commit are bad except for the wextra thing can it be undone?

[2018-09-24 10:44] Joshua260403 commented on #112
The one changing the LIBS part has to be undone, he changed the path to the sfml library

[2018-09-24 11:00] Joshua260403 opened #113 "Undo alot"
Everything till rijks commit called "commit test" has to be undone. He destroyed ALOT of things.

Sorry about being so harsh, i just can't get over how stupid the changes are, they may have even completely broken the code for Rafayel.

I will redo my complexity fix and i believe that is all that matters that will be undone.

[2018-09-24 11:01] Joshua260403 commented on #113
@richelbilderbeek

[2018-09-24 11:02] Joshua260403 commented on #113
There goes my entire day of working on the project

[2018-09-24 11:31] Joshua260403 commented on #113
I am undoing everything on my branch to the state i had last, made a copy of it

[2018-09-24 11:50] Joshua260403 commented on #113
i saw the commit, but can't find any traces of it in the code left. hmmmmm

[2018-09-24 11:56] #113 closed

[2018-09-24 11:57] Joshua260403 commented on #113
already removed at the merge conflict he had i believe. ok didn't see that

[2018-09-24 12:01] Joshua260403 opened #115 "Assign yourself"
I saw on rijks branch (was looking at it because of the code breaking thing) that he added a menu, about and title screen all by himself.

1. This also falls under #110 , he is doing 3 jobs on his own leaving 1 for other juniors.
2. He is not assigned to any of these jobs.

[2018-09-24 12:07] Joshua260403 commented on #113
to  stop this from happening #115

[2018-09-24 14:53] RafayelGardishyan commented on #110
Yes sir! I'll try to not assign me to more than 1 task

[2018-09-24 15:39] richelbilderbeek commented on #112
@Joshua260403: I think we as a team must learn how to collaborate. I assume you noticed last Friday how I instructed you to do so. I've seen that @Rijk-van-Putten needed some more time you (more experienced) guys needed, before he was able to do his first successful commit. I already noticed three files were gone [and I put these files these back in](https://github.com/richelbilderbeek/djog_unos_2

[2018-09-24 15:41] Joshua260403 opened #116 "tile_contains not working"
My tile_contains function isn't working

Check the fix me on my branch if you want to help
Feel fry to copy it

Tell me if you are going to help to avoid merge conflicts

[2018-09-24 15:45] richelbilderbeek commented on #112
Close this note, as I believed it was primarily aimed at me. Yes, I read it :-)

[2018-09-24 15:45] #112 closed

[2018-09-24 15:48] RafayelGardishyan commented on #116
Which file?

[2018-09-24 15:48] Joshua260403 commented on #112
Maybe we can discuss things like this and "not assigned"(don't know issue
number) thursday and friday to avoid problems

Op ma 24 sep. 2018 17:46 schreef Richel Bilderbeek <notifications@github.com

[2018-09-24 15:50] Joshua260403 commented on #116
Read the issue

Op ma 24 sep. 2018 17:49 schreef Rafayel Gardishyan <
notifications@github.com>:

[2018-09-24 15:51] Joshua260403 commented on #116
Just so you know it's not the or thingy you should change that to and cus i
tested

Op ma 24 sep. 2018 17:50 schreef Joshua van Waardenberg <
joshuavwaardenberg@gmail.com>:

[2018-09-24 15:52] RafayelGardishyan commented on #116
@Joshua260403, I personally would take the beginning and the end coordinates of the tile and look is the mouse is between them

[2018-09-24 15:53] RafayelGardishyan commented on #116
@Joshua260403 wtf?

[2018-09-24 15:55] Joshua260403 commented on #116
Will try that tomorrow

Op ma 24 sep. 2018 17:53 schreef Rafayel Gardishyan <
notifications@github.com>:

[2018-09-24 16:15] richelbilderbeek commented on #112
We will definitely do so! Thanks for your help!

[2018-09-24 16:17] richelbilderbeek commented on #113
Again, well done!

[2018-09-24 16:17] richelbilderbeek commented on #115
Will emhasize this next Thursday

[2018-09-24 16:28] richelbilderbeek commented on #54
@Joshua260403 gave a clear presentation how this works on Friday. We were unsure how this will work out (as Issues already serve a similar purpose), so we voted to try this out.

[2018-09-24 16:28] #54 closed

[2018-09-24 16:35] richelbilderbeek commented on #35
I will assign @annabelliard to do this on Thursdays. @Joshua260403 will be there to help you and the other junior devs.

[2018-09-24 16:35] richelbilderbeek commented on #36
I will assign @malin10 to do this on Thursdays. @Joshua260403 will be there to help you and the other junior devs.

[2018-09-24 16:36] richelbilderbeek commented on #37
I will assign @Rijk-van-Putten to do this on Thursdays. @Joshua260403 will be there to help you and the other junior devs to do this properly.

[2018-09-24 16:50] richelbilderbeek commented on #116
I see the bug, and added some test code to expose it. Good luck fixing it :+1:

[2018-09-24 17:41] malin10 commented on #36
Hello Richel,

I’m sorry but I have decided to not come anymore.
I’m really busy on school, a little more busy than I thought and with work
I can’t miss another night to non school related stuff.
I had a really good time tho last Thursday.

Greetings,
Malin.

Op maandag 24 september 2018 heeft Richel Bilderbeek <
notifications@github.com> het volgende geschreven:

[2018-09-25 09:44] richelbilderbeek commented on #116
I see the problem. You can read it in [the SFML documentation](https://www.sfml-dev.org/tutorials/2.5/window-inputs.php#mouse). I think you'll find out easily :+1:

[2018-09-25 09:46] richelbilderbeek commented on #36
@malin10: No problemo, school goes first. I will send a PM later today.

[2018-09-25 13:27] same-drenth commented on #4
It almost works properly now.
![screenshot 12](https://user-images.githubusercontent.com/12864136/46017323-7a783500-c0d7-11e8-9803-9392dcecdf37.png)

[2018-09-25 13:48] same-drenth commented on #4
Never mind, I got it.

[2018-09-25 14:01] same-drenth opened #117 "add movement border"
I think that there should be a border witch stops the player from wandering off into the great nothing.
This (invisible) border will make it impossible for the player to get lost within the game.

[2018-09-25 14:29] Joshua260403 commented on #116
yeah i thought it would be something to do with that, but i can't find any window object in our code

[2018-09-25 14:31] Joshua260403 commented on #116
oh wait, m_window

[2018-09-25 14:33] Joshua260403 commented on #116
x and y = 0 is different for the mouse than for the tiles

[2018-09-25 14:38] Joshua260403 commented on #116
oh i see

[2018-09-25 14:38] Joshua260403 commented on #116
the tiles get placed at their width and height values, not their x and y values

[2018-09-25 14:41] Joshua260403 commented on #116
wait thats not right https://snag.gy/T5fGKP.jpg

[2018-09-25 14:43] Joshua260403 commented on #116
got the problem, mouse x and y don't go along with camera x and y

[2018-09-25 14:45] Joshua260403 commented on #116
I DID IT

[2018-09-25 14:45] Joshua260403 commented on #116
whoops testing

[2018-09-25 14:46] Joshua260403 commented on #116
o no

[2018-09-25 14:46] #116 closed

[2018-09-25 14:47] Joshua260403 commented on #86
every tile has an id accessable by get_id() and set_id()

[2018-09-25 14:52] Joshua260403 commented on #117
I'd say, good luck.

[2018-09-25 14:54] Joshua260403 commented on #85
Right?

[2018-09-25 15:20] Joshua260403 opened #120 "How does codecov work"
Codecov says i have 0% coverage, and ihave no idea why.

Can anyone explain how to get it up and how it works.

[2018-09-25 17:03] richelbilderbeek commented on #120
Whenever we push our game to GitHub, Travis -one some computer in the world- [follows the .travis.yml script](https://github.com/richelbilderbeek/djog_unos_2018/blob/master/.travis.yml) to set up a new Linux environment, then installs, compiles and runs our code.

When the game is run, `gcov` labels the lines that are run and in the end sends that info to CodeCov.

If your game crashed, it will se

[2018-09-25 17:09] richelbilderbeek commented on #117
Hmmm, I see the point. @same-drenth: would you volunteer to implement it (after fixing #96)?

[2018-09-25 17:43] Joshua260403 commented on #120
so the codecov % is the % of lines that actually run

[2018-09-25 17:49] richelbilderbeek commented on #120
Correct!

[2018-09-25 17:55] Joshua260403 opened #125 "Selected tile moves"
Now we can select a tile, someone needs to make it move.

Are going to move it with the mouse or with W, A, S & D?

[2018-09-25 17:56] Joshua260403 commented on #125
I'd like to do this since i did the select thing too.

[2018-09-25 18:16] richelbilderbeek commented on #125
Awesome! As the dev, you can pick your favourite option :+1:

[2018-09-26 19:03] richelbilderbeek commented on #30
I think it would be fun to add:

 * plants and underwater plants that grow as food for herbivores
 * herbivores like cows, fishes and herbivorous birds to eat the plants
 * carnivores like sharks, tigers, bears and carnivorous birds to eat the herbivores

Of course, fishes can only stay within a water tile (or fall off, into the abyss). This means that bears (that can also eat fish) can only eat t

[2018-09-26 19:50] Joshua260403 commented on #30
And of course other custom species

Op wo 26 sep. 2018 21:48 schreef Joshua van Waardenberg <
joshuavwaardenberg@gmail.com>:

[2018-09-26 19:50] Joshua260403 commented on #30
Do you mean we create our own apex predator?

Op wo 26 sep. 2018 21:06 schreef Richel Bilderbeek <notifications@github.com

[2018-09-26 19:51] Joshua260403 commented on #47
Apex devs :)

[2018-09-26 19:57] Joshua260403 commented on #47
`The just a little bit older developers`

[2018-09-27 05:12] richelbilderbeek commented on #30
That is part of my suggestion, yes :eagle:

[2018-09-27 18:02] martje127 commented on #89
beautiful tiles

[2018-09-27 18:02] #89 closed

[2018-09-27 18:03] martje127 commented on #105
the camera works Perfectly

[2018-09-27 18:03] #105 closed

[2018-09-27 18:04] martje127 commented on #86
if you klik on the left mouse button the tiles the are selectet

[2018-09-27 18:04] #86 closed

[2018-09-28 05:06] RafayelGardishyan opened #129 "Rafayel Absent"
I'm absent this week because of my theatre group

[2018-09-28 09:08] richelbilderbeek commented on #129
Has been noted. Enjoy your evening!

[2018-09-28 09:08] #129 closed

[2018-09-28 16:17] richelbilderbeek commented on #5
Re-opened: Muhammed enters the team!

[2018-09-28 16:25] richelbilderbeek opened #130 "'font.ttf' not found"
**Describe the bug**

The file `font.ttf` is not found, in `sfml_game`:

[code]

**To Reproduce**

Start Nature Zen from `develop`

**Expected behavior**

 * The font should be created at startup, similar to `background_music.ogg`

**How to fix**

Open the resource editor:

![open_resource_editor](https://user-images.githubusercontent.com/2098230/46221280-ee6f4300-c34c-11e8-94ae-71b322138336.png)

[2018-09-28 16:38] richelbilderbeek commented on #6
Reopened for Mohammed and @EllyJet.

[2018-09-28 17:39] richelbilderbeek opened #132 "We have a chat room!"
Just so that you know, on the main page, click here:

![chat_room](https://user-images.githubusercontent.com/2098230/46224262-19aa6000-c356-11e8-804b-81f26ea80f12.png)

(note: this is a screenshot, so clicking this button will not work :+1: )

[2018-09-28 17:59] richelbilderbeek commented on #94
Unsure if this is done. Will unassign and more to 'To do'.

[2018-09-28 18:04] #130 closed

[2018-09-28 18:07] Joshua260403 opened #134 "Moving tile can collide"
Tiles shouldn't move trough other tiles

[2018-09-28 18:35] mohammadmatr commented on #5
mohammadmatr

[2018-09-28 18:39] mohammadmatr commented on #6
Done

[2018-09-28 19:58] richelbilderbeek commented on #6
Well done @chezclaire!

[2018-09-28 19:59] Joshua260403 opened #136 "OClint is complaining"
[code]
[See travis](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/434772575)

[2018-09-28 19:59] #132 closed

[2018-09-28 19:59] #5 closed

[2018-09-28 20:02] same-drenth commented on #96
I agree with that there should be multiple songs in the game. Possibly selectable or for different levels.
We also need a simple menu tune when the menu screen is made.

[2018-09-29 15:59] #136 closed

[2018-10-03 21:03] same-drenth commented on #47
(DJOG ->) Jog Studio or Jog Games or Jog Inc. or something along those lines

[Wiki](https://en.wikipedia.org/wiki/List_of_video_game_developers) for reference

[2018-10-04 05:07] richelbilderbeek opened #138 "Before October 11th 7:00: Vote team name"
Time to vote for a team name!

Just copy this thing and keep the Yes/No. You can vote as much `Yes`es as you'd like. In case of a draw, we'll vote again between the number-one competitors only.

[code]

Deadline: October 11th 7:00: Vote team name

[2018-10-04 05:08] richelbilderbeek commented on #47
Collected the suggestions, opened a vote at #138. Closing this one.

[2018-10-04 05:08] #47 closed

[2018-10-04 05:14] richelbilderbeek commented on #6
All team members have a branch. Go team! Closing the Issue.

[2018-10-04 05:14] #6 closed

[2018-10-04 05:49] Joshua260403 commented on #138
Name | Vote
---|---
Apex devs | Y
Didiem | N
Jog Studio | Y
Jog Games | N
Jog Inc | N
Octane | Y
The just a little bit older developers | Y

[2018-10-04 12:38] same-drenth commented on #138
Name | Vote
-- | --
Apex devs | N
Didiem | N
Jog Studio | Y
Jog Games | N
Jog Inc | N
Octane | Y
The just a little bit older developers | N

[2018-10-04 13:43] richelbilderbeek commented on #134
Personally I am unsure about this. Pieces of cloth can be shoved over one another...

[2018-10-04 15:09] Joshua260403 opened #139 "Ill again"
I am sick, again.

Won't be there today (thursday).
Unsure about friday (and saturday zpannend zernike).

[2018-10-04 17:51] martje127 commented on #125
the tiles move good

[2018-10-04 17:51] #125 closed

[2018-10-04 18:40] Joshua260403 commented on #134
Should we vote?

[2018-10-04 19:05] Rijk-van-Putten opened #140 "Visualize cow"
[**edit by @richelbilderbeek: be more descriptive**]

 * Merge branch `rijk` with your topic branch
 * There is a `cow.png` somewhere loaded
 * Visualize that image

This Issue is a first step in #93 ('Visualize agent's).

Upon completion. let this Issue be tested by the testers.

[2018-10-05 09:09] Joshua260403 commented on #83
I think you meant this

[2018-10-05 09:09] #83 closed

[2018-10-05 09:12] Joshua260403 commented on #140
This is a duplicate issue (#93).
Also there was no issue saying add a cow, so you should add that and assign yourself first.
Lastly, you are assigned to #37 "add menu screen", you should finish that first.

[2018-10-05 09:14] Joshua260403 commented on #93
@EllyJet do want to do this issue, and did she unassign because she is not actively working on it? Or did you unassign because you want to do something else?

[2018-10-05 10:07] Joshua260403 commented on #94
There is a zero in the top right of the screen, is this issue done?

[2018-10-05 10:27] Joshua260403 commented on #139
Will probably be there tonight, still coughing a lot though...

[2018-10-05 10:31] annehinrichs22 commented on #138
Name | Vote
---|---
Apex devs | N
Didiem | N
Jog Studio | Y
Jog Games | Y
Jog Inc | N
Octane | Y
The just a little bit older developers | N

[2018-10-05 10:41] annehinrichs22 opened #142 "Game doesn't run at my system."
# Issue:
- OS: Windows 10
- Version: Every version
- SFML Version: 2.5.0

### Issue Description
When I try to build the app it does it just fine without any errors but when I try to run it it always crashes. It just says it crashed, nothing more, so no error messages or anything.

I tried reïnstalling SFML and using different versions of the project.

### How to reproduce:
I don't know how to repr

[2018-10-05 13:33] richelbilderbeek commented on #139
Awesome! You you tonight then. We'll both be coughing :+1:

[2018-10-05 13:33] richelbilderbeek commented on #94
Indeed, thanks to @martje127. Sloppy me, should have paid better attention to the process...

[2018-10-05 13:33] #94 closed

[2018-10-05 13:35] richelbilderbeek commented on #140
Thanks @Joshua260403 for correcting me. It was me who was sloppy (and ill yesterday).

[2018-10-05 13:41] richelbilderbeek opened #143 "rename 'int game::old_id' to 'static int game::sm_old_id'"
**Is your feature request related to a problem? Please describe.**

There is a non-static variable in the `game` class called `old_id` deviating from the current coding style.

**Describe the solution you'd like**

 * Rename that variable to `sm_old_id'`
 * Make that variable `static`

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-10-05 13:45] richelbilderbeek opened #144 "Correct 'sfml_game' member variable names, visibility and case"
**Is your feature request related to a problem? Please describe.**

`sfml_game` follows the common style of prefixing a member variable with `m_`.

[code]

Some newly added variables deviate from this practice.

**Describe the solution you'd like**

 * Prefix all `sfml_game` member variables with `m_`
 * Also, put these in the private section
 * Also, use `snake_case` (instead of CamelCase)

**Des

[2018-10-05 13:46] richelbilderbeek commented on #93
The first agent will be a cow, see #140. Do that one first.

[2018-10-05 13:49] richelbilderbeek commented on #140
Checko

[2018-10-05 13:51] richelbilderbeek commented on #134
Looks like you take the initiative. I suggest we take a look at what awesomeness you come up with :+1:

[2018-10-05 13:55] richelbilderbeek commented on #96
I assume this Issue can be closed, as I think @same-drenth agrees with the music enough for now :grin:

[2018-10-05 13:55] #96 closed

[2018-10-05 13:56] richelbilderbeek commented on #117
@same-drenth: I assign you to this for tonight. Looking forward to your handiwork!

[2018-10-05 13:57] richelbilderbeek commented on #140
I assign @mohammadmatr to this Issue for tonight. Good luck!

[2018-10-05 13:58] richelbilderbeek commented on #143
I assign @chezclaire to this Issue as I think she'd like to tidy things up. When done and having enjoyed this, she may assign #144 to herself as well.

[2018-10-05 13:59] richelbilderbeek commented on #33
I assign @annehinrichs22 to this Issue for tonight. Let's see what you can come up with!

[2018-10-05 14:06] Joshua260403 commented on #144
Explanation of snake_case: write_the_name_of_the_variable_in_only_lower_case_letters_and_use_an_underscore_for_spaces

[2018-10-05 14:06] Joshua260403 commented on #144
I think this is a good one for juniors

[2018-10-05 14:13] Joshua260403 opened #145 "Tile movement physics"
As of right now the tiles can't move through or over each other.
This can be changed so the tiles can overlap one another.

[2018-10-05 14:51] Joshua260403 commented on #92
Did @Rijk-van-Putten do this?

[2018-10-05 15:03] Joshua260403 commented on #142
I will help you with it tonight

[2018-10-05 16:44] Joshua260403 opened #147 "Birthday"
Next friday (12th of october) is my dad's birthday and we are going to have dinner at the renewed shufu, which means i won't be able to come.

[2018-10-05 18:41] Joshua260403 commented on #144
not closed correctly

[2018-10-05 19:40] Joshua260403 opened #149 "Tiles must finish movement when selecting another"
When you deselect a tile while it's still moving it stops halfway!

[2018-10-05 19:58] Joshua260403 commented on #144
Functions `vectortoint` and `getTileById` still CamelCase

[2018-10-07 16:16] richelbilderbeek commented on #4
AFAICS everybody can run the game. Go team!

[2018-10-07 16:16] #4 closed

[2018-10-07 17:01] #144 closed

[2018-10-07 18:30] richelbilderbeek commented on #147
Noted. Enjoy the evening!

[2018-10-07 18:30] #147 closed

[2018-10-07 18:33] richelbilderbeek commented on #92
@Joshua260403: if you ever interested in who-did-what questions, click 'Blame' (some -like me- think it should be called 'Praise'):

![2018-10-07-203123_1920x1056_scrot](https://user-images.githubusercontent.com/2098230/46585350-2292e400-ca70-11e8-9092-3268fbb8993f.png)

There you can see who did what. Enjoy!

[2018-10-07 18:34] richelbilderbeek commented on #143
Question from @Joshua260403:

Answer: Google first, then ask me :+1:

[2018-10-07 18:37] richelbilderbeek commented on #145
I suggest to first get something moving on the tiles: when there is some game actions, the most fun tile physics will follow. For now, you are in charge to implement this in the way you think is best :+1:

[2018-10-07 18:41] richelbilderbeek opened #150 "Add ellyjet to README"
**Is your feature request related to a problem? Please describe.**

README.md shows most branches and their status. `ellyjet` is missing.

**Describe the solution you'd like**

Add a line for `ellyjet`

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-10-07 18:42] richelbilderbeek opened #151 "Add 'moh' to README.md"
**Is your feature request related to a problem? Please describe.**

README.md shows most branches and their status. `moh` is missing.

**Describe the solution you'd like**

Add a line for `moh`

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-10-09 18:08] Joshua260403 commented on #149
How odd, right now when activating the bug and reselecting the tile, the tile continues its movement, deselecting works as pausing now

[2018-10-09 18:57] Joshua260403 commented on #149
gg i did it, and it remembers your clicks during movements

[2018-10-11 14:16] richelbilderbeek commented on #138
Hmmm, a draw between 'Jog Studio' and 'Octane'. I flip a coin to see what happens.

 * heads: 'Jog Studio'
 * tail: 'Octane'

[2018-10-11 14:17] richelbilderbeek commented on #138
Tails.

Therefore, out name is now officially named 'Octane'!

Congratulations!

[2018-10-11 14:17] #138 closed

[2018-10-11 14:20] richelbilderbeek commented on #140
I assign @Rijk-van-Putten to (try to) finish this. Good luck!

[2018-10-11 14:21] richelbilderbeek commented on #35
I understood @annabelliard wanted to continue working on this. Go ahead and good luck tonight :+1:

[2018-10-11 17:01] Joshua260403 commented on #145
Suggest how the tiles will react when you try to move it onto another tile (e.g. try to go one further, or make it move as far as it has to move

[2018-10-11 17:07] Joshua260403 opened #153 "Sync camera movement with tile movement"
As they are right now the controls are a bit all over the keyboard, this can be done better.

My suggestion:
- When no tile is selected, use WASD to move the camera normally
- When a tile is selected, make it so the camera moves with the selected tile (preferably in the center of the screen)

[2018-10-11 17:46] martje127 commented on #149
its al good

[2018-10-11 17:46] martje127 commented on #149
its al good

[2018-10-11 17:47] martje127 commented on #149
sorry

[2018-10-11 17:47] #149 closed

[2018-10-11 17:49] martje127 commented on #134
The tiles do not go through each other it works amazingly

[2018-10-11 17:49] #134 closed

[2018-10-11 18:19] RafayelGardishyan opened #155 "Rafayel Absent"
Hi

I'm absent this week because of my thater group (I'm absent every 2 weeke but sometimes niet)

[2018-10-11 18:50] Joshua260403 opened #157 "Give the cow some behaviour"
The current cow is a bit like a statue, it needs a bit of exercise.

Solution: Make the cow move

[2018-10-11 18:54] Joshua260403 commented on #157
Whoops duplicate issue

[2018-10-11 18:54] #157 closed

[2018-10-11 18:54] Joshua260403 commented on #145
I will start on the best solution next thursday!

[2018-10-11 19:34] richelbilderbeek commented on #155
Okidokey! Hopefully until next week :+1:

[2018-10-11 19:34] #155 closed

[2018-10-11 19:36] richelbilderbeek opened #159 "Game state: proper style and type"
**Is your feature request related to a problem? Please describe.**

At the moment, the game's state is defined an old `enum` in CamelCase:

[code]

**Describe the solution you'd like**

I would like this to be:

 * an `enum class`
 * with lowercase name
 * with lower case values
 * in a separate unit with filename `game_state.h` and `game_state.cpp`

The rest of the code must also be fixed, e.g. `

[2018-10-11 19:43] richelbilderbeek opened #160 "sfml_game's space pressed member variable"
**Is your feature request related to a problem? Please describe.**

Currently there is:

[code]

**Describe the solution you'd like**

I would like:

 * the member variable name to be `m_is_space_pressed`
 * the member variable must be `private`

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-10-11 19:44] richelbilderbeek opened #161 "sfml_game::m_selected must be private"
**Is your feature request related to a problem? Please describe.**

`sfml_game::m_selected` is a public member variable.

**Describe the solution you'd like**

`sfml_game::m_selected` must become a private member variable.

If needed, add a member function called `get_selected`.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-10-11 19:51] richelbilderbeek opened #162 "Do not use blobs to save"
**Is your feature request related to a problem? Please describe.**

Blobs, `std::memcpy`, pointers-to-pointers are a bad idea. Sure, in C they have their place. In C++ there are safer alternatives.

**Describe the solution you'd like**

Saving and loading something can be done with `operator<<` ('stream out operator') and `operator>>` (stream in operator). Please use that.

Google for `C++ File IO

[2018-10-11 20:11] richelbilderbeek commented on #95
As described in #162, it is a bad idea to save this as a blob.

[2018-10-11 21:03] annehinrichs22 opened #164 "Absent again... But also a cool link again!!!"
This time I'm going to the TU Eindhoven for their open day, it's going to be a very long train ride again so I won't be back in time to join you.

***Cool link:*** _http://www.informaticaolympiade.nl/_
It's a contest in which you solve programming puzzles, you can get a real certificate and you can win prizes. You can do this from home.
(If you're incredibly good you can even go to Japan for the i

[2018-10-12 09:54] richelbilderbeek commented on #164
Noted! Good luck from team Octane!

[2018-10-12 09:54] #164 closed

[2018-10-12 09:57] richelbilderbeek opened #165 "agent must contain an agent's logic only"
**Is your feature request related to a problem? Please describe.**

An `agent` must contain an agent's logic only. Adding `Sprite` and `Texture` mismatches that.

**Describe the solution you'd like**

 * Remove the `Sprite` and `Texture` member variables from `agent`
 * Use `sfml_resources` to get the sprites and textures need when drawing (and only then!) the agent. [**edit: this is already done*

[2018-10-12 09:59] richelbilderbeek opened #166 "SF.7: Don't write using namespace at global scope in a header file"
**Is your feature request related to a problem? Please describe.**

[SF.7: Don't write using namespace at global scope in a header file](https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#Rs-using-directive)

**Describe the solution you'd like**

 * Remove all places of `using namespace` in header files
 * Make the code compile again

**Describe alternatives you've consid

[2018-10-12 10:10] richelbilderbeek commented on #140
Thanks I will take over this Issue, as a resource maneger class is needed. Thanks @Rijk-van-Putten for your work :+1:

[2018-10-12 10:38] richelbilderbeek commented on #140
Done!

[2018-10-12 10:38] #140 closed

[2018-10-12 10:50] richelbilderbeek commented on #93
Will close this Issue, as there are cows visible.

[2018-10-12 10:50] #93 closed

[2018-10-12 10:52] richelbilderbeek opened #167 "Visualize cows properly"
**Is your feature request related to a problem? Please describe.**

At the moment, the agents are displayed:

![2018-10-12-123732_802x630_scrot](https://user-images.githubusercontent.com/2098230/46865347-86752e00-ce1d-11e8-97d1-9ae15aabf96f.png)

**Describe the solution you'd like**

I would like:

 * The cows to be drawn centered on their coordinats (now the top-left of the cow picture matches th

[2018-10-12 11:28] richelbilderbeek commented on #92
Oops, did so myself.

[2018-10-12 11:28] #92 closed

[2018-10-12 11:29] richelbilderbeek commented on #153
As far as I understood, @martje127 tried to break the code, but couldn't. I guess he forgot to close this Issue? I will do so for him.

[2018-10-12 11:29] #153 closed

[2018-10-12 12:41] richelbilderbeek commented on #145
My suggestion (nope, I am not the boss in this case):

Tiles can move over an other. The more surface they share, the slower they move, as there is more friction. The selected tile is always at the top. When a moving tile hits an animal, the animal is transferred to the moving tile. This may kill the animal, e.g. when a fish on an ocean tile gets transferred to a grassland tile.

[2018-10-12 13:41] richelbilderbeek opened #168 "Add and visualize grass agent"
**Is your feature request related to a problem? Please describe.**

There is already an `agent_type::grass`.

**Describe the solution you'd like**

 * the grass should be added to a tile of type `grassland` or other grassy types
 * the grass should be visualized

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-10-12 13:43] richelbilderbeek opened #169 "Add and visualize a fish"
**Is your feature request related to a problem? Please describe.**

There is grass and a cow.

**Describe the solution you'd like**

 * Add an `agent_type` named `fish`
 * Only tiles of type `ocean` should contain fish
 * Visualize the fish

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-10-12 17:45] richelbilderbeek opened #171 "Rename 'about_screen' to 'sfml_about_screen'"
**Is your feature request related to a problem? Please describe.**

The about screen that uses SFML is called `about_screen`.

**Describe the solution you'd like**

To indicate that the screen uses SFML

 * rename the class to  `about_screen`.
 * rename the files to  `sfml_about_screen.h` and `sfml_about_screen.h`

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-10-12 17:52] richelbilderbeek opened #172 "'int sfml_game::vectortoint(std::vector<int>)' must be a free function"
**Is your feature request related to a problem? Please describe.**

There exists a member function called `int sfml_game::vectortoint(std::vector<int>)`that does not use `sfml_game` at all. Therefore it can and should be a free function.

**Describe the solution you'd like**

Make `vectortoint` to free function.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-10-12 17:55] same-drenth commented on #145
I got a great idea. How about, if two tiles overlap, they form a new tile together only on the overlapping part. this new tile is formed from the overlapping tiles.  For example, ocean and grassland becomes a swamp; Mountains and arctic becomes arctic mountains; Grasslands and mountains becomes hills land(Netherlands); Savanna and dessert becomes ???.

[2018-10-12 18:26] richelbilderbeek opened #173 "Fix signedness"
**Is your feature request related to a problem? Please describe.**

A lot of warnings about signedness.

**Describe the solution you'd like**

Use `static_cast`

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-10-12 20:04] #173 closed

[2018-10-18 14:33] richelbilderbeek commented on #167
I think @Rijk-van-Putten would like to do this :+1:

[2018-10-18 14:41] richelbilderbeek opened #175 "Increase code coverage for STL/non-SFML classes"
**Is your feature request related to a problem? Please describe.**

Only code that actually has a purpose must be kept. Remove unused code.

This is an ongoing Issue.

**Describe the solution you'd like**

 * You can see the code coverage [here](https://codecov.io/github/richelbilderbeek/djog_unos_2018)
 * For STL/non-SFML classes, either remove unused code or add tests to increase code coverage.

[2018-10-18 14:44] richelbilderbeek commented on #150
Sorry I was unclear: I'd like to keep the branches sorted alphabetically after `master` and `develop`. Please put `ellyjet` between `anne` and `joshua`.

Sure it's easy, but it will help getting some git exercise :+1:

[2018-10-18 14:54] richelbilderbeek opened #176 "tile must have a z"
**Is your feature request related to a problem? Please describe.**

There are ideas about tiles passing over one another. To do so, we'll need to store what Z-order the tiles have. The Z-order is part of the game logic: a higher Z-order denotes a tile that is higher.

**Describe the solution you'd like**

 * Add a variable `double tile::m_z`
 * Add a member function `double tile::get_z()`
 * Add a

[2018-10-18 17:15] #171 closed

[2018-10-18 17:15] #161 closed

[2018-10-18 18:16] Joshua260403 commented on #145
I like sames idea, so that's going to be it

[2018-10-19 17:02] jorn600 commented on #167
@Rijk-van-Putten It would be a good idea to use the origin function to set the center origins. for example: cow.setOrigin(10, 20);

Making the cows smaller could be done by using the scale function. like here: cow.scale(0.5f, 0.5f);

[2018-10-19 17:38] Joshua260403 opened #177 "Reset new_id when the game starts"
The "new_id" function makes sure every tile gets an id. But when the game is reset, "new_id" doesn't reset. This makes it so when the game starts again, the tiles get an id higher than 1, and this can cause issues with the for loops or further features.

Make sure the new_id function reset when the gamestate "playing" is loaded.

[2018-10-19 17:40] same-drenth opened #178 "Absent"
I wouldn't be coming this evening. I wil instead be doing some work from home.

[2018-10-19 17:45] richelbilderbeek opened #179 "agents must be members of `game`"
**Is your feature request related to a problem? Please describe.**

Currently, the agents are member variables of `tile`. This was the natural thing to do, up until tiles could overlap.

**Describe the solution you'd like**

 * Move `std::vector<agent> tile::m_agents` to be `std::vector<agent> game::m_agents`
 * The coordinats of an `agent` *were* the relative positions on the tile, this will beco

[2018-10-19 18:28] EllyJet commented on #150
Done

[2018-10-19 18:28] #150 closed

[2018-10-19 19:16] annehinrichs22 commented on #172
Done.

[2018-10-19 19:16] #172 closed

[2018-10-19 19:55] EllyJet commented on #159
Done

[2018-10-19 19:55] #159 closed

[2018-10-25 13:08] richelbilderbeek commented on #178
Noted.

[2018-10-25 13:08] #178 closed

[2018-10-25 14:22] richelbilderbeek commented on #51
Nah, it's fine as it is...

[2018-10-25 14:22] #51 closed

[2018-10-25 19:15] richelbilderbeek opened #180 "Add and visualize crocodile"
**Is your feature request related to a problem? Please describe.**

We need an animal to eat the cow.

**Describe the solution you'd like**

 * Add a new `agent_type` called `crocodile`
 * Visualize it
 * A crocodile does not eat fish

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-10-25 20:15] Joshua260403 commented on #32
Goal | Vote
---|---
Keep the zen (without game over) | N
Keep the zen (with game over) | Y
Multiple modes | Y
Richel's idea | N

[2018-10-26 18:30] richelbilderbeek commented on #32
Not much effect, but ...

Goal | Vote
---|---
Keep the zen (without game over) | Y
Keep the zen (with game over) | Y
Multiple modes (levels and endless) | Y
Richel's idea | Y

[2018-10-26 18:38] richelbilderbeek opened #181 "Separate screens"
**Is your feature request related to a problem? Please describe.**

At the moment, the title, about and menu screen are shown in `sfml_game`. This makes `sfml_game` needlessly complex.

**Describe the solution you'd like**

Split the code in multiple files:

 * `sfml_about_screen`
 * `sfml_menu_screen`
 * `sfml_title_screen`

How these close is up to you.

**Describe alternatives you've considered

[2018-11-01 09:29] RafayelGardishyan opened #183 "Rafayel"
Absent

[2018-11-01 09:47] richelbilderbeek commented on #183
OK, enjoy your Friday :+1:

[2018-11-01 09:47] #183 closed

[2018-11-01 19:53] martje127 commented on #36
there is a title screen

[2018-11-01 19:53] #36 closed

[2018-11-01 19:56] martje127 opened #184 "Make sfml_menu_screen prettier"
I don't like the shape of the **[edit:] menu** screen. Can it become a bit prettier?

[2018-11-02 15:29] annehinrichs22 opened #185 "Anne is absent this friday."
I will be absent because I have to learn for my tests.

[2018-11-02 18:52] JornPrengerFormeel commented on #184
What do you mean? What shape should the title screen become? Prettier is also pretty subjective, maybe you could elaborate a bit.

[2018-11-02 20:19] Joshua260403 commented on #145
Need a function to delete a tile to continue

[2018-11-02 20:37] EllyJet commented on #165
Done

[2018-11-02 20:37] #165 closed

[2018-11-02 21:02] EllyJet commented on #176
Done

[2018-11-02 21:02] #176 closed

[2018-11-02 22:41] JornPrengerFormeel commented on #184
I discussed this with Mart and he told me some of the things he meant:
-Change text from "Title Screen" to "Nature Zen".
-Change font and possibly add an image containing the words "Nature zen" and add images related to the subject of the game.

[2018-11-03 10:53] richelbilderbeek commented on #184
Blimey, IRL communication :grin:  :+1:

[2018-11-03 11:06] richelbilderbeek commented on #145
Yup, I'll step in shortly, make things a bit clearer, then re-assign you :+1:

[2018-11-03 11:07] richelbilderbeek commented on #84
Sure I will help, the AppVeyor is there already!

[2018-11-03 11:08] richelbilderbeek commented on #185
Noted! See you next week :+1:

[2018-11-03 11:08] #185 closed

[2018-11-05 13:14] #166 closed

[2018-11-06 14:14] richelbilderbeek commented on #180
Adding a new tile type is a separate Issue. If you think adding a swamp tile is important, go ahead and create it.

[2018-11-07 16:39] richelbilderbeek commented on #32
Voting's over! I use my power to pick the simplest, thus most realistic, one:

[code]

So, goal of the game, is to keep the Zen, with Game Over.

[2018-11-07 16:41] #32 closed

[2018-11-07 16:42] richelbilderbeek commented on #30
I feel this Issue is getting old. I just close it.

[2018-11-07 16:42] #30 closed

[2018-11-07 16:55] richelbilderbeek commented on #143
This Issue was getting old. I've fixed it.

[2018-11-07 16:56] #143 closed

[2018-11-07 17:45] richelbilderbeek opened #187 "Improve 'get_merge_type'"
The function `get_merge_type` calculates a mixed tile type, from two tile types.
For example, `grassland` and `desert` becomes `savannah`.

The function is set up in a too unscalable way: using if statements.
More scalable is using a two-dimensional look-up-table, e.g.:

.        |desert  |grassland
---------|--------|---------
desert   |?       |**savannah**
grassland|savannah|?

Create such a tw

[2018-11-07 17:57] richelbilderbeek opened #188 "Create 'get_all_tile_types' function"
**Is your feature request related to a problem? Please describe.**

It is usefull to have a `get_all_` function for all `tile_type`s,
for example, in debugging.

**Describe the solution you'd like**

Create this function declaration in `tile_type.h`:

[code]

Create the function definition in `tile_type.cpp`.
The std::vector should contain all tile types.

**Describe alternatives you've considered

[2018-11-07 18:54] richelbilderbeek commented on #145
I've let the tiles merge in [this commit](e8e0d77bf03421d5f78dcee98052dca9ea63329a).

I think you can take over again now :+1:

[2018-11-08 15:11] richelbilderbeek opened #189 "Sort names in README.md"
**Is your feature request related to a problem? Please describe.**

in README.md, the topic branches are not sorted alphabetically.

**Describe the solution you'd like**

 * Sort the topic branches alphabetically
 * `master` and `develop` must remain the upper two rows

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-11-08 15:30] richelbilderbeek opened #190 "Add isis to Team"
**Is your feature request related to a problem? Please describe.**

Isis is part of our team. She is absent at [team.md](https://github.com/richelbilderbeek/djog_unos_2018/blob/master/doc/team.md) however.

**Describe the solution you'd like**

Add Isis to [team.md](https://github.com/richelbilderbeek/djog_unos_2018/blob/master/doc/team.md).

**Describe alternatives you've considered**

None.

**A

[2018-11-08 15:33] richelbilderbeek opened #191 "Add two agents per tile"
**Is your feature request related to a problem? Please describe.**

At the moment, one agent is created per tile. I want two.

**Describe the solution you'd like**

At the creation of the tiles (function is called `create_default_tiles`) add two agents per tile. Pick two that would fit the tile type. They can both be at the center for now.

**Describe alternatives you've considered**

None.

**Add

[2018-11-08 15:37] richelbilderbeek opened #192 "Add Game Over screen"
**Is your feature request related to a problem? Please describe.**

Goal of the game is to accumulate Zen (whatever that is) up until a Game Over. Currently, there is no Game Over screen.

**Describe the solution you'd like**

 * Create a class `sfml_game_over_screen`
 * It can be called with:

[code]

 * It can be closed by pressing space

**Describe alternatives you've considered**

None.

**Add

[2018-11-08 15:39] richelbilderbeek commented on #184
Note, it must be called as such:

[code]

Create a class called `sfml_menu_screen` and put it in `sfml_menu_screen.h` and `sfml_menu_screen.cpp`.

It must be closable by pressing space.

[2018-11-08 15:39] richelbilderbeek commented on #35
Note, it must be called as such:

[code]

Create a class called `sfml_menu_screen` and put it in `sfml_menu_screen.h` and `sfml_menu_screen.cpp`.

It must be closable by pressing space.

[2018-11-08 15:40] richelbilderbeek commented on #37
Note, it must be called as such:

[code]

Create a class called `sfml_title_screen` and put it in `sfml_title_screen.h` and `sfml_title_screen.cpp`.

It must be closable by pressing space.

[2018-11-08 16:53] Joshua260403 commented on #37
Why does it, when it's called like that it opens a completely new window.

Op do 8 nov. 2018 16:40 schreef Richel Bilderbeek <notifications@github.com:

[2018-11-08 18:35] JornPrengerFormeel opened #193 "Add swamp tile"
**Is your feature request related to a problem? Please describe.**
The problem is there not being a tile for the crocodile agent to stay on.

**Describe the solution you'd like**
Adding a swamp tile.

**Describe alternatives you've considered**
Visualizing the crocodile on other tiles, but these are not the animals normal habitats.

[2018-11-08 19:34] Joshua260403 opened #194 "Simplified tile coordinates"
As of right now the tile coordinates start at -15 and go in steps of 115.

### Solution ###
Make the tile multiply the coordinate by 115 automatically

[2018-11-08 19:54] martje127 opened #195 "Bug: tile collision makes too many tiles disappear"
*Problem*
When merging tiles it creates none tiles.
*Reproduce bug*
If you set the tiles like this
![2018-11-08-204928_802x630_scrot](https://user-images.githubusercontent.com/29956775/48223935-aa824b80-e398-11e8-8809-7ff06a145a26.png)
and collide the middle grassland with the left grassland, then get you this
![2018-11-08-205024_802x630_scrot](https://user-images.githubusercontent.com/29956775/48

[2018-11-08 20:54] richelbilderbeek commented on #195
Excellent report! Will ask someone of the Friday team to fix it :+1:

[2018-11-08 21:57] richelbilderbeek commented on #195
After a refactoring by @Joshua260403 (tiles are now 1x2 distance units), I see the current error is due to the selected tile being deleted. Then its tile ID is absent. @Joshua260403: want to fix this?

[2018-11-09 14:52] Joshua260403 commented on #195
Should be easy

Op do 8 nov. 2018 22:57 schreef Richel Bilderbeek <notifications@github.com:

[2018-11-09 16:37] Joshua260403 commented on #195
this is more difficult than i expected it to be, when outputting the id from getTileById, it returns 51 52 51 52 51 52 and so on

[2018-11-09 18:37] robkruger commented on #5
robkruger

[2018-11-09 19:52] same-drenth opened #196 "Make the screen maximized"
Make the game start in fullscreen and make sure that the proportions stay the same as well as keep the hitboxes on the tiles normal.
MAY NEED ASSISTANCE.

[2018-11-09 19:54] JornPrengerFormeel opened #197 "Test conversion from tile_type to std::string and back"
Thanks @richelbilderbeek for writing this :+1:

**Is your feature request related to a problem? Please describe.**

Currently, `tile_type` can get converted to `std::string` wiith `to_str`, and there is a function that goes the other way around. It is not yet tested if this works

**Describe the solution you'd like**

Using `get_all_tile_types`, iterate over all `tile_type`s. For each `tile_type`,

[2018-11-09 21:03] JornPrengerFormeel commented on #197
Fixed dude

![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png)

[2018-11-10 07:42] richelbilderbeek opened #198 "Game should visualize agents based on their agent_type"
Currently, agents are visualized based on the tile they are on: an agent on a grassland is a cow. This is incorrect: a cow may also move to other tiles types, e.g. savannah.

Base the visualization of an agent on its agent type.

[2018-11-10 07:45] richelbilderbeek commented on #198
@Joshua260403: I think you'll like this one, so I assigned you :+1:

[2018-11-10 13:56] richelbilderbeek commented on #117
@same-drenth: yesterday you told this Issue has been obsoleted. Will close it. Re-open if needed.

[2018-11-10 13:56] #117 closed

[2018-11-10 13:58] richelbilderbeek commented on #188
@JornPrengerFormeel: didn't you finish this yesterday? If yes, please close this Issue :+1:

[2018-11-10 14:02] richelbilderbeek commented on #177
I enjoy the thought put in this Issue, but I will close it nevertheless :rainbow:

The reason is that an ID is now coded as an integer. These have 2 billion positive values. As long as we don't create 2 billion tiles in the run of a game, there will be no problem. I predict this will never happen. If I am wrong, I will re-open this Issue :+1:

[2018-11-10 14:02] #177 closed

[2018-11-10 16:34] JornPrengerFormeel commented on #196
The window doesn't open in the middle of the screen and you can't easily close it so I would suggest to move this to In progress

[2018-11-10 16:58] richelbilderbeek commented on #196
Well spotted! But the Issue has been solved. Go ahead and make another Issue: 'Escape must close the game'

[2018-11-10 17:18] richelbilderbeek commented on #188
I close this Issue, as the Issue is completed.

[2018-11-10 17:22] richelbilderbeek opened #199 "Conversion from tile_type to std::string to tile_type fails"
**Describe the bug**

This test fails:

[code]

This code tests if conversion from `tile_type` to std::string to tile_type again results in the same `tile_type`. For example, `tile_type::grassland` should convert to `grassland` and that should convert to `tile_type::grassland` again.

Bug can be due to a type or maybe not all types are put in `to_str`/`to_tile_type`.

**To Reproduce**

Uncomment t

[2018-11-10 17:30] #194 closed

[2018-11-10 17:43] richelbilderbeek commented on #37
Yup, that is the idea.

  1) seperate the classes
  2) display them in a smooth way

[2018-11-11 06:50] richelbilderbeek opened #200 "Create tile_id class"
**Is your feature request related to a problem? Please describe.**

Currently, a tile ID is coded by an integer.But not all ints are IDs and vice version. It would be better -and a good exercise- to make a `tile_id` class

**Describe the solution you'd like**

 * Create a class called `tile_id`. It stores the ID as an int called `m_id`. `m_id` can be read by `tile_id::get`
 * Change `int get_new_i

[2018-11-11 07:31] richelbilderbeek commented on #95
@RafayelGardishyan, I suggest it's time for you to move on to other cooler stuff! Agree?

If yes, could you merge your work with `develop`?

[2018-11-11 14:28] richelbilderbeek commented on #160
Well spotted! AFAIK @JolienGay and @Tomstuivenga are on this one, I'll assign then officially :rainbow:

[2018-11-11 14:48] Joshua260403 commented on #195
I just don't know anymore

[2018-11-11 15:02] richelbilderbeek commented on #195
I'll have another stab at it :+1:

[2018-11-11 15:03] richelbilderbeek commented on #195
Agreed?

[2018-11-12 09:58] Joshua260403 commented on #195
Yep

Op zo 11 nov. 2018 16:03 schreef Richel Bilderbeek <notifications@github.com
:

[2018-11-15 15:18] richelbilderbeek opened #201 "A fish must move"
**Is your feature request related to a problem? Please describe.**

Fishes are mobile creates. Currently, however, they do not move.

**Describe the solution you'd like**

I want the fish to move randomly.

There is a test for this:

[code]

Uncomment `//#define FIX_ISSUE_201` to start fixing it.

Remove the `#define`, `#ifdef`, `#endif` after fixing it.

**Describe alternatives you've considered*

[2018-11-15 15:21] richelbilderbeek opened #202 "Crocodiles must move"
**Is your feature request related to a problem? Please describe.**

Crocodiles are mobile creates. Currently, however, they do not move.

**Describe the solution you'd like**

I want the crocodiles to move randomly.

There is a test for this:

[code]

Uncomment `//#define FIX_ISSUE_202` to start fixing it.

Remove the `#define`, `#ifdef`, `#endif` after fixing it.

**Describe alternatives you've c

[2018-11-15 15:41] richelbilderbeek opened #204 "Collect all agent_types"
**Is your feature request related to a problem? Please describe.**

Currently, we have some `agent_types`. For testing, it would be handy to have a std::vector with each of the `agent_type`s in it.

**Describe the solution you'd like**

Write the definition of the function `collect_all_agent_types` in `agent_type.cpp`. It is already declared in `agent_type.h`.

There is a test written already:

[c

[2018-11-15 15:48] richelbilderbeek commented on #37
Added a test:

[code]

Uncomment `//#define FIX_ISSUE_37` to start fixing it.

Remove the `#define`, `#ifdef`, `#else` and `#endif` after fixing it. Remove the old code between the `#else` and `#endif`.

[2018-11-15 15:53] richelbilderbeek commented on #184
There is a test written already:

[code]

Uncomment `//#define FIX_ISSUE_184` to start fixing it.

Remove the `#define`, `#ifdef`, `#endif` after fixing it.

[2018-11-15 15:54] richelbilderbeek commented on #35
@annabelliard will be absent. Will unassign in the case someone else wants to do this tonight.

[2018-11-15 19:06] Joshua260403 commented on #196
The window shouldn't be fullscreen, that will make it so we have to use alt+f4 to close the program. Also, the current progression triggers an assert at the start of the program (at least im pretty sure this caused it). Also also the current version doesn't make it fullscreen, it just fills the rest of the screen with blackness. So if you ask me this isn't done.

[2018-11-15 21:06] #198 closed

[2018-11-16 17:13] richelbilderbeek commented on #191
Closing this one now, as `agent`s must become a member of `game`, not of `tile`

[2018-11-16 17:13] #191 closed

[2018-11-16 17:17] richelbilderbeek commented on #196
As both @JornPrengerFormeel  and @Joshua260403 suggest to remove the full-screenness **for now**, I suggest to remove the full-screenness for now. Close this Issue, will make a new one to remove the full-screennesss for now.

[2018-11-16 17:21] richelbilderbeek opened #205 "No full-screen for now"
**Is your feature request related to a problem? Please describe.**

In #196 the screen was set to full-screen, which *is* desired in the end. But some team members argue that this is too much of a drag for now.

**Describe the solution you'd like**

Find the line in which full-screen is set.

[code]

Add `#ifdef`s like this:

[code]

**Describe alternatives you've considered**

We could make it a

[2018-11-16 17:21] #196 closed

[2018-11-16 17:22] richelbilderbeek commented on #205
I think @same-drenth knows best how to do this :+1:

[2018-11-16 17:31] richelbilderbeek commented on #181
Looks good, well done @Rijk-van-Putten!

[2018-11-16 17:37] richelbilderbeek commented on #35
Done! Move to testing,

[2018-11-16 17:42] richelbilderbeek commented on #181
As two of the three screens are done and separated, closing this Issue.

[2018-11-16 17:42] #181 closed

[2018-11-16 17:43] richelbilderbeek commented on #33
Closing this Issue, as I've made seperate 'Agent type X must move' issues.

[2018-11-16 17:43] #33 closed

[2018-11-16 17:49] richelbilderbeek opened #206 "Add title screen"
**Is your feature request related to a problem? Please describe.**

When the game starts, we need a title screen. Something like:

![title](https://user-images.githubusercontent.com/2098230/48638188-2ea78500-e9d0-11e8-8cd4-462a753794bc.png)

**Describe the solution you'd like**

Create a new class `sfml_title_screen`, similar to the `sfml_about_screen`. This test should work:

[code]

Screen must

[2018-11-22 11:51] #35 closed

[2018-11-22 11:51] #37 closed

[2018-11-22 12:07] richelbilderbeek opened #207 "shorten main"
**Is your feature request related to a problem? Please describe.**

Currently, the `main` function starts with this:
[code]

According to OCLint, the function is too long, OCLint is right

**Describe the solution you'd like**

Shorten the `main` function, by making it call short functions.

For example:

[code]

can be replaced by:

[code]

You will have to declare and define those short functions

[2018-11-22 12:12] richelbilderbeek opened #208 "About screen must close by pressing space"
**Is your feature request related to a problem? Please describe.**

Currently, the `sfml_about_screen::exec()` looks like this:

[code]

The `while` loop is indeed empty, which is indeed useless and there is an OCLint tag that has to be there due to this.

**Describe the solution you'd like**

 * pressing space must close the dialog
 * remove the OCLint tag

**Describe alternatives you've consider

[2018-11-22 12:23] richelbilderbeek opened #209 "Shorten sfml_game::display"
**Is your feature request related to a problem? Please describe.**

Currently, the function `sfml_game::display` is too long and due to that an `OCLINT` tag is needed:

[code]

The function has a clear structure:

 * If playing, draw all agents, then move all agents
 * Show the score
 * Respond to user

**Describe the solution you'd like**

Shorten the function by moving code to these new function

[2018-11-22 12:41] richelbilderbeek opened #211 "Rename sfml_game member variable to m_clicked_tile"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_game` has member variable:

[code]

Member variables should start with `m_`.

**Describe the solution you'd like**

Rename the variable to `m_clicked_tile`.

Trick: click it with the right mouse button, click `Refactor | Rename Symbol Under Cursor`.
This renames the member variable name throughout the project.

**

[2018-11-22 12:42] richelbilderbeek opened #212 "Rename sfml_game member variable to m_tile_speed"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_game` has member variable:

[code]

Member variables should start with `m_`.

**Describe the solution you'd like**

Rename the variable to `m_tile_speed`.

Trick: click it with the right mouse button, click `Refactor | Rename Symbol Under Cursor`.
This renames the member variable name throughout the project.

**De

[2018-11-22 12:43] richelbilderbeek opened #213 "Rename sfml_game member variable to m_outline"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_game` has member variable:

[code]

Member variables should start with `m_`.

**Describe the solution you'd like**

Rename the variable to `m_outline`.

Trick: click it with the right mouse button, click `Refactor | Rename Symbol Under Cursor`.
This renames the member variable name throughout the project.

**Descr

[2018-11-22 12:45] richelbilderbeek opened #214 "Remove sfml_game::test_agent_tex"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_game` has member variable:

[code]

It is not used.

**Describe the solution you'd like**

Delete it.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-11-22 12:49] richelbilderbeek opened #215 "Remove sfml_game::aboutScreenText"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_game` has member variable:

[code]

As there is already a class `sfml_about_screen`,
this member variable has become obsolete and must be removed.

**Describe the solution you'd like**

 * Delete it
 * Delete all lines where it is used

**Describe alternatives you've considered**

None.

**Additional context**

No

[2018-11-22 12:53] richelbilderbeek opened #216 "Prefix sfml_camera member variables by m_"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_camera` has member variables:

[code]

Member variables should start with `m_`.

**Describe the solution you'd like**

Put `m_` in front of each member variable.

Trick: click it with the right mouse button, click `Refactor | Rename Symbol Under Cursor`.
This renames the member variable name throughout the project

[2018-11-22 12:54] richelbilderbeek commented on #206
Additionally, remove the member variables from `sfml_game` that were used to show the title screen :grin:

[2018-11-22 13:03] richelbilderbeek commented on #151
Didn't hear anything from @mohammadmatr for a month. Will close this Issue for now, will re-open if he returns again.

[2018-11-22 13:03] #151 closed

[2018-11-22 18:37] martje127 commented on #169
in the dark bleu can I see a fish

[2018-11-22 18:37] #169 closed

[2018-11-22 18:39] martje127 commented on #205
if I start de game there is no full screen

[2018-11-22 18:39] #205 closed

[2018-11-22 18:39] #199 closed

[2018-11-22 18:39] martje127 commented on #193
yes there is a swamp tile

[2018-11-22 18:39] #193 closed

[2018-11-22 18:41] #160 closed

[2018-11-22 18:42] martje127 commented on #167
yes ther is a cow

[2018-11-22 18:42] #167 closed

[2018-11-22 18:44] martje127 commented on #168
there is a gras picture but i think it shold not move like animals

[2018-11-22 18:44] #168 closed

[2018-11-22 18:44] martje127 commented on #180
in the swamp is a crocodile

[2018-11-22 18:44] #180 closed

[2018-11-22 19:31] martje127 commented on #202
crocodiles are alredy moving

[2018-11-22 19:44] martje127 commented on #214
its deletet

[2018-11-22 19:44] #214 closed

[2018-11-22 19:51] martje127 commented on #213
i replace de word

[2018-11-22 19:51] #213 closed

[2018-11-23 14:29] richelbilderbeek opened #217 "OpenSans.ttf cannot be found"
**Is your feature request related to a problem? Please describe.**

Currently, `OpenSans.ttf` is not found by `djog_unos_2018_about`, which makes it crash in debug mode.

**Describe the solution you'd like**

 * Open the `djog_unos_2018_about.pro` project
 * Uncomment the `#define`

[code]

 * Add `OpenSans.ttf` to the resources

If it passes, remove the preprocessor statements.

**Describe altern

[2018-11-23 14:47] richelbilderbeek commented on #91
Test does not pass. Perhaps something went wrong with merging. Will re-open Issue.

[2018-11-23 14:50] richelbilderbeek opened #218 "Add 'collect_all_agents(const game&)'"
Add 'collect_all_agents(const game&)'

**Is your feature request related to a problem? Please describe.**

Currently, there is no easy way to collect all agents.

**Describe the solution you'd like**

Write the function for `std::vector<agent> collect_all_agents(const game& g) noexcept`.

A clear and concise description of what you want to happen.

**Describe alternatives you've considered**

None

[2018-11-23 15:02] richelbilderbeek opened #219 "Simplify game::process_events"
**Is your feature request related to a problem? Please describe.**

Currently, there is an `//!OCLINT` tag in `game::process_events`. This must be temporary.

**Describe the solution you'd like**

The function has three pieces:

  1. merge tiles
  2. process events on tiles
  3. add ticks

[code]

Move the tile merging to another function. Remove the OCLint tag.

**Describe alternatives you've con

[2018-11-23 15:06] richelbilderbeek opened #220 "remove redundant variable in 'get_video_mode'"
**Is your feature request related to a problem? Please describe.**

Currently, `get_video_mode` has a redundant variable. Due to this, there is an OCLint tag.

**Describe the solution you'd like**

Remove the use of a redundant variable. Is very easy!

Also remove the OCLint tag.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-11-23 15:22] richelbilderbeek opened #221 "Add 'get_fill_color'"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_game::color_tile_shape` does too many thing. It has an OCLint flag. `get_fill_color` is a function code can be moved to.

**Describe the solution you'd like**

Add a function `get_fill_color` that returns a `sf::Color` for a `tile_type`.

Fix the tests:

[code]

Remove the preprocessor statements when done.

**Des

[2018-11-23 15:24] richelbilderbeek opened #222 "Add 'get_outline_color'"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_game::color_tile_shape` does too many thing. It has an OCLint flag. `get_outline_color` is a function code can be moved to.

**Describe the solution you'd like**

Add a function `get_outline_color` that returns a `sf::Color` for a `tile_type`.

Fix the tests:

[code]

Remove the preprocessor statements when done.

[2018-11-23 15:31] richelbilderbeek opened #223 "Add 'fauve"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-11-23 15:43] richelbilderbeek commented on #145
I close this Issue, as I feel it is finished. Will add a new one if I feel the need to :rainbow:

[2018-11-23 15:43] #145 closed

[2018-11-23 15:44] richelbilderbeek commented on #216
@Rijk-van-Putten: indeed, that was all there is! Well done :+1:

[2018-11-23 15:50] #195 closed

[2018-11-23 15:54] richelbilderbeek opened #224 "Rename 'bacterie'/'bacteria' to 'bacterium'"
**Is your feature request related to a problem? Please describe.**

The English singular for the domain of bacteria is bacterium. Not the Dutch word, nor the English plural.

**Describe the solution you'd like**

Rename all instances of `bacterie` or `bacteria` to `bacterium`. Also the picture for a bacterium!

There is also a test:

[code]

After fixing it, remove the preprocessor directives.

**

[2018-11-23 16:03] richelbilderbeek commented on #202
Crocodiles are standing still again, so I re-open this Issue.

[2018-11-23 16:10] richelbilderbeek opened #225 "Add 'get_texture' to sfml_resources class"
**Is your feature request related to a problem? Please describe.**

Currently, to get a texture of -say- a cow, one needs to call `sfml_resources::get_cow_texture`. Per `agent_type` there is one member function. This does not scale.

**Describe the solution you'd like**

Create a member function `sfml_resources::get_texture(const agent_type a)` that returns a texture based on the `agent_type`

The

[2018-11-23 16:28] richelbilderbeek opened #226 "Rename to sfml_menu_screen::m_main_text"
**Is your feature request related to a problem? Please describe.**

Nature Zen uses snake_case. All variables should be written as such. Also redundant naming should be avoided.

**Describe the solution you'd like**

Rename `sfml_menu_screen::mainMenuScreenText` to `sfml_menu_screen::m_main_text`

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-11-23 16:31] richelbilderbeek opened #227 "Rename and make member variables private in sfml_about_screen"
**Is your feature request related to a problem? Please describe.**

`sfml_about_screen` has two member variables that are needlessly public and do not follow the `m_snake_case` convention.

**Describe the solution you'd like**

Make the member variables private and write them as `m_snake_case`.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-11-23 16:33] richelbilderbeek opened #228 "Remove sfml_game::show_title member function"
**Is your feature request related to a problem? Please describe.**

Currently, `sfml_game` has a `show_title` member function. This design is obsoleted.

**Describe the solution you'd like**

Remove this member function, including its content. Use yoiur judgement if a test fails due to this: you may be allowed to remove that test.

**Describe alternatives you've considered**

None.

**Additional c

[2018-11-23 16:40] richelbilderbeek opened #229 "Create camera class"
**Is your feature request related to a problem? Please describe.**

`sfml_game` has at least 6 member variables dealing with a camera. This dilutes `sfml_game` needlessly: that camera functionality should be bundled in a class.

**Describe the solution you'd like**

Create a new class called `sfml_camera`. Move all member variables from `sfml_game` that have to do with camera movement in that clas

[2018-11-23 16:43] richelbilderbeek opened #230 "Remove unused sfml_game member variables"
**Is your feature request related to a problem? Please describe.**

In `sfml_game` I find already three unused member variables:

[code]

Unused member variables are only diluting what the code is trying to express.

**Describe the solution you'd like**

Delete these. If you find more, delete those too.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-11-23 19:20] #189 closed

[2018-11-23 20:43] same-drenth commented on #202
done

[2018-11-23 21:13] JolienGay commented on #230
Deleted: Text titleScreenText; Text aboutScreenText but not Font m_font; because it had dependencies.

[2018-11-24 17:45] richelbilderbeek opened #231 "Remove redundant if and unnecessary else statement for agent_type"
**Is your feature request related to a problem? Please describe.**

OCLint correctly detected a redundant if and an unnecessary else statement:

[code]

**Describe the solution you'd like**

Simplify the function in such a way the OCLint tags can be removed.
The function will become a very simple one-liner.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-11-24 17:50] richelbilderbeek opened #232 "Remove redundant if and unnecessary else statement for tile_type"
**Is your feature request related to a problem? Please describe.**

OCLint correctly detected a redundant if and an unnecessary else statement:

[code]

**Describe the solution you'd like**

Simplify the function in such a way the OCLint tags can be removed.
The function will become a very simple one-liner.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-11-24 18:03] richelbilderbeek commented on #232
Removed the function, due to infinite recursion with `to_str`

[2018-11-24 18:03] #232 closed

[2018-11-24 18:04] #209 closed

[2018-11-24 18:18] richelbilderbeek opened #233 "Rename branch to jana"
**Is your feature request related to a problem? Please describe.**

The current README.md shows `jana` as the branch name. The branch -however- is named 'Jana17', which is different then what the others do for branch naming.

**Describe the solution you'd like**

Rename the branch to `jana`.

**Describe alternatives you've considered**

Done.

**Additional context**

Tip: use the GitHub to do so:

[2018-11-24 18:37] richelbilderbeek opened #234 "Simplify sfml_menu_screen::get_bg_color"
**Is your feature request related to a problem? Please describe.**

Currently, there is an OCLint ignore comment at:

[code]

OCLint is right in stating that the function is too long.

**Describe the solution you'd like**

Simplify the function and remove the OCLint ignore comment.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-11-24 18:45] richelbilderbeek opened #235 "Show actual branch name in README"
**Is your feature request related to a problem? Please describe.**

Currently, at the README shows `giorgio` as a branch name. The branch is named `azereuz`.

**Describe the solution you'd like**

Either rename the branch to `giorgio` or mention `azereuz` in the README.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-11-24 19:51] richelbilderbeek commented on #217
Travis confirms this is fixed :+1:

[2018-11-24 19:51] #217 closed

[2018-11-24 19:55] Joshua260403 commented on #230
I believe this can be closed since mart can't test this.

[2018-11-24 19:59] richelbilderbeek commented on #230
Agree, will close!

[2018-11-24 20:02] #225 closed

[2018-11-24 20:38] Joshua260403 commented on #218
Done!

[2018-11-25 10:11] richelbilderbeek commented on #218
Well done :+1:

You can remove the preprocessor directives (those starting with `#`) and close this Issue.

[2018-11-27 13:04] Joshua260403 commented on #229
Shouldn't the camera work?

[2018-11-27 13:11] Joshua260403 commented on #212
Is this done?

[2018-11-27 13:14] Joshua260403 commented on #184
Someone removed my beautiful menu screen, starting over...

[2018-11-27 13:16] richelbilderbeek commented on #229
Hmmm, apparently this broke a couple of merges later. Thanks for re-opening this :+1:

[2018-11-27 13:18] richelbilderbeek commented on #212
@robkruger: Instead of moving an Issue to Done in the Project screen, please close the Issue!

Now @Joshua260403 (and now me) are checking an Issue that has already been done. I will close it now :rainbow:

[2018-11-27 13:18] #212 closed

[2018-11-27 13:19] richelbilderbeek commented on #184
The merge conflicts apparently took over. Tip: it *is* in the history of `develop` and your branch! You can just copy-paste from there :1st_place_medal:

[2018-11-27 13:19] Joshua260403 commented on #184
It happened herehttps://github.com/richelbilderbeek/djog_unos_2018/commit/989e08f0808bf6aa2da5d61c6a7d9291790b5eb2
Be careful what to keep, good thing this wasn't too much work to redo.

[2018-11-27 13:20] richelbilderbeek commented on #184
Can you see who did it? If yes, I/you should attend him/her :grin:

[2018-11-27 13:30] richelbilderbeek commented on #221
Ah, that is why the tiles were white! Well spotted :+1:

[2018-11-27 13:34] Joshua260403 commented on #226
Verified

[2018-11-27 13:34] #226 closed

[2018-11-27 13:34] #220 closed

[2018-11-27 13:46] Joshua260403 opened #236 "either nonetile or none can be removed"
There are two none tiletypes, this is a bit overkill.

Make it so there is only one none type.

[2018-11-27 13:53] Joshua260403 opened #237 "Function 'collect_all_tile_types()' is a duplicate"
In tile_type.cpp theres two functions:
'collect_all_tile_types()' and 'get_all_tile_types()'

One of these can be removed.
Make sure to replace all uses of the removed function!

[2018-11-27 13:56] #236 closed

[2018-11-27 13:59] #237 closed

[2018-11-27 14:03] Joshua260403 opened #238 "Something went wrong in create_default_tiles"
It is a giant mess right now, so i suggest to remake it.

[2018-11-27 14:17] richelbilderbeek commented on #237
Well thought out, but incorrect: one collects all types that exists, the other collects the tile types of the games' tiles.

As you closed this Issue, I assume you found out yourself already :+1:

[2018-11-27 14:22] Joshua260403 commented on #237
They actually both do the same thing:
[code]

[2018-11-27 14:33] Joshua260403 commented on #238
Interesting, this fixed the white tiles. Something going wrong in the merge process i assume...

[2018-11-27 14:43] richelbilderbeek commented on #238
I predict multiple tiles were put in the same place, thus merging at the first frame :rainbow:

Hey, that means the merging works :tada: !

[2018-11-27 14:51] #238 closed

[2018-11-27 14:52] #207 closed

[2018-11-27 15:05] Joshua260403 opened #239 "Program still crashes when merging two tiles"
**To Reproduce**
Steps to reproduce the behavior:
1. Run the code (from a version that has the new tile layout)
2. Click on the grass tile on the right
3. Press 'a'
4. See it crash

**Expected behavior**
I have no idea, but it was caused by 'follow_tile()' before

**Additional context**
The program still crashes when merging certain tiles.

[2018-11-27 15:30] Joshua260403 opened #240 "Make grass smaller"
The grass is currently bigger than the cows.

I would like the grass to be displayed smaller.

You could also change the grass texture, but i think the current one looks pretty neat.

[2018-11-27 18:55] Joshua260403 opened #241 "Create 'tree' agent"
Currently, the woods tiles are pretty empty.

Create a new agent named tree and give it a texture.
When you're done you may add some trees to the forest tile in 'create_default_tiles()'.

[2018-11-27 20:16] #179 closed

[2018-11-27 20:16] Joshua260403 commented on #179
Done

[2018-11-27 20:20] Joshua260403 commented on #179
https://snag.gy/bZkQHu.jpg
hmmm, that ain't right

[2018-11-28 13:41] azereuz commented on #235
Wasn't sure if I had to use my branch name or nickname there, how can I rename the branch name to giorgio?

[2018-11-28 14:17] richelbilderbeek commented on #235
Definitely! Also would make it easier for the others to use your branch. At the top, above the code, there is a 'Branches' tab, where you can rename the branch. Good luck :+1:

[2018-11-28 19:41] Joshua260403 opened #242 "Create button"
**Goal**
Currently, all of the screen just have text, and you have to get to the next screen by pressing space.
There need to be buttons that the user can click on to go to another screen.

**Steps**
1. Create a button class.
2. Give the button some style.
3. Give the button a 'clicked' or 'onclick' function.
4. Add a button to the title screen.

**Alternatives**
Create buttons inside of the scree

[2018-11-28 19:43] Joshua260403 commented on #242
@richelbilderbeek would you agree to a button class?

[2018-11-29 06:08] richelbilderbeek commented on #242
Yes, I agree! It will be a good exercise in class design as well! Go ahead and build it. I suggest to name it `sfml_button`.

Tip: look at std::function to let the button do any )member) function when clicked :+1:

[2018-11-29 19:00] martje127 commented on #206
its beautiful

[2018-11-29 19:00] #206 closed

[2018-11-29 19:01] martje127 commented on #184
its beautiful

[2018-11-29 19:01] #184 closed

[2018-11-29 19:29] martje127 commented on #190
i can see isis in team.md

[2018-11-29 19:29] #190 closed

[2018-11-29 19:30] martje127 commented on #240
the grass is smaller.

[2018-11-29 19:30] #240 closed

[2018-11-29 19:43] #219 closed

[2018-11-30 16:34] richelbilderbeek commented on #211
Does not compile [according to Travis](https://travis-ci.org/richelbilderbeek/djog_unos_2018/builds/461457153#L1720). Please try again :+1:

[2018-11-30 16:42] richelbilderbeek commented on #215
All that needs to be done:

 * merge develop into your branch
 * get it to work
 * if builds OK, then merge your branch into develop
 * if develop breaks, fix develop
 * close this Issue

Pro-tip: juse `fix #215` at the end of your commit message. The Issue will close if the commit reaches `master`.

[2018-11-30 16:43] richelbilderbeek commented on #204
All that needs to be done:

Pro-tip: use `fix #204` at the end of your commit message. This Issue will be closed automatically if the commit reaches `master` :+1:

[2018-11-30 16:45] richelbilderbeek commented on #221
Nah, the tests all pass, so this Issue is done by definition. Closing it now.

@Joshua260403: sure, if this causes bugs, a new Issue can be created. Wanna do so?

[2018-11-30 16:45] #221 closed

[2018-11-30 16:46] richelbilderbeek commented on #222
Tests pass, so Issue is done by definition, so closing this one,

@Joshua260403: if this breaks something else, a new Issue can/should be created. Wanna do so :+1: ?

[2018-11-30 16:46] #222 closed

[2018-11-30 16:55] richelbilderbeek opened #243 "About screen crashes"
**Describe the bug**

When running Nature Zen with `--about` the program crashes

**To Reproduce**

1. Go to the Project Tab (CTRL+5), `Run`  and use `--about` as the command line argument

![2018-11-30-175356_1920x1056_scrot](https://user-images.githubusercontent.com/2098230/49303034-f5d7d780-f4c8-11e8-8dbb-60d0df0870ae.png)

2. Run. Error is show at the bottom of the screen

![2018-11-30-175428_

[2018-11-30 16:58] richelbilderbeek commented on #187
Too complex for now, will more to easier Issue.

[2018-11-30 16:58] #187 closed

[2018-11-30 17:01] richelbilderbeek opened #244 "Add more merge types"
**Is your feature request related to a problem? Please describe.**

The function `get_merge_type` returns the values of two types merging.

This is also tested:

[code]

**Describe the solution you'd like**

 * Add tests for extra merged types.
 * Also add these as tests

**Describe alternatives you've considered**

None.

**Additional context**

Just get it to work. We'll make it smarter later, b

[2018-11-30 17:04] richelbilderbeek commented on #188
Re-open:

please remove the `#define`, `#ifdef` and `#endif`: these are not needed anymore.

[code]

Easypeasy, but it does go with the job. Sure, I did not state this explicitly so shame on me :rainbow:

[2018-11-30 17:05] richelbilderbeek opened #245 "An agent has health"
**Is your feature request related to a problem? Please describe.**

Agents need health.

**Describe the solution you'd like**

 * Health is a floating point value
 * Add a member variable in agent called `m_health`
 * Add a member function `get_health` that returns the health

This tests should pass (already in the code):

[code]

Remove the preprocessor directives when done.

**Describe alternati

[2018-11-30 17:14] richelbilderbeek commented on #85
Reopen, as the preprocessor directives need to be removed. Easy, let's find someone to clean this up :+1:

[2018-11-30 17:15] richelbilderbeek commented on #87
Re-open, as preprocessor statements need to be removed. Easy, but it needs to be done :+1:

[2018-11-30 17:20] richelbilderbeek opened #246 "Make 'tile_contains' a free function"
Depends on:

 * [ ] #522

**Is your feature request related to a problem? Please describe.**

Currenty, `tile_contains` is a member function of `tile`:

[code]

Because a tile already has a `get_x/y/width/height`, we can get all information we need to make this a free function. Do so.

The tests are now:

[code]

You can remove the older tests of Issue 116.

Remove the preprocessor statements when

[2018-11-30 17:25] richelbilderbeek opened #247 "Visualize zen"
**Is your feature request related to a problem? Please describe.**

The current score is dull.

**Describe the solution you'd like**

As @same-drenth how he wants to have it visualized instead. Then do so.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-11-30 19:57] same-drenth opened #249 "Add depth variable"
**Goal**
We need lake.

**Alternatives**
NO.

**Extra info**
none

[2018-11-30 20:53] same-drenth opened #250 "Vote on water tile type"
I have an idea about the water tile type but I want your opinion on the matter.
Do you want to keep it to only ocean?
Or do you want to change it to (what I think could be handy) Ocean and lake?
Or do you want to make it simpler and change it to water?

[2018-11-30 20:55] same-drenth commented on #247
I was thinking about a bar on the top of the screen that has chaos on one side and 'pure zen' on the other side, so the objective is to hold the level in the middle of the bar.

[2018-11-30 21:02] same-drenth commented on #244
Tile types:
grassland
mountains = grass + grass > hills + hills
ocean
savannah = gass + desert
arctic
desert
swamp; ocean + grass > lake + grass
woods

*Lake
*mangrove:
beavers and alligatorrrrs
and snapping turdle, = lake + woods
?landscape
*beach = dessert + lake/ ocean
*hills
*dunes = hills + beach
*

[2018-12-02 17:19] richelbilderbeek commented on #213
You forgot to change all its uses. I've fixed it, as it was on develop. :+1:

[2018-12-02 17:28] richelbilderbeek opened #251 "Doubles end with .0"
**Is your feature request related to a problem? Please describe.**

The agent class has this constructor:

[code]

As a double is a floating point value, it should be

[code]

**Describe the solution you'd like**

Replace the zeroes by `0.0`.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-12-02 17:32] richelbilderbeek commented on #201
Thanks to some merge conflict mishap, the code that solves this Issue is lost somewhere Let's try again :+1:

[2018-12-02 17:32] richelbilderbeek commented on #202
Thanks to some merge conflict mishap, the code that solves this Issue is lost somewhere Let's try again :+1:

[2018-12-02 17:34] richelbilderbeek commented on #233
Well done @Jana17! Try to close the Issue yourself next time :+1:

[2018-12-02 17:34] #233 closed

[2018-12-02 17:47] richelbilderbeek commented on #229
I see nothing wrong :confused:

I assume it is thus fixed :rainbow:

Else I expect a more detailed bug report :+1:

[2018-12-02 17:50] richelbilderbeek commented on #216
This Issue originally was about these member variables in the `sfml_game` class. As these were moved to the `sfml_camera` class (before the work of @Rijk-van-Putten), this needs to be done again.

[2018-12-02 17:56] #85 closed

[2018-12-02 17:56] #87 closed

[2018-12-02 17:56] #224 closed

[2018-12-02 17:58] richelbilderbeek commented on #215
Done :+1:

[2018-12-02 17:58] #215 closed

[2018-12-02 20:07] #251 closed

[2018-12-02 20:08] Fsetrodinomo commented on #251
Done

[2018-12-02 20:17] Fsetrodinomo commented on #227
Donee

[2018-12-02 20:17] #227 closed

[2018-12-02 20:34] Fsetrodinomo commented on #216
done

[2018-12-02 20:34] #216 closed

[2018-12-03 09:48] #231 closed

[2018-12-03 09:48] Fsetrodinomo commented on #231
done

[2018-12-03 12:07] Joshua260403 opened #252 "Can't run the project anymore"
**System details**
- OS: windows 10
- SFML version: 2.5.x

**The bug**
The code stopped working on my laptop after merging develop into my branch.
The errors are in files that don't belong to the project.

**Extra info**
- First run: N
- Tried cleaning: Y
- Tried deleting build: N
- Tried to fix: N
- Added asserts: N
- Used breakpoints: N

[2018-12-03 12:14] Joshua260403 commented on #200
Theres something going wrong here i believe, there is currently two id classes: tile_id and id

[2018-12-03 12:18] Joshua260403 commented on #200
Hmmm, its gone after another merge.

[2018-12-03 12:18] Joshua260403 commented on #252
Fixed by merging again

[2018-12-03 12:18] #252 closed

[2018-12-03 12:19] Joshua260403 commented on #229
Doesn't work for me

[2018-12-03 12:20] Joshua260403 commented on #229
I believe another merge conflict has gone wrong

[2018-12-03 12:20] Joshua260403 commented on #229
Ill try and find it

[2018-12-03 12:36] Joshua260403 commented on #200
The header was added to the .pri but it didn't exist

[2018-12-03 13:09] Joshua260403 commented on #229
The class should have functions to move the camera right?

[2018-12-03 13:10] Joshua260403 commented on #229
It doesn't have that.
Also this was done by an unknown person who isn't in team.md, thats why it wasn't closed i think.

[2018-12-03 19:12] richelbilderbeek commented on #91
The test `FIX_ISSUE_91` does not pass yet, so re-opened this Issue.

[2018-12-03 19:19] richelbilderbeek opened #253 "Remove game::add_tiles member function"
**Is your feature request related to a problem? Please describe.**

`game` has a member function called `add_tiles`. It is never used.

**Describe the solution you'd like**

Remove its declaration (in the header) and its definition (in the implementation file).

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-12-03 19:19] richelbilderbeek opened #254 "Delete game::delete_tiles member function"
**Is your feature request related to a problem? Please describe.**

`game` has a member function called `delete_tiles`. It is never used.

**Describe the solution you'd like**

Remove its declaration (in the header) and its definition (in the implementation file).

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-12-03 19:21] richelbilderbeek opened #255 "Delete game::add_agent member function"
**Is your feature request related to a problem? Please describe.**

`game` has a member function called `add_agent`. It is never used.

**Describe the solution you'd like**

Remove its declaration (in the header) and its definition (in the implementation file).

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-12-03 19:23] richelbilderbeek opened #256 "Make game::merge_tiles private"
**Is your feature request related to a problem? Please describe.**

The `game::merge_tiles` member function is public. It needs not and should not be.

**Describe the solution you'd like**

Move this member function to the private part of the `game` class

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-12-03 19:25] richelbilderbeek opened #257 "Make game::m_selected private"
**Is your feature request related to a problem? Please describe.**

The `game::m_selected` member variable is public. Member variables should (close to) never be public.

**Describe the solution you'd like**

Move the `game::m_selected` member variable into the private section of the `game` class.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-12-03 19:28] richelbilderbeek opened #258 "Remove 'using namespace sf' in header files"
**Is your feature request related to a problem? Please describe.**

Currently, there are four instances of:

[code]

in header files. One should never do so in header files.

**Describe the solution you'd like**

Delete these lines. Fix compile errors by prefixing 'unknown types by `sf::`.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-12-04 06:58] Fsetrodinomo commented on #231
done

[2018-12-04 07:16] Fsetrodinomo commented on #256
done

[2018-12-04 07:16] #256 closed

[2018-12-05 18:05] Joshua260403 commented on #250
I think the water tile should have a tile specific property indicating how deep the water is. Certain agents can only move to waters with certain depths, for example:
Agent | Minimum depth | Maximum depth
---|---|---
Crocodile | 0 | 10
Cow | 0 | 5
Shark | 10 | 35
Whale | 15 | 35
Fish | 5 | 35

[2018-12-05 18:19] Joshua260403 opened #259 "Votes and Suggests"
@richelbilderbeek we'll have to make sure everybody knows this exists, but it seems like the misc column was removed, and there's to many people to assign everyone. I suggest we address the suggest and vote issues at the start of an evening.

[2018-12-05 18:21] Joshua260403 commented on #202
High priority since this seems to break develop

[2018-12-05 18:21] Joshua260403 commented on #201
High priority since this seems to break develop

[2018-12-06 07:05] richelbilderbeek commented on #259
Good idea: I will write the 'Vote and Suggests' on the whiteboard both these days and explicitly mention it to all Team Octane members.

I indeed removed the 'Misc' column as it was empty.

[2018-12-06 07:07] richelbilderbeek commented on #250
Made high priority, as other Issues depend on it and I want the voting to be done this year.

[2018-12-06 14:40] richelbilderbeek commented on #259
Close this Issue, as I just put this in my lesson plan. I hope the others help me remind if I forget to tell the team about suggestions in the future.

[2018-12-06 14:40] #259 closed

[2018-12-06 15:44] richelbilderbeek opened #260 "Create spider"
Create a new agent named 'spider' and give it a texture.

When you're done, add a spider to the swamp tile (in which there is already a crocodile, keep the crocodile) in 'create_default_tiles()'.

[2018-12-07 09:35] #228 closed

[2018-12-07 09:47] Joshua260403 commented on #255
I think it should stay. It is not used _yet_, but i think it will be in the future.

[2018-12-07 10:08] richelbilderbeek commented on #255
Thanks for your ideas!

There is an acronym for this: YAGNI, see [the Wikipedia page about YAGNI](https://en.wikipedia.org/wiki/You_aren%27t_gonna_need_it) for references. Following these principles, we will delete this function for now.

We will see in which shape this function will reincarnate :rainbow:

[2018-12-07 17:17] richelbilderbeek commented on #235
@azereuz: well done, will close the Issue :+1:

[2018-12-07 17:17] #235 closed

[2018-12-07 17:19] richelbilderbeek commented on #229
I guess that was done on a laptop set up for [Modanung](https://gitlab.com/Modanung) :rainbow:

[2018-12-07 17:20] richelbilderbeek commented on #239
I think @RafayelGardishyan would like a stab at this :+1:

[2018-12-07 17:21] richelbilderbeek commented on #197
Closing it then :+1:

[2018-12-07 17:21] #197 closed

[2018-12-07 17:26] richelbilderbeek opened #261 "Add functions 'is_on_tile(game, x, y)' and is_on_tile(game, agent)"
**Is your feature request related to a problem? Please describe.**

Currently, we have no way to easily measure if a coordinat and/or agent is on a tile or not.

**Describe the solution you'd like**

Add two functions:

[code]

The second function should call the first one.

Write tests for both functions: one if the coordinat/agent is on a tile, and one if it is not.

**Describe alternatives you'

[2018-12-07 17:30] richelbilderbeek commented on #241
Set to medium priority, as we'll want to play with this soon.

[2018-12-07 17:35] richelbilderbeek commented on #188
Was already fixed, closing it :+1:

[2018-12-07 17:35] #188 closed

[2018-12-07 18:23] #204 closed

[2018-12-07 19:51] Joshua260403 commented on #91
Was placed at to be tested, but this is architectural.

[2018-12-07 19:55] robkruger commented on #91
Where is it meant to be placed then?

[2018-12-07 19:57] robkruger commented on #250
I think this is the best idea.

[2018-12-07 19:58] EllyJet commented on #250
I agree, this way there is a visual cue to the player as to what kind of water it is

[2018-12-07 20:13] #258 closed

[2018-12-07 20:14] Fsetrodinomo commented on #250
Is it possible to combine the suggestion from richel and Joshua ?

[2018-12-07 20:18] annehinrichs22 commented on #250
I agree. I think the most complicated option is always the best because this adds interestedness to the game and makes it more like a simulator.

[2018-12-07 20:36] same-drenth commented on #250
I think that Jan's suggestion is a bit too complicated for now but the other ideas combined gave me an idea for how to represent it visually. The lines seen on maps to represent depth.
![image](https://user-images.githubusercontent.com/12864136/49671364-e11ab700-fa67-11e8-957a-585796b1082d.png)
With these blue gradients.
![image](https://user-images.githubusercontent.com/12864136/49671178-4c17be00

[2018-12-07 20:42] same-drenth opened #262 "Mountain goat for in the mountains"
I want to make an animal. So the mountains get an animal and the most logical one would be the mountain goat.

[2018-12-07 21:02] Joshua260403 commented on #246
OCLINT, our good friend, is complaining again:
/home/travis/build/richelbilderbeek/djog_unos_2018/agent_type.cpp:77:3: constant conditional operator [basic|P2]
/home/travis/build/richelbilderbeek/djog_unos_2018/agent_type.cpp:89:3: constant conditional operator [basic|P2]
/home/travis/build/richelbilderbeek/djog_unos_2018/agent_type.cpp:108:10: unnecessary else statement [redundant|P3]
/home/travi

[2018-12-07 21:07] same-drenth commented on #262
resource is done

[2018-12-08 12:43] #91 closed

[2018-12-08 12:43] #201 closed

[2018-12-08 12:43] #202 closed

[2018-12-08 12:43] #254 closed

[2018-12-08 12:43] #255 closed

[2018-12-08 12:43] #257 closed

[2018-12-11 10:56] Joshua260403 commented on #239
Is this done?

[2018-12-11 11:01] Joshua260403 commented on #250
What's the deadline on this?

[2018-12-13 08:03] RafayelGardishyan commented on #239
This is done, but not merged because of OCLINT

[2018-12-13 08:04] RafayelGardishyan commented on #239
Richel, can you fix OCLINT error (See travis build on my branch) on my branch?
I really don't understand that error

[2018-12-13 08:05] RafayelGardishyan commented on #239
Richel, !OCLINT doesn't work

[2018-12-13 13:11] #239 closed

[2018-12-13 13:20] Joshua260403 commented on #230
Wrong decision though

[2018-12-13 19:17] Rijk-van-Putten commented on #250
Idea|Proposed by|Vote
---|---|---
Types (simple)|Richel|Y
Types (complex)|Jan|N
Tile depth variable|Joshua|N
Depth lines|Same|N

[2018-12-13 19:40] Joshua260403 commented on #242
@martje127 tested this, but didn't close it.

[2018-12-13 19:40] #242 closed

[2018-12-13 19:42] Joshua260403 commented on #241
Is this done? There is a tree visible

[2018-12-13 19:43] robkruger commented on #241
When I tested it there was no tree visible so I don't know..?

Outlook voor Android<https://aka.ms/ghei36> downloaden

________________________________
From: DynCoder <notifications@github.com>
Sent: Thursday, December 13, 2018 8:42:28 PM
To: richelbilderbeek/djog_unos_2018
Cc: Rob Kruger; Assign
Subject: Re: [richelbilderbeek/djog_unos_2018] Create 'tree' agent (#241)

Is this done? There is a tr

[2018-12-13 19:53] Joshua260403 commented on #241
https://snag.gy/g62qcY.jpg

[2018-12-13 20:21] richelbilderbeek commented on #230
I think that Jolien somehow used an older version?

Trick I just learned: just let your branch be overwritten by develop:

[code]

Perhaps she'd like this :+1:

[2018-12-13 21:03] Joshua260403 opened #268 "Tiles not merging"
**The bug**

When merging two tiles that are not both grassland the tile moves but it doesn't get merged.

**How to reproduce**
1. select the desert tile
2. press w

**Hypothesis**
The merge_tiles function in game.cpp is incorrect.

**Extra info**
- First run: N
- Tried cleaning: N
- Tried deleting build: N
- Tried to fix: N
- Added asserts: N
- Used breakpoints: N

[2018-12-14 06:40] robkruger commented on #241
I think it's done then...

Outlook voor Android<https://aka.ms/ghei36> downloaden

________________________________
From: DynCoder <notifications@github.com>
Sent: Thursday, December 13, 2018 8:53:39 PM
To: richelbilderbeek/djog_unos_2018
Cc: Rob Kruger; Assign
Subject: Re: [richelbilderbeek/djog_unos_2018] Create 'tree' agent (#241)

https://snag.gy/g62qcY.jpg

—
You are receiving this because yo

[2018-12-14 09:48] Joshua260403 commented on #84
Appveyor doesn't know the command qmake

[2018-12-14 10:02] annehinrichs22 commented on #250
Idea | Proposed by | Vote
-- | -- | --
Types (simple) | Richel | N
Types (complex) | Jan | Y
Tile depth variable | Joshua | Y
Depth lines | Same | Y

[2018-12-14 12:35] Joshua260403 commented on #84
YEET I DID IT

[2018-12-14 12:35] Joshua260403 commented on #84
The problem now is std::to_string, "to_string is not a member of std"

[2018-12-14 19:35] richelbilderbeek commented on #84
Awesome! Well done :+1:

[2018-12-14 19:35] #84 closed

[2018-12-14 19:40] Tomstuivenga commented on #250
Idea | Proposed by | Vote
-- | -- | --
Types (simple) | Richel | N
Types (complex) | Jan | N
Tile depth variable | Joshua | Y
Depth lines | Same | N

[2018-12-14 19:41] JolienGay commented on #250
Idea|Proposed by|Vote
---|---|---
Types (simple)|Richel|N
Types (complex)|Jan|N
Tile depth variable|Joshua|Y
Depth lines|Same|Y

[2018-12-14 19:43] robkruger commented on #250
Idea | Proposed by | Vote
-- | -- | --
Types (simple) | Richel | N
Types (complex) | Jan | Y
Tile depth variable | Joshua | N
Depth lines | Same | N

[2018-12-14 20:22] Joshua260403 opened #272 "Agent has stamina"
I would like the agents to have stamina, so when the agents are swimming for too long, they drown.

[2018-12-14 20:28] richelbilderbeek opened #273 "A tile has a depth"
**Is your feature request related to a problem? Please describe.**

A water tile has a variable depth, thanks to #250.

**Describe the solution you'd like**

Add a member variable to `tile`, `m_depth`, a floating point type. Write a getter `get_depth`. Non-water types have a depth of zero. Water tiles have a non-zero depth.

Write the tests to test it.

**Describe alternatives you've considered**

[2018-12-14 20:30] richelbilderbeek commented on #245
Well done, can be merged to develop!

[2018-12-14 20:35] richelbilderbeek opened #274 "Add bird agent"
**Is your feature request related to a problem? Please describe.**

We need a bird agent.

**Describe the solution you'd like**

Create a bird agent and visualize it.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-12-14 20:37] robkruger commented on #243
There were 2 fonts, font.ttf and zen_font.ttf. I used font.ttf because it was more readible.

[2018-12-14 20:51] richelbilderbeek commented on #249
Rephrase: we need a variable-depth water type (thanks to #250) that is less deep than the current.

[2018-12-14 20:54] #260 closed

[2018-12-14 20:57] richelbilderbeek opened #275 "Rename tile_type::ocean to tile_type::water"
**Is your feature request related to a problem? Please describe.**

We voted for a variable-depth water tile (#250).

**Describe the solution you'd like**

Rename the only water-type tile to `water`.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-12-14 21:06] Joshua260403 opened #276 "Update README CI table"
The table shows only travis and codecov as of right now.

Add appveyor to the table, and remove the little temporary one on the bottom (use this table as an example).

[2018-12-14 21:08] #250 closed

[2018-12-14 23:02] Joshua260403 commented on #262
OClint issues

[2018-12-14 23:04] #245 closed

[2018-12-14 23:04] #253 closed

[2018-12-14 23:04] #230 closed

[2018-12-17 13:53] #208 closed

[2018-12-17 13:53] #243 closed

[2018-12-17 15:23] Joshua260403 opened #277 "OClint on appveyor"
Get oclint working on appveyor. Which is hard because oclint is bash.

[2018-12-18 21:44] Joshua260403 commented on #277
@richelbilderbeek can you help with unpacking the .tar.gz. I can't get it to work. Feel free to use my branch for this, as the progress is not on develop yet.

[2018-12-20 09:35] Joshua260403 commented on #249
Wait, thats already an issue...

[2018-12-20 09:35] #249 closed

[2018-12-20 18:07] Joshua260403 opened #282 "Absent tonight"
I won't be there tonight, however I can be reached trough email and i might join the chatroom.

[2018-12-20 18:07] Joshua260403 commented on #282
Oh and i say go

[2018-12-20 19:01] martje127 commented on #272
the stamina is added but i do not now how to make it drown

[2018-12-20 19:05] Joshua260403 commented on #272
1. You're not assigned
2. You can make a separate issue for that if its too hard, when agents have stamina this can be closed

[2018-12-20 19:32] Joshua260403 commented on #272
The test is incorrect:
The line `assert(a.get_stamina() > 0.0)` asserts the stamina is above 0, however, an agents stamina can be 0, it just can't go below that.
Fix it so it asserts stamina is not **below** 0.

[2018-12-20 19:41] Joshua260403 commented on #200
Not so fast

[2018-12-20 19:48] Joshua260403 commented on #200
nah-ah

[2018-12-20 19:48] Joshua260403 commented on #200
wrong column

[2018-12-20 19:54] Joshua260403 commented on #275
Not done, good thing i set up appveyor cus travis had an error

[2018-12-20 19:55] Joshua260403 commented on #282
Did some work from home (put every issue back in 'in progress')

[2018-12-20 20:32] janderkkotlarski opened #283 "Improved line 53 in game.cpp"
Changed n to n - 1 in row 53 in game.cpp to reflect the use of 2 elements.

[2018-12-21 08:48] richelbilderbeek commented on #272
Agree with @Joshua260403 that we need a separate Issue to make an agent drown. For that, we also need a test written. @Joshua260403, want to do so?

The current test is good enough as it is. Its main purpose is about that such a thing compiles. Sure, I could have tested that as such:

[code]

but that is IMHO a bit ridiculous :rainbow:

[2018-12-21 08:49] richelbilderbeek commented on #282
Too bad you were absent (I found out late), but thanks for your work :+1:

[2018-12-21 08:49] #282 closed

[2018-12-21 08:53] richelbilderbeek commented on #200
I saw Rijk's work yesterday, it passed all tests. I was reasonably sure we put it at 'To be merged with develop', but that appears to have been an illusion :rainbow:. Put it there now :1st_place_medal:

[2018-12-21 09:21] Joshua260403 commented on #200
Github said rijk and develop are identical

[2018-12-21 09:21] #200 closed

[2018-12-21 12:17] Joshua260403 commented on #283
Could you explain this?

[2018-12-21 12:20] Joshua260403 commented on #283
I didn't see an issue with i < n

[2018-12-21 17:00] same-drenth opened #284 "Ik kom vanavond niet"

[2018-12-21 18:07] Joshua260403 commented on #284
English pls

[2018-12-21 18:33] #283 closed

[2018-12-21 18:42] richelbilderbeek commented on #274
Bird sprite is added in `resources`, someone else can take over if he/she wants to :+1:

[2018-12-21 18:46] richelbilderbeek commented on #284
Makes not out, until seens and the nexte time :rainbow:

[2018-12-21 18:46] #284 closed

[2018-12-21 18:48] richelbilderbeek commented on #211
I am freeing up the Issue, as it would be good to have it fixed in 2018.

[2018-12-21 19:24] richelbilderbeek opened #285 "An agent is removed if health is below zero"
**Is your feature request related to a problem? Please describe.**

Currently, agents have health, but nothing is done with it.

**Describe the solution you'd like**

Remove agents that have health below zero.

There is a test that checks if a starved cow is indeed removed:

[code]

Note that the tests will freeze the program if the cow does not starve, which is #287!

**Describe alternatives you'

[2018-12-21 19:37] robkruger opened #286 "Water should be darker when depth is higher"
### Issue Description
Describe here what the issue is

The water tile should become dark blue when it's deep and light blue when it isn't and something in between.

[2018-12-21 19:37] richelbilderbeek opened #287 "A cow must starve if the only agent"
**Is your feature request related to a problem? Please describe.**

Currently, cows have health, but they do not starve yet.

**Describe the solution you'd like**

Cows must starve if they are alone in the world.

This test must pass:

[code]

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2018-12-21 19:45] richelbilderbeek opened #288 "grass grows"
**Is your feature request related to a problem? Please describe.**

Currently, grass has a stable health. It should increase each turn (as the sun is always shining).

There is a test for this:

[code]

**Describe the solution you'd like**

Grass should increase in health when nothing happens.

**Describe alternatives you've considered**

None.

**Additional context**

 * We do assume the sun is a

[2018-12-21 19:53] Joshua260403 opened #289 "Agent can pass out of exhaustion"
When an agent doesn't have anymore stamina, he/she should pass out.

Make it so when an agent's stamina is 0, the agent stops moving.

[2018-12-21 20:36] #211 closed

[2018-12-21 20:36] #273 closed

[2018-12-21 22:43] Joshua260403 opened #290 "Fix stamina test"
Currently there is a test somewhere that causes appveyor to keep running. This makes it so tests take 1 hour each, and appveyor says the program is failing.

Find the test that does this and comment it, it should be something to do with stamina.

[2018-12-22 10:42] Joshua260403 commented on #290
It's actually my assertion that fails, so what happens when appveyor gets an assertion error: it stops doing anything and waits it out

[2018-12-22 10:42] #290 closed

[2019-01-04 14:31] richelbilderbeek opened #291 "Declare 'get_fill_color' in sfml_game.h"
**Is your feature request related to a problem? Please describe.**

Currently, `get_fill_color` is a free function defined in `sfml_game.cpp`

[code]

**Describe the solution you'd like**

Add a declaration of this function in `sfml_game.h`.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-01-04 16:01] Joshua260403 opened #292 "Add "ben ik een spin" Easter Egg"
play [Ben Ik Een Spin](https://github.com/richelbilderbeek/music/blob/master/BenIkEenSpin.md) if there is only one spider in the game and the user hovers his/her mouse over that spider

[2019-01-04 16:21] Joshua260403 commented on #292
@richelbilderbeek problem, 10 megabytes is too much

[2019-01-04 17:09] Joshua260403 commented on #292
i keep getting code 3, i think its because of the file size

[2019-01-04 17:13] Joshua260403 commented on #292
debugger doesn't help, only outputs debugging starts and debugging has finished

[2019-01-04 17:40] Joshua260403 commented on #292
i found it its the runtime error, meaning it fails to open the file. I dont know why that happens though

[2019-01-04 18:30] Joshua260403 commented on #292
@richelbilderbeek bad news, your audio file cant be read. Tried it with 3 different media players, but none of them can read it. I will now try the mp3 file and if works i may be able to convert it to ogg

[2019-01-04 18:57] Joshua260403 commented on #292
yay i fixed the file

[2019-01-04 21:51] Joshua260403 commented on #292
@richelbilderbeek run the program with --spin

[2019-01-04 22:41] #292 closed

[2019-01-04 23:10] Joshua260403 commented on #286
And i was right, appveyor failed as soon as i merged with develop. The variable color doesn't exist. Typing the word color instead of the blue value won't work...

[2019-01-04 23:19] Joshua260403 commented on #286
That's temporary: to help you on the way and to get develop working.
Improvements can be made by tweaking some things in the same line where i did my fix;

[2019-01-04 23:21] Joshua260403 commented on #286
I assigned myself to remember to reopen this if the commit saying it fixed this issue reaches master

[2019-01-05 17:02] Joshua260403 commented on #229
I decided it was time the camera worked, removed one `!` (that i already marked like a month and a half ago with a TODO) and now it works -_-
There may be some improvements that could be made but you'll have to look into that.

[2019-01-07 11:49] #275 closed

[2019-01-07 12:53] Joshua260403 commented on #261
Game.cpp line 106

[2019-01-07 13:00] Joshua260403 commented on #268
I believe i found the problem. It doesn't have anything to do with floating point precision or stuff like that, rather with the merge_tiles exiting early.

[2019-01-07 13:12] Joshua260403 opened #294 "Implement screen manager"
I also think this speaks for itself

[2019-01-07 13:16] richelbilderbeek commented on #268
Well done!

[2019-01-07 13:18] Joshua260403 commented on #268
So OClint was right about the early return!

[2019-01-07 16:06] Joshua260403 opened #295 "Remove redundant project files"
The project files `djog_unos_2018_about` and `djog_unos_2018_version` are unnecessary, just like the corresponding main files `main_about` and `main_version`.

Remove these files, and make sure you remove the right one and in the correct way. Should be easy. Don't mess up.

[2019-01-07 16:07] Joshua260403 commented on #295
@richelbilderbeek do you agree?

[2019-01-07 16:38] Joshua260403 commented on #175
Got main.cpp on 100%

[2019-01-07 16:42] Joshua260403 commented on #175
Game.cpp should be pretty easy, just need to figure out why it's not testing the load function

[2019-01-07 16:52] Joshua260403 commented on #288
Actually, im going to have to reopen this. You made the first agent in the list of agents grow in health, not every grass agent... Also using `get_agents()[0]` will probably give errors at some point in time when theres no agents at all on the screen.

[2019-01-08 18:23] Joshua260403 commented on #261
I have a couple of questions here,
1. How is it supposed to work if the only thing it can return is true
2. Why was this in done

[2019-01-08 18:40] Joshua260403 commented on #286
This is broken because @richelbilderbeek removed the variable declerations. He did that with a reason though. Because @robkruger is doing so many issues, part of the work of one issue came to develop with the finished work of the others. The work that was done for this issue caused OClint to say the variables were unused (because they were at the moment, OClint is always right). So when @robkruger

[2019-01-08 18:57] Joshua260403 commented on #261
(Continuing from #286 ) Seeing some issues @robkruger has done (#286 #288 and this one) makes me believe @robkruger is a bit hasty. This isn't always a bad thing, the faster an issue is done, the earlier we can move on to the next step. However, looking back at #110, and seeing the result of his work, i think it's a bit too fast. a couple of his issues aren't even really done, and that results in

[2019-01-08 19:56] #295 closed

[2019-01-08 20:03] richelbilderbeek commented on #261
I agree with the well-written analysis of @Joshua260403. Time for @robkruger to move to bigger things :+1:

[2019-01-10 09:36] Joshua260403 commented on #175
Since this is an ongoing issue, can i stay assigned to this and still do other issues?

[2019-01-10 15:23] richelbilderbeek opened #299 "Remove useless #defines"
**Is your feature request related to a problem? Please describe.**

Tests are typically switched on and of using preprocessor directives:

[code]

If the `FIX_ISSUE_X` is defined and the test pass, the preprocessor directives can be removed, leaving only:

[code]

**Describe the solution you'd like**

Please do so, just search for `  #define` (with two spaces in front of it)

**Describe alternativ

[2019-01-10 15:34] richelbilderbeek commented on #294
I agree that we need one, yet am unsure about the timing: we do not have options, so we don't need an options screen yet.

On the other hand, if a medior wants to do this, I will approve this.

[2019-01-10 15:37] richelbilderbeek commented on #175
Well done @Joshua260403! Getting code coverage to 100% is not only useful, but must have been a nice learning experience.

Perhaps unexpected, axactly for that reason am I going to unassign you here, so another medior can have a shot at this. As codecov is 100%, I will close the Issue for now and re-open when needed.

[2019-01-10 15:37] #175 closed

[2019-01-10 19:47] richelbilderbeek commented on #289
@Joshua260403: Yes, you are right, when it's about :rainbow: health :rainbow:. This issue, however is about stamina. Well, we all get confused once in a while, keep up the good job :+1:.

[2019-01-11 16:09] richelbilderbeek opened #300 "Grass creates new grass"
**Is your feature request related to a problem? Please describe.**

Currently, grass just grows, but does not create new grasses.

**Describe the solution you'd like**

After a while, a grass agent should create a new grass agent.

Or, this test should pass:

[code]

**Describe alternatives you've considered**

None.

**Additional context**

Running the test now will freeze the game.

[2019-01-11 16:19] richelbilderbeek opened #301 "Cows eat grass"
**Is your feature request related to a problem? Please describe.**

Current, cow and grass agents ignore each other.

**Describe the solution you'd like**

When cow and grass are at the same position,

 * the grass should decrease in health, as it is eaten
 * a cow should increase in health, as it is eating

Or, fix this test:

[code]

**Describe alternatives you've considered**

None.

**Addition

[2019-01-11 16:29] richelbilderbeek opened #302 "Score decreases when an agent dies"
**Is your feature request related to a problem? Please describe.**

Currently, the score is not changed.

**Describe the solution you'd like*

When an agent dies, score should decrease.

Or, this test must pass:

[code]

**Describe alternatives you've considered**

None.

**Additional context**

Depends on #285, will freeze if that Issue is not fixed.

[2019-01-11 16:38] richelbilderbeek commented on #261
To fix this Issue, fix this test:

[code]

[2019-01-11 16:41] richelbilderbeek opened #303 "A sessile agent (e.g. cow) must loose al health when moving on nothing"
**Is your feature request related to a problem? Please describe.**

Currently, agents stay alive when walking on nothing.

**Describe the solution you'd like**

When a sessile agent moves on nothing, they should lose all health.

Or fix this test:

[code]

**Describe alternatives you've considered**

None.

**Additional context**

None,

[2019-01-11 16:44] richelbilderbeek opened #304 "Agents must follow the movement of the tile they are on"
**Is your feature request related to a problem? Please describe.**

Currently, the agents move indendent of the tiles.

**Describe the solution you'd like**

When a tile moves with an agent on it, the agent should be dragged along with it.

Or, this test must pass:

[code]

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-01-11 16:58] Joshua260403 commented on #261
Not only that, the function itself is currently a stub.

Op vr 11 jan. 2019 17:38 schreef Richel Bilderbeek <notifications@github.com
:

[2019-01-11 17:43] richelbilderbeek opened #305 "Trees grow"
**Is your feature request related to a problem? Please describe.**

Currently, trees have a stable health. It should increase each turn (as the sun is always shining).

**Describe the solution you'd like**

Trees should increase in health when nothing happens.

There is a test for this:

[code]

**Describe alternatives you've considered**

None.

**Additional context**

 * We do assume the sun is

[2019-01-11 20:21] same-drenth opened #306 "add hills"
Make hills as a tile type so I can use it for the tile merging.

[2019-01-11 20:24] same-drenth opened #307 "add mangrove"
Make the tile type mangrove so I can use it for the tile merging.

[2019-01-11 20:26] same-drenth opened #308 "Add Dunes"
Make dunes as a tile type so I can use it for the tile merging.

[2019-01-11 20:27] same-drenth opened #309 "Add beach"
Make beach as a tile type so I can use it for the tile merging.

[2019-01-11 21:01] same-drenth commented on #244
Tile type update

**Core tiles**
- grassland
- desert
- water
- woods

hills = grass + grass
mountains = hills + hills
savannah = gass + desert
arctic =  water + mountains
swamp = water + grass; mangrove + grass
mangrove = water + woods
beach = dessert + water; dunes + water
dunes = hills + beach
rain_forrest = woods + woods
tundra = savannah + arctic

[2019-01-11 21:02] same-drenth commented on #244
![image](https://user-images.githubusercontent.com/12864136/51059467-9a7f2600-15ec-11e9-85e5-216ea38b9e88.png)

[2019-01-11 21:07] same-drenth opened #310 "Add rain_forrest"
Make rain_forrest as a tile type so I can use it for the tile merging.

[2019-01-11 21:08] same-drenth opened #311 "Add tundra"
Make tundra as a tile type so I can use it for the tile merging.

[2019-01-13 10:59] robkruger commented on #304
programs has to be progress obviously

[2019-01-15 16:08] Joshua260403 opened #312 "Document: don't use `fix #XXX` in commit name"
**[edit by @richelbilderbeek]**

To quote @Joshua260403:

This should be documented at the `git` pages, instead using `progress #XXX` should be preferred. Mentioning the Issue is useful in finding back the commits that worked on the Issue.

[2019-01-15 16:13] Joshua260403 opened #313 "Remove unaccepted `//!OCLint` in `color_tile_shape`"

[2019-01-15 16:16] Joshua260403 commented on #299
Is @JolienGay doing this one? If so, please assign yourself.

[2019-01-15 20:45] #313 closed

[2019-01-16 11:49] Joshua260403 commented on #294
@richelbilderbeek could you help with something, travis has problems with the video mode

[2019-01-16 16:32] Joshua260403 commented on #261
check!

[2019-01-16 16:32] #261 closed

[2019-01-16 16:34] #288 closed

[2019-01-16 16:44] richelbilderbeek commented on #294
@Joshua260403: indeed, Travis CI does only emulate a screen. I've observed that using full-screen crashes on Travis. A fixed screen resolution like we have now works fine.

Does that help?

[2019-01-16 16:46] Joshua260403 commented on #294
So it could be getDesktopMode causing the issues

Op wo 16 jan. 2019 17:44 schreef Richel Bilderbeek <notifications@github.com
:

[2019-01-16 16:50] richelbilderbeek commented on #294
Sounds like perfectly valid hypothesis!

[2019-01-16 19:14] Joshua260403 commented on #304
Oh wow this is great!

[2019-01-16 19:34] Joshua260403 commented on #304
:+1: 🍀

[2019-01-16 19:46] Joshua260403 commented on #304
Remember to reopen this if you are going to improve it!

[2019-01-16 19:55] Joshua260403 commented on #294
Bonus: the screen is resize-able ⭐⭐⭐

[2019-01-16 20:42] Joshua260403 commented on #294
@richelbilderbeek ![screenshot](https://snag.gy/rfWTdp.jpg)

[2019-01-16 20:43] Joshua260403 commented on #294
That's october till now

[2019-01-17 18:39] #286 closed

[2019-01-17 18:40] martje127 commented on #274
there is a bird

[2019-01-17 18:40] #274 closed

[2019-01-17 18:42] martje127 commented on #304
the agents folow the tile wehn the are on the tile

[2019-01-17 18:42] #304 closed

[2019-01-17 18:42] martje127 commented on #262
yes there are goats on the moantens

[2019-01-17 18:42] #262 closed

[2019-01-17 18:43] martje127 commented on #247
there is a zen logo

[2019-01-17 18:43] #247 closed

[2019-01-17 18:48] Joshua260403 commented on #299
I will assign @JolienGay to prevent this issue from being done twice

[2019-01-17 20:35] Joshua260403 commented on #192
The way screens work has changed, you can ask me (@Joshua260403) for help with the new screen manager

[2019-01-17 20:41] Joshua260403 commented on #301
This was already added with agent can starve, better luck next issue 🍀 🍀 🍀

[2019-01-17 20:44] Joshua260403 commented on #303
This one is also already done, but it was commented because is_on_tile was a stub.

[2019-01-17 21:04] Joshua260403 commented on #303
Doesn't work though, wierd stuff 🌱

[2019-01-18 10:45] richelbilderbeek commented on #312
Valid point! The `fix #xxx` is a nice idiom, but we merge builds that pass with `master` too easy. I will use `progress #xxx` myself now instead.

[2019-01-18 10:46] richelbilderbeek commented on #294
I hope you'll show this in the end presentation to the parents. It will compliment the both of us!

[2019-01-18 16:40] #294 closed

[2019-01-18 18:51] richelbilderbeek commented on #268
@janderkkotlarski: can this Issue be closed?

[2019-01-18 18:53] Joshua260403 opened #314 "Must not be able to deselect a tile while it is moving"
And also tile movement has to move to game instead of sfml_game.

For the people who don't know: the bug is that you can deselect a tile while it's moving to stop it mid movement and misplace it.

[2019-01-18 19:22] #229 closed

[2019-01-18 20:40] JolienGay opened #315 "Documentation edited"
Edited documentation about download/install Qt in install.md.

[2019-01-18 20:46] #291 closed

[2019-01-18 21:04] JolienGay commented on #299
I've done some of the redundant #defines but could not finish all in time. Please reinstate this issue next week friday for JolienGay. Thanks!

[2019-01-21 20:13] Joshua260403 commented on #314
@richelbilderbeek i was working on a project of my own when i found this:
https://github.com/codecov/example-cpp11
https://docs.codecov.io/docs/supported-languages (C++11)

[2019-01-23 16:54] richelbilderbeek opened #316 "Fix mountain goat image"
**Is your feature request related to a problem? Please describe.**

Currently, the mountain goat image is fuzzy and has a non-transparent background:

![2019-01-23-175209_1920x1056_scrot](https://user-images.githubusercontent.com/2098230/51622810-b1e8d800-1f37-11e9-95d2-ba6524aa9740.png)

This is caused due to the image format being JPG.

**Describe the solution you'd like**

 * Find the original,

[2019-01-23 17:16] richelbilderbeek opened #317 "Agents must not be pushed off tile"
**Is your feature request related to a problem? Please describe.**

Currently, agents are pushed off a tile when two tiles merge:

![1](https://user-images.githubusercontent.com/2098230/51624296-c8446300-1f3a-11e9-94d1-b52a54956e7d.png)

The ones being pushed off are the agents on the non-moving tile.

**Describe the solution you'd like**

I would like the agents on the non-moving tile to not be p

[2019-01-23 17:28] richelbilderbeek opened #318 "Arrange default tiles that all merge types are possible"
**Is your feature request related to a problem? Please describe.**

Currently, we can merge two grasslands. That is the only merge we encounter in practice. In the back, there are four possible merges, as can be seen in `get_merge_type`.

**Describe the solution you'd like**

Arrange the default tiles in such a way we can see all four merged type in the game.

**Describe alternatives you've consid

[2019-01-24 18:35] martje127 commented on #310
there is no rain_forest

[2019-01-24 18:36] martje127 commented on #306
there is no hills

[2019-01-24 18:38] martje127 commented on #309
there is no beach

[2019-01-24 18:52] #289 closed

[2019-01-24 19:24] martje127 commented on #306
there is a hill

[2019-01-24 19:24] #306 closed

[2019-01-25 11:23] Joshua260403 opened #322 "Master broke!!!"
Oh no, it seems like @RafayelGardishyan broke master.

Someone has to fix this asap!

[2019-01-25 15:30] richelbilderbeek commented on #299
Will move Issue back :rainbow: so I hope you'll continue this good work.

Note that the defines for #300 must be put back, as the tests appear to fail :+1:

[2019-01-25 15:31] richelbilderbeek commented on #315
Well done, thanks :+1: !

[2019-01-25 15:31] #315 closed

[2019-01-25 15:34] JolienGay commented on #299
Shall I use develop or your repository this time to pull? Also, is it
normal that the game currently does not start?

On Fri, 25 Jan 2019 at 16:30, Richel Bilderbeek <notifications@github.com>
wrote:

[2019-01-25 15:45] richelbilderbeek commented on #268
I've seen tiles merging!

Closing this Issue :1st_place_medal:

[2019-01-25 15:45] #268 closed

[2019-01-25 15:47] richelbilderbeek commented on #299
As a general rule, use `develop`.

Indeed, the game crashes now (#322) and I am working on it now. I'll email when things work fine again :+1:

[2019-01-25 15:51] richelbilderbeek commented on #322
It appears the game is flooded with agents :grin:
![2019-01-25-165044_1920x1056_scrot](https://user-images.githubusercontent.com/2098230/51756495-724df780-20c1-11e9-9414-8a5a145caae6.png)

[2019-01-25 15:56] JolienGay commented on #299
Oh ok, ignore the question about qt in my mail then. Thanks for the reply!

On Fri, 25 Jan 2019 at 16:47, Richel Bilderbeek <notifications@github.com>
wrote:

[2019-01-25 16:02] richelbilderbeek commented on #299
It's fixed (p = 99%)!

[2019-01-25 16:12] richelbilderbeek commented on #322
Well done @richelbilderbeek :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1: :+1:

[2019-01-25 16:12] #322 closed

[2019-01-25 16:15] Joshua260403 commented on #322
? :confused:

Op vr 25 jan. 2019 17:12 schreef Richel Bilderbeek <notifications@github.com
:

[2019-01-25 16:20] richelbilderbeek commented on #300
@janderkkotlarski: you did it! It is fixed, well done :+1:

[2019-01-25 16:22] richelbilderbeek opened #323 "Display number of ticks at top-left of game"
**Is your feature request related to a problem? Please describe.**

Currently, `game` counts the number of ticks. I want those ticks visualized, so we can measure an actual frame rate.

**Describe the solution you'd like**

Show the ticks at the top left of the screen.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-01-25 16:32] richelbilderbeek opened #325 "An agent must have a direction"
**Is your feature request related to a problem? Please describe.**

Currently, agents move around randomly, like smoke particle. In reality, agents have a direction.

**Describe the solution you'd like**

To the `agent` class:

 * add a member variable `m_direction`. It should be zero after construction
 * add a member function `get_direction` to get the agent's direction
 * add a member function

[2019-01-25 16:36] richelbilderbeek opened #326 "Cows walk towards grass iff grass is close"
**Is your feature request related to a problem? Please describe.**

Currently, agents move around randomly. In reality, cows commonly walk towards grass if it sees grass.

**Describe the solution you'd like**

Make cows walk towards grass iff grass is close.

Follow these steps:

 1. Create a test in `game` that fails. Surround it by preprocessor statements, so other team member can still run thei

[2019-01-25 16:39] richelbilderbeek commented on #301
Test fails now. I've renamed it to `FIX_ISSUE_301` again.

[2019-01-25 16:47] richelbilderbeek opened #327 "Improve menu screen"
**Is your feature request related to a problem? Please describe.**

Currently, the menu screen (run with `--menu` looks like this:

![2019-01-25-174507_1722x910_scrot](https://user-images.githubusercontent.com/2098230/51759664-0e2f3180-20c9-11e9-99e1-f80ac883f3e6.png)

**Describe the solution you'd like**

I would like the menu screen:

 * display 'Nature Zen' at the top
 * have a 'Start' button

[2019-01-25 16:50] richelbilderbeek opened #328 "Make about screen work"
**Is your feature request related to a problem? Please describe.**

Currently, when running Nature Zen with `--about`, the program crashes.

**Describe the solution you'd like**

When running Nature Zen with `--about`, the program should show an about screen.

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-01-25 16:55] richelbilderbeek commented on #316
@Rijk-van-Putten: you forgot to rename `mountain_goat.jpg` to `mountain_goat.png` in the project files. I conclude, apparently, you forgot to run it. No problem, I think this was due to the time-to-leave moment. I've fixed it :+1:

[2019-01-25 16:57] richelbilderbeek commented on #316
Works!

[2019-01-25 16:57] #316 closed

[2019-01-25 16:58] richelbilderbeek commented on #192
@Tomstuivenga: I am going to liberate you from this Issue, due to the new windows manager by @Joshua260403.

@Joshua260403: could you make a stub of the Game Over screen? I will assign you :innocent:

[2019-01-25 17:18] Joshua260403 commented on #327
thats not what it should look like, would you like me to do the repositioning together with the game over screen

[2019-01-25 17:19] Joshua260403 opened #329 "Me (and Same) will be absent"
Same asked me to notify his absence

I will be doing some work at home

[2019-01-25 17:56] Joshua260403 commented on #327
For the person who does this, all that has to be done is change positions and maybe change the colors. This is all done in display. Also if there is a set origin somewhere in the menu screen class, remove it.

[2019-01-25 17:58] Joshua260403 commented on #327
@richelbilderbeek a menu screen actually does not have a big title at the top, that would make it a second title screen which it is not.

[2019-01-25 18:34] richelbilderbeek opened #330 "Gezellig in the chatroom tonigh"
We are in the [IRC chatroom](https://webchat.freenode.net/?channels=nature_zen_devs) tonight, as most people work from home.

[2019-01-25 18:54] robkruger opened #331 "A game event should move tiles"
`g.process_events()` should move a tile

The test is:

[code]

[2019-01-25 19:33] Joshua260403 opened #332 "Improve tile colors"

[2019-01-25 19:34] Joshua260403 opened #333 "Create texture for hills and dunes"

[2019-01-25 19:34] Joshua260403 opened #334 "Create texture for mountains"

[2019-01-25 19:34] Joshua260403 opened #335 "Create texture for water"

[2019-01-25 19:34] Joshua260403 opened #336 "Create texture for beach"

[2019-01-25 19:34] Joshua260403 opened #337 "Create texture for tundra"

[2019-01-25 19:34] Joshua260403 opened #338 "Create texture for arctic"

[2019-01-25 19:35] Joshua260403 opened #339 "Create texture for swamp"

[2019-01-25 19:36] Joshua260403 commented on #331
Not sure if this can be tested

[2019-01-25 19:38] Joshua260403 commented on #331
Also if this works the test for agent follows tile should work too

[2019-01-25 19:53] Joshua260403 commented on #287
That must mean you broke it, because this works for me

[2019-01-25 19:57] Joshua260403 commented on #287
Go ahead then

[2019-01-25 19:58] Joshua260403 commented on #287
wait no, im actually working in the same function

[2019-01-25 20:05] robkruger commented on #331
It does

[2019-01-25 20:15] Joshua260403 commented on #331
Which one, the test for agent follows tile or it has to be tested

[2019-01-25 20:18] #301 closed

[2019-01-25 20:20] Joshua260403 commented on #287
this works for me. @richelbilderbeek could it be that rob has less ram qt creator is allowed to use

[2019-01-25 20:25] Joshua260403 opened #340 "Birds can fly over the void"
@richelbilderbeek thought this was true already, little did he know his test was wrong. He used a.move(), which doesn't contain the killing part.

Uncomment the define for this test:

and get to fixing.
You should only have to add 1 line to the code!

[2019-01-25 20:30] Joshua260403 opened #341 "Find and remove a forgotten debugging cout"
Whoops, I left a std::cout somewhere in a test. I placed it there for debugging purposes, but now it's just in the way.
Find it, hunt it down, delete it.

[2019-01-25 20:31] Joshua260403 commented on #328
Doesn't crash on windows i don't think

[2019-01-25 20:33] Joshua260403 commented on #328
Nop, works just fine, meaning this is probably either a linux thing, you didn't test it, or it works for me because my pc is filled to the brim with messy libraries everywhere

[2019-01-25 20:40] Joshua260403 commented on #305
this is done......

[2019-01-25 20:40] #305 closed

[2019-01-25 20:45] JolienGay commented on #312
Added documentation in git.md, I hope I understood this correctly and it is what was intended.

[2019-01-25 20:50] Joshua260403 commented on #323
If you want to be fancy:
Use `#ifndef NDEBUG` to only display them in debug mode

[2019-01-25 20:53] richelbilderbeek commented on #312
Well done, exactly what I hoped for :+1:

Closing the Issue :rainbow:

[2019-01-25 20:53] #312 closed

[2019-01-25 21:10] JolienGay commented on #299
The useless defines of #204 and #303 have been removed. Sorry for not finishing putting #300 back earlier, I had to do a school task first.

Quick question though: I had to search for '  #defines' (with 2 spaces before #). Why exactly? Only 2 issues showed up there, but without the spaces many more. Does this mean I don't have to check tests of other issues?

[2019-01-25 22:08] Joshua260403 commented on #287
@richelbilderbeek does this have to do with the memory thing rob has?

Btw, windows automaticly sets the max ram a program can use for most programs, ill look for a max memory setting

[2019-01-25 22:14] Joshua260403 commented on #287
no setting in qt, but on the internet i found out that by default windows gives 2 GB available

[2019-01-25 22:21] Joshua260403 commented on #192
Q: Does it have to be a stub?

A: I don't care imma hook it up to the rest anyways 🌱

[2019-01-25 22:59] #327 closed

[2019-01-25 22:59] #192 closed

[2019-01-26 11:32] robkruger commented on #317
@richelbilderbeek how do I fix the oclint issue in `game.cpp:152` ?

[2019-01-26 12:56] Joshua260403 commented on #331
I see, it has to be tested. Because it doesn't work correctly

[2019-01-26 12:57] Joshua260403 commented on #317
Travis build failing

[2019-01-26 13:00] Joshua260403 commented on #317
@robkruger use a `return;` in the function to reduce indentation.
Or simpler: change
[code]
to
[code]

[2019-01-26 13:18] #337 closed

[2019-01-26 13:32] Joshua260403 commented on #317
You'll have to google this one as i have no idea what avoid branching statement as last in loop means

[2019-01-26 13:33] robkruger commented on #317
I found and hopefully fixed it

[2019-01-26 13:50] Joshua260403 commented on #317
@robkruger can i merge this?

[2019-01-26 14:03] robkruger commented on #317
Yes

[2019-01-26 14:31] #341 closed

[2019-01-26 14:31] Joshua260403 commented on #317
And that children, is why you update your own branch before updating 🌱

[2019-01-26 14:32] Joshua260403 commented on #317
(it broke)

[2019-01-26 14:45] robkruger commented on #317
Ah, sorry. I did that now, but everything still works.

[2019-01-26 14:56] Joshua260403 commented on #331
Changing this to high priority because we want to check out the result of issue #244.

[2019-01-26 14:56] Joshua260403 commented on #331
Is that a valid reason?

[2019-01-26 15:40] robkruger commented on #287
It works perfectly now without changing anything, weird...

[2019-01-26 16:01] Joshua260403 commented on #287
I fixed it

Op za 26 jan. 2019 16:40 schreef robkruger <notifications@github.com:

[2019-01-26 17:34] robkruger commented on #287
O

[2019-01-26 17:34] robkruger commented on #287
Ah

[2019-01-26 18:30] robkruger commented on #331
Why doesn't it work correctly?

[2019-01-26 19:20] Joshua260403 commented on #331
The tiles move too far

Op za 26 jan. 2019 19:30 schreef robkruger <notifications@github.com:

[2019-01-28 13:56] richelbilderbeek commented on #330
It was gezellig :rainbow:

[2019-01-28 13:56] #330 closed

[2019-01-30 21:01] Joshua260403 opened #342 "Rafayel is absent this week"
Rafayel asked me to tell @richelbilderbeek that he won't be there this week. He sadly has no time.

[2019-01-31 10:13] richelbilderbeek commented on #342
OK, thanks for letting me know!

Poor @RafayelGardishyan, he'll be missing us! :sunglasses:

[2019-01-31 10:13] #342 closed

[2019-01-31 15:36] richelbilderbeek commented on #340
Thanks @Joshua260403, for lifting the veil from my eyes :godmode: !

[2019-01-31 15:50] richelbilderbeek commented on #299
@JolienGay:

Because the following is a test that is working:

[code]

and because the following is a test that is not yet working:

[code]

Thanks for the help, closing this Issue :+1:

[2019-01-31 15:58] richelbilderbeek opened #343 "Birds move (or actually: fly)"
**Is your feature request related to a problem? Please describe.**

Currently, birds stand still. In reality, they move by flying.

**Describe the solution you'd like**

Fix this test:

[code]

**Describe alternatives you've considered**

None.

**Additional context**

None.

[2019-01-31 16:06] richelbilderbeek opened #344 "Agents can drown"
**Is your feature request related to a problem? Please describe.**

It does not matter to cows on which tile they are. In reality, cows need to swim in water. This takes them more effort.

**Describe the solution you'd like**

I would like the stamina of cows to go down faster on water. If the stamina reaches zero, I want the health to go down also faster.

 1. Create a test in `game` that fails.

[2019-01-31 16:13] richelbilderbeek opened #345 "Trees grow"
**Is your feature request related to a problem? Please describe.**

Currently, trees do nothing. In reality, they multiply in time iff undisturbed and abiotic factors are cooperative.

**Describe the solution you'd like**

Make trees multiply, by creating new trees after a while. Watch out: they should not multiply too fast!

Follow these steps:

 1. Create a test in `game` that fails. Surround it

[2019-01-31 16:18] richelbilderbeek opened #346 "Improve 'Sprookje'"
**Is your feature request related to a problem? Please describe.**

This Issue is just to practice `git`, GitHub and the way we work.

**Describe the solution you'd like**

In the folder `doc` there is a file called `sprookje.md`.

From the command-line/terminal/Git Bash, modify one line or add one line. Commit with the message 'Modified sprookje, progress #346'. Then unassign yourself.

**Describ

[2019-01-31 16:21] richelbilderbeek commented on #346
Let's see how easy this goes! Should be easy, if not, this is just a simple exercise :rainbow:

[2019-01-31 18:34] martje127 commented on #340
the birds doen't move. so the can't fly over the void.

[2019-01-31 18:34] Joshua260403 commented on #345
Duplicate of #305

[2019-01-31 18:34] #345 closed

[2019-01-31 18:35] Joshua260403 commented on #344
What do you think about: agents drown.

[2019-01-31 18:37] Joshua260403 commented on #340
there's a test for this, check if the test works and close it if so.

[2019-01-31 18:46] Joshua260403 commented on #307
this is done

[2019-01-31 18:46] #307 closed

[2019-01-31 18:46] martje127 commented on #340
sorry its working

[2019-01-31 18:46] #340 closed

[2019-01-31 18:55] martje127 commented on #317
the code doesn't crash and it works in the game